[2022-07-08 18:26] humancompanion-usds commented on #1038
If we agree this is a good model and where we want to go I've got a few immediate tasks to get us there:

* [ ] Replace the sidenav component in the Pattern layout so that we can have those sub-headers (and not use accordions)
* [ ] Rename the Patterns (we could initially just rename their titles, keep the URLs the same, and have the sidenav use the titles)

[2022-07-08 21:36] #950 closed

[2022-07-08 21:44] davidakennedy commented on #941
# Feedback

I've reviewed this component, and don't have much feedback. As a reminder, here's the feedback framework we use when doing accessibility audits.

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

### Should

**Remove unneeded ARIA labels**

The buttons in the demo hav

[2022-07-08 22:31] TiffanyPender commented on #844
Including a few accessibility feedback notes on the memorable date component below. (Using the feedback format, which may be helpful in determining priority)

**The Positives**
- A legend is included with helpful hint text
- There is a label associated with each input field
- The field borders and associated text appear thicker/bolded when errors are present - the indication of an error is not rel

[2022-07-11 12:45] k80bowman commented on #977
We should also validate that this component handles department-of-veterans-affairs/va.gov-team#11852. If so, that ticket can be closed.

[2022-07-11 15:33] k80bowman opened #1040 "Fix icon overlap in alerts"
## Description
We are still seeing some text overlap with the close icon on the alerts.
![image](https://user-images.githubusercontent.com/12739849/178301174-9d90d990-01c5-41bf-ae3d-1ce005f44ab1.png)
![image](https://user-images.githubusercontent.com/12739849/178301202-4eca2ff4-8cb4-4e88-9a1a-7ae602d1b7ce.png)

## Tasks
- [x] Fix alerts so that text no longer overlaps the close icon

## Acceptance

[2022-07-11 15:53] caw310 commented on #675
Closing as we have addressed most issues or have written tickets for the remaining items that require more time and coordination.

[2022-07-11 15:53] #675 closed

[2022-07-11 15:59] GnatalieH opened #1041 "[Table] - Sketch artifacts"
## Description
Create or update Sketch artifacts for Table and add to the VA Design System Sketch library if they are not already there.

## Details
Need symbol artifacts for several variations:
- Default
- Sortable
- Missing data

See [Storybook](https://design.va.gov/storybook/?path=/docs/components-va-table--default) for details.

## Tasks
- [x] Create or update Sketch artifacts for component
-

[2022-07-11 16:06] GnatalieH commented on #963
Here is the [Mural board audit](https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1657212587413/e9c04daa4f509253154b2a1aa5dc6bbead180413?sender=u851998f98038e0f1e2da4592) for FileInput. WIP.

[2022-07-11 16:15] GnatalieH commented on #963
Suggestions made in meeting with @humancompanion-usds this morning:

**FileInput - Component**
Focus on:
- Content considerations for upload button text specificity (Upload death certificate vs. Upload, for example)
- Header vs. label for upload button (*required instance, too)
- Margin spacing between headers/labels and the upload button
- Guidelines for button style (Primary or Secondary, width)

[2022-07-11 20:18] davidakennedy commented on #961
@artsymartha68 asked me to look into this ticket. Here are a few notes on this pattern:

- I wouldn't classify this as a WCAG violation. The link is still findable for screen readers on the page via text browsing and in the list of links that can be surfaced.
- However, screen readers that use forms mode (JAWS, NVDA), which allow users to traverse and fill out forms more quickly won't notify users

[2022-07-11 21:46] humancompanion-usds opened #1042 "Sidenav is broken on certain nested pages"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

Our sidenav on design.va.gov disappears at 840px viewport width for pages that are child pages of overview pages. But, oddly, this is only on the latest versions of these even though they share a layout where this problem doesn't show up.

For example:
https://design.va.gov/content-s

[2022-07-11 22:30] humancompanion-usds commented on #1038
This update does not solve for “One Thing per Page”. The UK puts that under Design Principles which are in their Service Manual documentation, a distinct site from their design system. I do have a place for Design Principles in our Component template but stupidly did not put it in the Pattern template. Thus I'll fix that when I write "Check a service is suitable".

The other use case I was struggl

[2022-07-12 03:59] #1017 closed

[2022-07-12 13:51] k80bowman commented on #775
Let's make sure that the issues reported in department-of-veterans-affairs/va.gov-team#40492 and department-of-veterans-affairs/va.gov-team#43969 are addressed as part of the work for this ticket.

[2022-07-12 14:26] andresriveratoro commented on #1011
The Storybook examples are in. Reassigning to @humancompanion-usds

[2022-07-12 16:36] jimuhh commented on #1038
@humancompanion-usds
Wondering about the user testing that went into this schema? I know that UK.gov is generally very good about that but curious how this performed with technically savvy web people? I'd be particularly interested in how time on task compared to the standard layout.
I'm asking because of a Nielsen/Norman article called, **[Use Specialized Language for Specialized Audiences](https

[2022-07-12 17:27] k80bowman opened #1045 "Button Pair - Announcement"
## Description
Add an item to the monthly [What's New update Confluence page](https://vfs.atlassian.net/wiki/spaces/DST/pages/2301100061/Monthly+DS+Updates+to+What+s+New) that says the Link web component is ready for use. It should include a link to the component on design.va.gov.

## Details
Dependent on the completion of development, the creation of Sketch artifacts and component page, and docum

[2022-07-12 17:41] andresriveratoro commented on #941
Thank you for helping us out with this one, @davidakennedy.

[2022-07-12 17:44] #1042 closed

[2022-07-12 18:33] #941 closed

[2022-07-12 18:55] TiffanyPender commented on #844
For the duplicate IDs on the input elements mentioned in the previous comments, this does not seem to be an accessibility blocker. As @bkjohnson mentioned, the IDs do not appear in the same DOM. In screen reader testing, as well as looking at the form control rotor, it lists each field separately with the appropriate label. And automated testing with Axe DevTools does not list this as an issue. Ma

[2022-07-12 19:07] GnatalieH commented on #1045
Thanks for doing these awesome issue templates, @k80bowman! I noticed two Slack channels you may want to add to the bullet list for announcements:

#platform-design
#platform-design-system

Thanks!

[2022-07-12 19:39] k80bowman opened #1046 "Announce deprecation of Date and RadioButtons React components"
## Description
Once all backlog tickets related to these two components have been resolved, we need to announce that we are fully deprecating the Date and RadioButtons React components. These two are already marked as deprecated in Storybook. RadioButtons does not seem to have an ESLint rule, so we should add that.

## Details
Depending on the result of department-of-veterans-affairs/va.gov-team#4

[2022-07-12 20:07] caw310 opened #1047 "Content style guide updates"
# Bug Report

- [X] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
The following feedback was provided by an Instructional Systems Specialist with Veterans Benefits Administration

[VA.gov content style guide - VA.gov Design System](https://design.va.gov/content-style-guide/)
Begins with, “This is our house style guide for the VA.gov website.” Is the

[2022-07-12 20:55] k80bowman opened #1048 "File Input web component: Migration"
## Description
Create an ESLint rule for the FileInput component. It is only used in three places in vets-website, so it might be worth reaching out to those teams and encouraging them to migrate as well.

## Tasks
- [x] Create an ESLint rule (warning) for the FileInput React component
- [x] Notify teams using this component and encourage them to migrate to the web component version

## Acceptance

[2022-07-12 20:58] caw310 commented on #980
Closing as audit is not needed since OMB info was updated during the consistency audit work.

[2022-07-12 20:58] #980 closed

[2022-07-12 20:59] caw310 commented on #981
Closing as design is not needed since OMB info was updated during the consistency audit work.

[2022-07-12 21:21] k80bowman opened #1049 "OMB Info web component: Migration"
## Configuring this issue
- [ ] Add issue to appropriate epic
- [ ] Add component label (such as `va-alert`), if applicable
- [ ] Add `component-new` or `component-update` label, if applicable
- [ ] Complete sections below
- [ ] Delete this section once complete
## Description
Create an ESLint rule for the OMB info component. It is used extensively in vets-website, so it would help to have a migra

[2022-07-13 13:56] k80bowman commented on #1045
We can absolutely add those. Thank you!

[2022-07-13 15:47] GnatalieH commented on #1005
I see this ticket is assigned to me, but I believe the audits are done according to the links in this ticket. Please advise, @humancompanion-usds.

[2022-07-13 16:44] bkjohnson commented on #844
I've merged two PRs which address some of the problems here:

- https://github.com/department-of-veterans-affairs/component-library/pull/485
- https://github.com/department-of-veterans-affairs/component-library/pull/484

All that remains is "Add in the aria-invalid="true" attribute when input triggers errors" from the **Must** category, and both of the **Consider** items

[2022-07-13 17:26] humancompanion-usds commented on #1038
@jimuhh - Thanks for the feedback. I suspect the same amount of user research when into the UK IA of patterns as went into our own IA of patterns: Very little. But, I don't have any real insight into what the GDS or NHS folks have done. It isn't mentioned in any of their [blog posts and videos](https://design-system.service.gov.uk/community/blogs-talks-podcasts/) (though I admit I read most of the

[2022-07-13 18:39] humancompanion-usds commented on #1005
We've got an audit.

[2022-07-13 18:39] #1005 closed

[2022-07-13 18:49] humancompanion-usds opened #1051 "Add guidance for the "one thing per page" design principle"
# Feature Request

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## This update is for:

- [ ] Content style guide
- [ ] Component
- [x] Pattern
- [ ] Utility
- [ ] Other

## What is the name?

One thing per page is a design principle. Check suitability or Check eligibility is a pattern. Essentially, we need to document a replacement for the Wizard pattern.

#

[2022-07-13 19:36] caw310 opened #1052 "A11y audit of form library working demo - Accessibility review"
## Issue Description
The FLT has asked for an A11y audit of form library working demo

## Tasks
- [ ] Full accessibility review of the FL working demo
- [ ] Write up an a11y testing checklist or plan
- [ ] Test the FL working demo using a11y software
- [ ] Compile a list of issues
- [ ] Sync with DK, Angela and Tiffany on their a11y audit of the FL working demo
- [ ] Write up tickets for issues yo

[2022-07-13 21:48] humancompanion-usds commented on #1051
## Steps to get to some usable patterns

* [ ] Clean up the current Patterns > Form > Overview page
* [ ] Create new pattern: Patterns > Form > Sub-task
* [ ] Replace [Patterns > Benefit applications#E - G](patterns/benefit-applications#e-how-to-apply-heading-and-wizard-button-or-action-link) with a link to Sub-task

[2022-07-13 22:25] jimuhh commented on #1038
@humancompanion-usds
### Interesting!
Thanks for clarifying the varied user audience on this site. (I should have asked that to begin with.) I agree. Your question, "Whose specialized language or whose lexicon?" gets at the key issue.

#### Some thinking...

**The three main user types:**

- Designers
- Content writers
- and developers

...are going to be coming here with different types and degre

[2022-07-14 14:56] GnatalieH commented on #1045
@k80bowman just our public channel is fine. Thanks!

[2022-07-14 15:47] #963 closed

[2022-07-14 16:28] caw310 commented on #957
For design, follow USWDS. Check with Natalie or Sean as well.

[2022-07-14 16:32] k80bowman commented on #775
[Guidance on telephone numbers from design.va.gov](https://design.va.gov/content-style-guide/dates-and-numbers#phone-numbers)

[2022-07-14 16:34] jimuhh commented on #1038
@GnatalieH
Among web designers, there more consensus on what different design patterns are called. So one job of the taxonomy would be teaching the industry terms to people who don't know them, while still making it easy for these people to locate the thing they want but can't name.

It would also give experienced people like you shortcuts (such as a typeahead that would suggest "featured content"

[2022-07-14 17:03] jimuhh commented on #1038
@humancompanion-usds @GnatalieH
IMO, the concept and vocabulary onboarding function referenced previously fits nicely with your idea of leading with plain language, verb-based summaries of the user outcomes the UI elements are meant to produce, followed by an introduction of the unfamiliar term.
We're all familiar with this pairing  from the chapter headings of our elementary school textbooks and

[2022-07-14 18:14] MitchLivingstone commented on #1018
Good Afternoon,

Can we please move forward with approval for the selected icon? It's listed as "School Flag" If any further information is needed please let me know.

![image](https://user-images.githubusercontent.com/104099521/179053494-06fece93-fb85-4b70-97a5-48775e7948ca.png)

[2022-07-14 20:08] caw310 opened #1053 "Hierarchy of Banners, Alerts and Notifications"
This epic is meant to be used to track the smaller work that needs to be done related to the Hierarchy of Banners, Alerts and Notifications.

[2022-07-14 20:09] GnatalieH commented on #1015
Closing because we made a decision:

We'll move forward by implementing layer styles for input field, which will be a nested symbol we'll include in:

- Date input
- Memorable date
- Number input
- Select box
- Text input
- Textarea

This update should be handled in work for issue #960.

[2022-07-14 21:21] TiffanyPender commented on #844
The `aria-invalid="true"` should be placed on each individual `<input>` element, when an error is present. This will help to notify screen readers that an error is present for specific fields.

[2022-07-14 21:59] bkjohnson commented on #844
The date component doesn't have any `<input>` elements as direct children. I was planning on taking that approach for the smaller components since we currently don't do that at all, but since [having `aria-describedby` on the `<input>` inside of `<va-text-input>` wasn't enough to satisfy the error messaging for `<va-date>`](https://github.com/department-of-veterans-affairs/va.gov-team/issues/39727

[2022-07-15 14:15] #1019 closed

[2022-07-15 15:30] brianseek opened #1055 "va-text-input error state looses red bar at mobile sizes"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
When using `vads-l-grid-container` as a wrapper there is not enough padding to show the red error bar for `va-text-input` at mobile sizes. This is because the red bar renders in negative space relative to the components container. The padding at mobile sizes with `vads-l-grid-containe

[2022-07-15 15:38] #974 closed

[2022-07-15 15:56] k80bowman commented on #957
If possible, it would be good if we could address #1055 at the same time.

[2022-07-15 15:57] #1015 closed

[2022-07-15 16:54] caw310 opened #1057 "Develop research plan to test double box-shadow for focus styling"
## Description
Develop research plan to test double box-shadow for focus styling.

## Details
The research plan is related to this request that came through DSC.
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/654
From the ticket, Natalie got input on types of participants to include.
The groups that would probably be most impacted are:

- Colorblind users

[2022-07-15 16:59] caw310 opened #1058 "Create prototype to test double box-shadow for focus styling"
## Description
Create prototype to test double box-shadow for focus styling

## Details
Need a working prototype to test double box-shadow for focus styling.
Here's ticket to previous work that was done.
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/654

## Tasks
- [ ] Identify a simple page to be used to test double box-shadow for focus styling
- [ ] Cr

[2022-07-15 19:40] bkjohnson commented on #1021
Since we have been using the `component-library` repo to make Github releases for a single package, when we start doing this we may want to use [the semantic-release monorepo plugin](https://github.com/pmowrer/semantic-release-monorepo)

[2022-07-15 20:30] caw310 commented on #1018
@humancompanion-usds @GnatalieH , tagging you both to give feedback.

[2022-07-18 15:57] humancompanion-usds commented on #1038
@GnatalieH - Yes, "Ask users for" and "Help users to" would be surfaced as top-level categories as they are [in the GDS system](https://design-system.service.gov.uk/patterns/)

Having just audited those few design systems looking at patterns I feel a consensus is lacking. But I suspect that is because designers don't all agree or have the same perspective on what's a pattern vs. a component vs. a

[2022-07-18 16:11] humancompanion-usds commented on #1018
@MitchLivingstone - Sorry, I left out an important detail and steered you wrong. My apologies. We only have version 5.15.4 thus you have to filter when you search the icons by that version. Unfortunately, school-flag was added in v6 and we have not upgraded yet.

There is a building in v5 that is very close to the example you originally provided. Would that work?
https://fontawesome.com/v5/icons/b

[2022-07-18 16:13] MitchLivingstone commented on #1018
Not a problem. I will update that to my Stakeholders and we will take it from there. I appreciate you getting back to me so quickly.

[2022-07-18 18:16] MitchLivingstone commented on #1018
@humancompanion-usds ,

Thanks again for the follow-up. Our stakeholders are okay with moving forward with the suggested building you have recommended. Please let me know if anything further is needed.

https://fontawesome.com/v5/icons/building?s=solid

[2022-07-18 18:20] mmiddaugh commented on #1005
[Alert and banner events.xlsx](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/files/9134365/Alert.and.banner.events.xlsx)

[2022-07-18 18:22] GnatalieH commented on #1010
[Here is the link ](https://www.sketch.com/s/789c144c-98c6-4350-b9d5-9acb6112069d/p/9496B366-71D9-4EAE-BDC9-A5D9BBE07CC5) to my Sketch symbols, so far. I left a question for @seanasewell and @humancompanion-usds in our team's Slack channel regarding how to best build these symbols.

This one may carry over to the next sprint because it has so many Sketch assets and ended up becoming a bit more com

[2022-07-18 21:26] #873 closed

[2022-07-18 22:11] humancompanion-usds commented on #816
@seanasewell - While I'm out on vacation here is how we can move this issue forward. Based on the conversation in DSC and looking at the audits and our existing content IA, here is what I'd like to propose:

### 1. Re-define our Banner component and limit it to System Maintenance
* There is only one use case for this component: System maintenance. This is already in agreement with what the Content

[2022-07-19 13:44] k80bowman opened #1062 "Web components are not announcing alert and status messages without receiving focus"
## Description
We have two documented instances of our web components not announcing alert and status messages without receiving focus. This is an accessibility issue and it is also causing teams to switch back to the React versions of those components.

Instead of handling these one-by-one, I thought it would be better to handle them together. It would be good to check other components for simila

[2022-07-19 20:46] humancompanion-usds commented on #1011
Okay, this is one where development got out ahead of design and I wasn't paying careful enough attention to what was in here. Talked to Allison about this component. The use case the team tested for is for information we need to alert a user about when they reach a page or form flow. Thus unlike an Alert, it is not due to user action. Therefore we think the only valid variations are info and warni

[2022-07-20 01:31] bkjohnson commented on #834
Closing since now we are [waiting to receive the translations](https://dsva.slack.com/archives/C01DBGX4P45/p1658160625286439). Will open new tickets to make the appropriate engineering changes once we receive them.

[2022-07-20 01:31] #834 closed

[2022-07-20 13:40] k80bowman commented on #1011
This component is currently in use in two places:
- The [facility-locator application](https://github.com/department-of-veterans-affairs/vets-website/blob/d96726162e27fdfaa173102bd23b028c98c5915c/src/applications/facility-locator/components/search-results-items/common/LocationCovidStatus.jsx#L46-L58) uses it for an info alert
- The [health care application](https://github.com/department-of-veteran

[2022-07-20 16:02] k80bowman commented on #1062
Could be an aria-live issue. Other components to look at include:
- progress bar
- alert

[2022-07-20 16:15] seanasewell commented on #1041
@GnatalieH Ready for review

[2022-07-20 17:55] caw310 opened #1064 "Double-box shadow for focus styling - Accessibility review"
## Issue Description
We need to conduct a full accessibility review of the double-box shadow for focus styling component. See this ticket for additional information.
https://app.zenhub.com/workspaces/vsp-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/vets-design-system-documentation/654

Accessibility testing of the double-box shadow for focus styling with these compo

[2022-07-20 20:04] caw310 commented on #981
There are Sketch updates needed to this.

[2022-07-20 21:35] GnatalieH opened #1066 "Discovery: integrating VA Pattern Library with USWDS Sketch library"
## Description
How might we prepare to inherit USWDS Sketch symbols and better integrate our libraries?

## Details
The VA Pattern library in Sketch is organized much differently than the USWDS Sketch library. If our goal is to integrate with USWDS in the future so we can inherit their updates, we should examine how to reorganize our library so that the two libraries are in better sync.

## Tasks

[2022-07-21 21:26] GnatalieH commented on #981
@andresriveratoro [here is the link](https://www.sketch.com/s/789c144c-98c6-4350-b9d5-9acb6112069d/a/VrO4bWa) to my mockup using a secondary button and updated button label text.

[2022-07-22 15:08] caw310 commented on #1018
Closing since this has been resolved.

[2022-07-22 15:08] #1018 closed

[2022-07-22 15:09] MitchLivingstone commented on #1018
Can the Icon be used without going through any other processes?

[2022-07-22 16:51] #833 closed

[2022-07-22 16:51] caw310 commented on #833
Closing this as work has been done.

[2022-07-22 17:08] caw310 commented on #1018
@MitchLivingstone yes it can be used without going through any other processes. Thanks.

[2022-07-22 17:53] MitchLivingstone commented on #1018
Thank you.

[2022-07-22 18:07] GnatalieH commented on #981
@humancompanion-usds when you are back, would you please review the new design for [OMB info here](https://www.sketch.com/s/789c144c-98c6-4350-b9d5-9acb6112069d/a/VrO4bWa)? We replaced the link, which was actually a button styled as a link, with a secondary button. Thanks!

[2022-07-22 20:31] GnatalieH commented on #1041
[Here's the link to Table](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/p/D9AD4361-D6AC-4BB8-845A-7D90B5A3400D) in the Sketch library. This is what will go in the documentation on design.va.gov, once it's approved.

@humancompanion-usds I already reviewed Sean's Sketch assets and think they're great. I couldn't think of anything else we needed to represent, other than *maybe* incl

[2022-07-25 15:10] GnatalieH commented on #1038
@humancompanion-usds and @jimuhh I like the idea of leading with verb-based summaries based upon user outcomes. Then we have "Pages". Hmm. But I think it's valuable to have things like form confirmation page patterns documented.

[2022-07-25 16:31] #1010 closed

[2022-07-25 16:32] GnatalieH commented on #981
Closing issue as completed since this was just a small update to make the component materially honest.

[2022-07-25 16:32] #981 closed

[2022-07-25 16:50] GnatalieH commented on #1011
[Here is the link](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/v/QMQAY8/a/nRdbRGg/r/kj01RA) to the Sketch page for Alert - expandable. I haven't yet starred the release, so only editors/contributors to the Sketch file can see it right now.

[2022-07-25 16:54] GnatalieH commented on #1057
@caw310 and @SarahKay8 I'm moving this ticket to In Progress because I'm working on the tasks to test.

[2022-07-25 19:13] caw310 opened #1067 "Compile health metrics ideas from brainstorm"
## Description
Compile health metrics and other ideas discussed during brainstorm sessions.

## Details

## Tasks
- [ ] Create confluence page with ideas for health metrics and other ideas for DS improvements

## Acceptance Criteria
- [ ] Confluence page has been shared with the team

[2022-07-25 21:34] k80bowman opened #1068 "Discovery: Publishing multiple packages from the component-library repo"
## Description
With the addition of the CSS library package, we would like to explore tooling options for easy and automated publishing of multiple packages from the component-library repository. The result of this discovery should be the recommendation of a particular tool along with an analysis of it and other tooling options.

## Details
Things to consider:
- We want to make the process as easy

[2022-07-26 13:29] caw310 commented on #961
@seanasewell , can you provide guidance on this?

[2022-07-26 13:54] seanasewell commented on #961
I think @k80bowman has the right idea here. Use [va-checkbox with descriptive JSX](https://design.va.gov/storybook/?path=/docs/components-va-checkbox--default#with-description-jsx) to enable the user to read the privacy policy before clicking on the checkbox. Description could say "Please read our privacy policy (text linked) for information on..." followed by the checkbox with some confirming lan

[2022-07-26 14:12] andresriveratoro commented on #1021
We are closing this in favor of https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1068

[2022-07-26 14:12] #1021 closed

[2022-07-26 15:43] k80bowman commented on #940
Everything looks good to me. The staging review is scheduled for July 28th.

[2022-07-26 15:51] caw310 commented on #1041
Closing as work is done and ready to be linked on design.va.gov

[2022-07-26 15:51] #1041 closed

[2022-07-26 16:05] k80bowman commented on #1051
@caw310 Here is the draft page link: https://design.va.gov/patterns/forms/sub-task

In a comment on his PR, Matt asked that the following people review it and provide feedback in issue #1051:
- Natalie
- Sean
- Allison
- Josh Kim
- Peter Russo
- Kristen McConnell

Could you reach out to them and ask them to review the draft documentation please?

[2022-07-26 16:13] k80bowman commented on #961
@seanasewell thanks for looking into this and confirming that using the description to add the link instead of placing it in the label is the right way to go here. The problem was that they were not able to add that link to the label using the va-checkbox web component the way it is in the form currently. We are asking @bjmccotter7192 to format that checkbox component differently than the way it i

[2022-07-26 18:21] bkjohnson commented on #957
Should we see if using uswds3 styles would fix this?

[2022-07-26 18:27] taylorkaren commented on #961
I've added notes about this guidance to the original VAFSC ticket (https://app.zenhub.com/workspaces/forms-library---platform-spike-team-61b0ae1f2cd3c30014e8a5b0/issues/department-of-veterans-affairs/va-forms-system-core/418), so I am good with closing this ticket as well.

If we run into any other issues, we will open a new ticket.

[2022-07-26 19:26] caw310 commented on #1051
I've messaged those folks and asked them to share their feedback in this ticket.

[2022-07-26 20:58] k80bowman commented on #957
I'm open to trying it. We would still need to do the Sketch updates.

[2022-07-26 20:58] #961 closed

[2022-07-26 22:16] bkjohnson commented on #844
The last of the "Must/Should" feedback was addressed in the previous PR. I'll open a new ticket to track the "Consider" items.

[2022-07-26 22:16] #844 closed

[2022-07-26 22:16] bkjohnson opened #1071 "Consider a11y enhancements for date components"
## Description
For `<va-date monthYearOnly />` and `<va-memorable-date>` we had some related items under the "Consider" portion of the a11y feedback.

### Tickets

- https://github.com/department-of-veterans-affairs/va.gov-team/issues/39727
- https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/844

### Items to consider

- Consider adding context to the error

[2022-07-26 22:54] #775 closed

[2022-07-27 13:16] k80bowman commented on #848
@caw310 this is ready for staging review

[2022-07-27 13:18] k80bowman commented on #875
@caw310 this is ready for staging review

[2022-07-27 14:45] kristenmcconnell commented on #1051
When reviewing the documentation, I got stuck on what the differences were between a "secondary task before a flow" and a "short task within a larger process." The definitions seemed comparable. The only difference that I saw was that "branching eligibility choices" may or may not be included.

I also wonder if the concept of "one thing per page" is somewhat separate from the sub task pattern. For

[2022-07-27 15:05] andresriveratoro commented on #984
@SarahKay8 This component is ready to be looked at. Thank you!

[2022-07-27 15:53] caw310 commented on #875
Staging review scheduled for Tuesday, Aug 2.

[2022-07-27 16:42] GnatalieH commented on #1051
@kristenmcconnell I too got stuck on the differences between the "secondary task before a flow" and "short task within a larger process" definitions. I understood the differences once I thought more about it, but I'm wondering if we need to differentiate between these two concepts at all. Sub-task also is a term that hung me up. Essentially, we are chunking out step-wise content into easily digest

[2022-07-27 17:44] #1002 closed

[2022-07-27 17:57] caw310 commented on #1052
This has dependency on FLT having their demo ready for the a11y audit.

[2022-07-27 18:25] caw310 commented on #1052
@SarahKay8 here are the instructions from Karen on filing issues.

If tickets directly in GitHub, please add in the va-forms-system-core repository (https://github.com/department-of-veterans-affairs/va-forms-system-core/issues)
⁃ Assign to the Accessibility Issues (FL and VAFSC) pipeline
⁃ Add labels: VA Forms System Core, relevant accessibility labels
⁃ Add epic: VAFSC Accessibility Support
⁃ Her

[2022-07-27 19:37] SarahKay8 commented on #975
Hi @caw310 No further feedback to add on va links.

[2022-07-27 20:44] GnatalieH commented on #957
@k80bowman and @bkjohnson I'm working on aligning our Form Sketch assets with USWDS styles. It dovetails with the work I was doing for #960.

[2022-07-27 20:50] TiffanyPender commented on #1071
@bkjohnson This looks like it captures all of the items to consider for these components. 👍

[2022-07-27 22:06] bkjohnson commented on #1036
I've left more detailed comments as review on https://github.com/department-of-veterans-affairs/component-library/pull/493, but the summary is:

- We can add configuration that will let us import specific USWDS3 packages
  - Being specific with the imports allows us to minimize the bundle size
- USWDS3 classes offer a lot, but aren't quite comprehensive enough to meet all our needs. This is likely

[2022-07-28 13:37] k80bowman commented on #1036
How do you feel about doing this with the rest of our components that have USWDS equivalents? Do you think it will make maintenance easier or more difficult over time?

[2022-07-28 14:40] outerpress commented on #1051
Agree with Kristen - I'm not sure why a one-thing-per design principle would be limited to subtasks/pre-screener questions and not be similarly useful when thinking about a form flow. It'd be helpful to see the principle defined separately from the patterns, and explain why the pattern benefits from using the principle.

[2022-07-28 14:57] k80bowman commented on #1023
As noted in #188, it would be useful to have a `.nowrap` class.

[2022-07-28 15:01] k80bowman commented on #188
Since we are in the process of building out a new CSS library, I don't want to add this to our current library right now. But I have made a note in a ticket about what all we want to include in the new library about including this. We also have a new telephone component which does not have this CSS in it currently, so I can apply it there as well.

[2022-07-28 16:14] #975 closed

[2022-07-28 17:20] jamigibbs commented on #957
I've identified the following active components displaying the red left border as part of their error state. They will likely all need some CSS updates to align with USWDS:

[code]

[2022-07-28 18:12] bkjohnson commented on #1036
I think it makes sense to do this with the rest of our components so that we can use as much from USWDS3 as possible and have to write little to none of our own CSS. I think this will make maintenance easier over time as long as we "stay within the lines" of USWDS.

[2022-07-28 18:24] k80bowman opened #1075 "Discovery: Loading fonts as part of the new CSS library"
## Description
We received this message from Tim Wright in Slack:

Since we are currently working on the new CSS library and hope to start on the migration once it's done, I'm not sure I want to add this to Formation, but we should look into adding them to the new library. This discovery is to figure out the best way to do that, or determine if we even should.

## Tasks
- [ ] Explore adding the fo

[2022-07-28 19:38] #188 closed

[2022-07-28 20:13] jamigibbs commented on #966
The React version has the Formation error state style currently so let's make sure to update that to match the [USWDS style ](https://designsystem.digital.gov/components/file-input/#file-input-error-hint) in the web component.

Related: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/957

[2022-07-28 20:20] #1040 closed

[2022-07-28 23:19] bkjohnson commented on #1023
USWDS3 has a [`.text-no-wrap` utility already](https://designsystem.digital.gov/utilities/text-styles/) that we could provide.

---

As seen in the file comments on https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/855, here are the styles in formation which we may want to bring over into our new library:

- `.va-introtext`
- `.va-crisis-line` [and friends](https

[2022-07-29 14:05] humancompanion-usds commented on #1051
@outerpress and @kristenmcconnell - If you can, come to Design System Council today at 1pm where we can discuss more: https://va.zoomgov.com/j/16187470996?pwd=NFdpeEFiN3NGYjJHK1dxUDNUeUh4QT09

[2022-07-29 14:54] k80bowman opened #1076 "Add notice for non-public resources on design.va.gov"
## Description
We recently added links to Sketch and research resources to design.va.gov. These resources are not public and so people accessing our site who are not part of the VA Github organization and/or do not have access to the VA Sketch for Teams account will not be able to see them. We should add some indication on design.va.gov that these resources are not public so that people understand

[2022-07-29 16:02] caw310 commented on #940
Everything addressed in staging review so closing!

[2022-07-29 16:02] #940 closed

[2022-07-29 16:22] kristenmcconnell commented on #1051
I'll be there.

[2022-07-29 18:25] GnatalieH commented on #960
[Here is a link](https://www.sketch.com/s/1cb56b0b-df7c-456b-a8e4-f08a3553a5d3) to the work I've done on our form control error states, including increasing the input field border from 2px to 4px.

[2022-07-29 18:27] GnatalieH commented on #957
[Here is a link](https://www.sketch.com/s/1cb56b0b-df7c-456b-a8e4-f08a3553a5d3) to the work I've done on removing the excess padding from our form control error states and better aligning with UWDS styles. I think I've got everything accounted for. If anything is missing, please let me know. FYI @jamigibbs @humancompanion-usds.

[2022-07-29 18:31] GnatalieH commented on #964
[Here is a link](https://www.sketch.com/s/1cb56b0b-df7c-456b-a8e4-f08a3553a5d3/p/DA9643BD-6386-4CCD-9811-A654B306BBC6/canvas) to my mockups. Ready for review, @humancompanion-usds. Thanks.

[2022-07-29 20:07] andresriveratoro opened #1078 "Additional info content is sometimes clipped"
## What happened
Content is sometimes clipped inside the container that expands in our `va-additional-info` component.
We've had 2 reports of this happening with different types of content.

- [Clipped images Slack support discussion](https://dsva.slack.com/archives/CBU0KDSB1/p1658428535793199)

<img width="520" alt="image" src="https://user-images.githubusercontent.com/36863582/181835074-5dd4f20e

[2022-08-01 13:25] humancompanion-usds commented on #960
@GnatalieH - Looks great! You have some Symbols for states that are not on your main artboard. For example, Form / text input / hint text-open-error. Will you be adding those as well? I think they are useful examples and worth adding.

[2022-08-01 13:32] humancompanion-usds commented on #964
One adjustment I'd like to propose we make both in Sketch and in code: The 16px margin between label and button does not match every other form field we have where that margin is only 8px. Thus the plain text label doesn't really look all that associated with the button. I think it should be changed to be the standard 8px between label and button. Agree?

Otherwise this looks great to me.

[2022-08-01 13:40] humancompanion-usds commented on #1023
.va-introtext perhaps maps to .usa-intro? You can see it in action here: https://federalist-3b6ba08e-0df4-44c9-ac73-6fc193b0e19c.app.cloud.gov/preview/uswds/uswds/develop/iframe.html?id=pages-documentation-page--documentation-page&args=&viewMode=story

I would like to make the VA Crisis Line element a web-component. I've seen, thru the CollabCycle, at least one team grab it and use it elsewhere. I

[2022-08-01 14:22] humancompanion-usds commented on #957
Looks good to me.

[2022-08-01 14:33] GnatalieH commented on #964
@humancompanion-usds I agree with you on the 8px margin. I updated the mockups accordingly. FWIW, the error state has a 12px margin between the label and the form control, so that's what I'm using.

[2022-08-01 14:39] GnatalieH commented on #960
@humancompanion-usds thanks! Yes, I'll add those symbols now. I'm going to move everything to the main Pattern library file now as well.

[2022-08-01 16:10] #1062 closed

[2022-08-01 16:20] #983 closed

[2022-08-01 20:16] GnatalieH commented on #964
Closing as completed, as Matt has approved the latest update with the 8px margin.

[2022-08-01 20:16] #964 closed

[2022-08-01 20:18] GnatalieH commented on #960
Closing as completed as I've added the examples Matt suggested.

[2022-08-01 20:18] #960 closed

[2022-08-02 13:58] humancompanion-usds commented on #904
@k80bowman - I was able to repo the first issue in here by removing the icon in Storybook. That variation can leave the carat dangling. I agree it could/should work like an Accordion. I wonder if Additional Info has this same bug?

I also agree with issues 2 and 4 in this bug. 4 will require some redesign work.

[2022-08-02 14:03] k80bowman commented on #904
@humancompanion-usds I was just able to reproduce the first issue in additional info as well, so the answer is yes, it does have the same issue. We'll want to make sure to fix that as well.

[2022-08-02 14:36] #976 closed

[2022-08-02 15:30] humancompanion-usds commented on #816
I updated my previous comment based on conversation with Sean and Natalie.

[2022-08-02 16:49] k80bowman commented on #1023
I added Crisis Line to the list of components we'd like to add in our [Airtable](https://airtable.com/appF4FJKBeNVNGrlm/tblOlEnERCgZTiNF4/viw0nKV3yQiY3IonD?blocks=hide).

@bkjohnson could you take a look at `.usa-intro` and see if that would match up with `.va-introtext`?

[2022-08-02 17:59] k80bowman commented on #816
@humancompanion-usds I just read through your comment. There is quite a bit of engineering work, here is how I would break down what I'm seeing:
- Update examples in Storybook for banner and alert components to use real-world text from the Content section of design.va.gov
    - I added this first because it is low-hanging fruit that we can get done quickly before we start to make some of the large

[2022-08-02 18:27] bkjohnson commented on #1023
Through the `typeset` mixin, [`.usa-intro` will set](https://github.com/uswds/uswds/blob/f2752b236c3f9fc477eac17d76033838abbbc281/packages/usa-intro/src/styles/_usa-intro.scss#L3-L11):

- `line-height`
- `font-family`
- `font-size`
- `font-weight`
- `max-width`

Those are the same properties that [`.va-introtext` is setting](https://github.com/department-of-veterans-affairs/veteran-facing-services

[2022-08-02 19:29] #731 closed

[2022-08-02 20:32] brianseek opened #1080 "Background Only Icon icon has positioning issues in Safari"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
The Background Only Icon icon has positioning issues in Safari. See screenshot:
<img width="1077" alt="Screen Shot 2022-08-02 at 11 49 00 AM" src="https://user-images.githubusercontent.com/13967174/182467703-dfd679dc-67ef-4637-96ec-7ff2bb53987f.png">

## What I expected to happen
I ex

[2022-08-02 20:44] humancompanion-usds commented on #816
@k80bowman - Let's meet and discuss. After the meeting with Dave and co. I think we can shorten this list.

[2022-08-02 21:00] bkjohnson commented on #1080
Possibly related: https://github.com/department-of-veterans-affairs/va.gov-team/issues/39181

[2022-08-03 13:18] k80bowman commented on #1023
It looks like in most cases with the nested `p` tag it shouldn't be very difficult to remove. But there is at least [one case where the app has multiple nested `p` tags](https://github.com/department-of-veterans-affairs/vets-website/blob/139b98eb9c2f94fdeee841098607bb2b52163a7f/src/applications/coronavirus-screener/containers/App.jsx), which would be more difficult.

[2022-08-03 14:18] GnatalieH commented on #1057
Closing out as completed after reviewing yesterday with @caw310, @SarahKay8 and @naomimarcussen.

[2022-08-03 14:18] #1057 closed

[2022-08-03 15:55] #1023 closed

[2022-08-03 15:57] #1036 closed

[2022-08-03 17:33] #957 closed

[2022-08-03 18:46] caw310 opened #1082 "Create a list of the a11y tests done for components"
## Description
Create a confluence page with a list of the tests run when doing a11y review on a component.

## Details
Create the confluence page from the the Accessibility Information section in the DST confluence space.  https://vfs.atlassian.net/wiki/spaces/DST/pages/2042986534/Accessibility+Information?atlOrigin=eyJpIjoiYTkwNDBlYjM1MzM0NDU1ZDhiOTgxMTg3NWIwNTkzNmQiLCJwIjoiY29uZmx1ZW5jZS1jaGF0c

[2022-08-03 19:11] humancompanion-usds commented on #1011
@caw310 - I marked this as fixed with my PR but now that I look at it I'm not sure @SarahKay8 had a chance to look at this. If that's true, please reopen and assign to Sarah. Thanks!

[2022-08-03 19:34] caw310 commented on #1011
@SarahKay8 , please run a11y tests on this.

[2022-08-03 19:35] SarahKay8 commented on #1011
Will do

[2022-08-03 20:38] GnatalieH opened #1083 "[Pattern] - Help users to...Resolve an error"
## Description
When a user encounters an issue (such as a login error), we often present a bulleted list of next steps below the alert component that communicates the issue occurred. This is context-sensitive, just-in-time info that can potentially help users self-solve their issue. We should standardize the use of well-formatted text (in plain language) along with headings to clearly communicate

[2022-08-04 02:29] SarahKay8 commented on #1082
Ready for review

[2022-08-04 13:15] #970 closed, assigned to k80bowman, caw310

[2022-08-04 13:15] #987 closed

[2022-08-04 13:15] k80bowman commented on #987
Closing, as this is now part of the component Final Review ticket

[2022-08-04 13:17] k80bowman commented on #995
Closing, as this is now part of the component Final Review ticket

[2022-08-04 13:17] #995 closed

[2022-08-04 14:00] humancompanion-usds commented on #1051
[Feedback from DSC](https://docs.google.com/document/d/1jx_fOV_Hyu5nVThuaTxcpbae23Ap8N517vxnTOt-I0M/edit#heading=h.33dhh43es97v) left some things unresolved. Next step here is for me to talk to Beth and Danielle about perhaps putting One Thing per Page into the Content style guide as a Content Principle. That follows how Pamela and other designers have been tackling this problem (starting content

[2022-08-04 16:58] caw310 commented on #904
Decision to fix the simpler items and then create ticket(s) for more complex ones.

[2022-08-04 17:02] caw310 commented on #432
Start with audit.

[2022-08-04 17:54] jcklpe opened #1085 "Experimental Design [Search Result Card]"
## What

When viewing the facilities under a VAMC the following is returned:

![](https://user-images.githubusercontent.com/9451726/182917862-8429abee-e4b9-4abe-8ee3-05368cbb8a27.png)

Those individual items returned seem ripe for standardization. 

## Purpose

Provides a standardized way to view complex interrelated search item information before clicking through to a detail view. 

## Usage

Cur

[2022-08-04 18:49] k80bowman commented on #816
Notes from discussion with @humancompanion-usds:
- We will update examples in Storybook for alert components first. We will also point the Banner component documentation on design.va.gov to the React MaintenanceBanner component temporarily, until we can add the date functionality to the va-banner web component.
- Next, we will break the alert-full-width component out into a new Announcement compon

[2022-08-04 18:52] jcklpe commented on #1085
A variation of this pattern on also appears on the VA Locations search page:

https://www.va.gov/find-locations/?address=pittsburgh&bounds%5B%5D%5B%5D=-80.740086&bounds%5B%5D%5B%5D=39.691694&bounds%5B%5D%5B%5D=-79.240086&bounds%5B%5D%5B%5D=41.191694&bounds%5B%5D%5B%5D%5B%5D=-80.740086&bounds%5B%5D%5B%5D%5B%5D=39.691694&bounds%5B%5D%5B%5D%5B%5D=-79.240086&bounds%5B%5D%5B%5D%5B%5D=41.191694&context=

[2022-08-04 18:54] jcklpe commented on #1085
Also apparently some of the previous work was done here: https://www.sketch.com/s/433403fb-b16c-4c98-867e-181d86208ba2

[2022-08-04 19:23] caw310 commented on #1082
Reviewed with team during stand up. This is a great document! Thanks @SarahKay8

[2022-08-04 19:23] #1082 closed

[2022-08-04 19:28] k80bowman commented on #904
Some notes:
1. Issue #1 needs to be fixed for both the Alert - Expandable component and the additional-info component. I don't think we want to keep it aligned right (check with @GnatalieH to be sure), so the better solution is to not let it wrap on its own.
2. The solution for issue #2 should be similar to what we have for the background alerts with icons, though the icon size is smaller (1.6rem

[2022-08-04 20:49] caw310 commented on #1085
This is on the agenda for DSC meeting at 1pm ET on 8/5.

[2022-08-05 14:55] caw310 commented on #1058
Here is some additional information about what is needed for the prototype.

Create a prototype that contains the content from the COVID-19 vaccines at VA page.
https://www.va.gov/health-care/covid-19-vaccine/
Required information and fields on the page:
- VA header that links to VA.gov homepage
- Leftside navigation only needs the COVID-19 vaccines at VA section
- COVID-19 vaccines at VA informat

[2022-08-05 15:29] k80bowman commented on #977
@humancompanion-usds this component is ready for review.

[2022-08-05 15:42] GnatalieH commented on #1082
Seriously, this checklist is awesome, @SarahKay8. It's well formatted and so easy to understand, as well as comprehensive! As Matt was saying, we'll be implementing a checklist for Components, and this is a great document to use for comparison.

[2022-08-05 16:12] joshkimux commented on #1051
Just gave this a (late) review! Super excited to see this written up. Some minor bits of feedback:
- (a little unrelated) we may want to review guidance for the yes/no button pair. Specifically providing guidance that this is meant to be used for mobile specific (not desktop) flows as it doesn't remember the user's previous choice when navigating backwards in a flow. Using radio options along with

[2022-08-05 16:55] humancompanion-usds commented on #816
@DanielleThierryUSDSVA and I agreed as part of this work to reclassify the "We’re working on the site" message to move from Access to System and to use the MaintenanceBanner component.

[2022-08-05 17:44] caw310 commented on #1085
Follow up from DSC meeting:
A few weeks ago DSC we talked about creating a shared library. Search was one of those things that could be a shared library. It would be appropriate to start a search shared library and put location in it.

Action items:
Create template for Search shared library in Search (Matt, Natalie & Sean)
Set up time with Aslan to talk through how they create things in Sketch. (M

[2022-08-05 21:26] GnatalieH commented on #966
@jamigibbs, @k80bowman and I met today (8/5) and here are the takeaways from that conversation:

- File input as a Component includes the label, secondary button and its error state
- Button text (whether to lock it for editing or not): we will have a decision from Danielle and Beth next week about this
- Surrounding content considerations should be addressed separately as a Pattern
- The Progress

[2022-08-06 12:30] humancompanion-usds commented on #1038
I presented this work to DSC on Fri Aug 5th. We added new patterns and voted on them. Here is the outcome of the vote:

* Help a user to Sign in with less friction (6)
* Help a user to Receive actual notifications, i.e. "Your claim has been approved" (6)
* Help a user to Deal with multiple errors (3)
* Help a user to Check that a service is suitable (3)
* Date last updated? Thinking of Veterans wh

[2022-08-08 13:32] humancompanion-usds commented on #228
Process list is in fact a component: https://design.va.gov/storybook/?path=/docs/components-va-process-list--default

[2022-08-08 13:32] #228 closed

[2022-08-08 14:03] GnatalieH commented on #966
@jamigibbs here are some links for you:

- [File input audit](https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1657212587413/e9c04daa4f509253154b2a1aa5dc6bbead180413?sender=u851998f98038e0f1e2da4592)
- [Sketch mockups](https://www.sketch.com/s/1cb56b0b-df7c-456b-a8e4-f08a3553a5d3/p/DA9643BD-6386-4CCD-9811-A654B306BBC6/canvas) (direct link)

[2022-08-08 14:21] GnatalieH opened #1087 "Sketch library maintenance - clean up text styles"
## Description
The VA Pattern library contains duplicate text and layer styles which confuse Designers.

## Details
Here is where there are duplicate text styles:

- Body
- Heading
- Link
- Nav

These text styles may not be necessary and can possibly be removed:

- Button
- Headings (there is already Heading which contains our headers)

## Tasks
- Check and see how USWDS uses text styles in Sketch

[2022-08-08 15:31] SarahKay8 commented on #1082
@GnatalieH @caw310 Thanks for your feedback, ladies!

[2022-08-08 17:29] k80bowman commented on #816
After a couple of questions and a conversation with @humancompanion-usds, I wanted to document and clarify the engineering strategy for this work. I've written it up in a [Confluence doc](https://vfs.atlassian.net/wiki/spaces/DST/pages/2308145161/Plan+-+Alert+and+Banner+components+engineering+work), but to summarize what is there, here is the work I am recommending:
- Clean up alert and banner exa

[2022-08-08 18:13] humancompanion-usds commented on #943
In DSC we decided to bring this component into the Link - Collection and to document the uses of icons. We also set out on an Icon inventory audit to improve our Iconography guidelines.

[2022-08-08 18:13] caw310 commented on #943
DS workshop - Group 1 identified this as low priority.

[2022-08-08 18:14] sshein commented on #951
The wrapping here is intentional so that users don't have to scan far to read these. However, the DST could review to make sure they feel the width is correct or if they think it should be slightly wider

[2022-08-08 18:16] caw310 commented on #855
DS Workshop: Group 1 - Medium priority

[2022-08-08 18:20] caw310 commented on #920
DS workshop: Group 1 - Medium priority

[2022-08-08 18:21] bkjohnson commented on #951
Some more details on the intentionality:

- [Slack thread in public DST channel](https://dsva.slack.com/archives/C01DBGX4P45/p1659036259635199)
- [More details in a private thread](https://dsva.slack.com/archives/G01BJ3ESXL4/p1659041505621359)

[2022-08-08 18:21] caw310 commented on #908
DS workshop: Group 1 - Low priority

[2022-08-08 20:59] humancompanion-usds commented on #1038
We held a workshop with VFS Teams today (8/8/22) and had them generate new patterns as well as vote on existing ones.

### New patterns

#### Help a user stay informed of their application status - 12 votes (split among 4 titles)
* Design a template to show application status and where to get help or follow up
* Check general progress of a submitted application
* Find out how long something will t

[2022-08-08 21:42] humancompanion-usds commented on #816
@k80bowman  and I talked again and decided to hold off on most of the engineering work until the following is done in guidance:

* "Revise Banner to set set rules around use" is my task to do what Dave asked for and use the existing component but with additional guidance for what can go in it.
* "Remove the full-width option from the alert component" is my task to just go comment it out for now.
*

[2022-08-09 12:45] k80bowman opened #1089 "Clean up Alert and Banner Storybook examples"
## Description
As part of the effort to reconcile the Alert and Banner components, we need to do some clean-up in Storybook for these two components (see #816 for context).

## Tasks
- [ ] Remove full-width Alert from Storybook and design.va.gov (if it hasn't already been removed).
    - keep the option in the component, we use it for va-banner. We just don't want to encourage its use outside of t

[2022-08-09 14:23] k80bowman opened #1090 "Discovery: Aligning colors with USWDS"
## Description
As part of the discovery work in #1036, we discovered that some of the colors we are using (notably the red we use for errors) does not match any colors in USWDS. We'd like to take a look at all of the colors we are using and document if there are any others that we would need to align.

## Tasks
- [ ] Document the colors we use in our Design System components
- [ ] List any colors

[2022-08-09 15:36] GnatalieH commented on #702
Here is a [flow diagram](https://www.sketch.com/s/789c144c-98c6-4350-b9d5-9acb6112069d/p/A7F989DF-5E3D-4012-AEBB-0922E823E5C8/canvas) I began to capture the info verification process at a high level. I think the next steps will be including examples of confirmation screens, such as the "check answers" pattern we use in the new forms Review page and also an example that is more like the education b

[2022-08-09 19:50] patrickvinograd opened #1092 "Sidenav component has a giant blue arrow image when viewport is narrowed"
# Bug Report

- [ ] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

When looking at the example for Sidenav: https://design.va.gov/components/sidenav, if you narrow the viewport down to a mobile viewport, or even just like 20% narrower than normal, there's a giant blue right arrow image:

![image (11)](https://user-images.githubusercontent.com/206945

[2022-08-09 21:08] k80bowman opened #1093 "Fix height issues with calc-max-height"
## Description
A problem with the calc-max-height CSS function in the Alert - Expandable component has been reported (#904 - Issue 3).

In certain situations, the `--calc-max-height:calc(192px + 2rem);` incorrectly calculates the height.

<details><summary>Screenshot</summary>

<img width="928" alt="Locations___VA_Alaska_Health_Care___Veterans_Affairs" src="https://user-images.githubusercontent.co

[2022-08-10 15:29] bkjohnson commented on #1092
Possible duplicate: https://github.com/department-of-veterans-affairs/va.gov-team/issues/40171

[2022-08-10 17:37] joshkimux commented on #899
@SarahKay8 , @GnatalieH and @caw310 , @artsymartha68 recently conducted an axe scan on this component on mobile only to uncover that it's not labelled (at all) due to the text label (nested in a span) being set to display none. As a result, on mobile screen readers it will be read out as "button"

https://user-images.githubusercontent.com/14154792/183979180-065eae3d-7009-4e31-a026-ff3b82cd5d15.mov

[2022-08-10 17:54] humancompanion-usds commented on #816
Had a fruitful discussion with @DanielleThierryUSDSVA where we decided a few things:

First, we agreed that there is a need to move away from Alerts being used to highlight information on static pages. In particular, Warning alerts don't belong outside of user feedback. We also agreed that we could use another component to sit alongside Featured Content, which is for highlighting eligibility requi

[2022-08-10 17:56] #816 closed

[2022-08-10 18:43] bkjohnson commented on #899
I don't understand why there's a desire for this to be a link when it is [doing something](https://github.com/department-of-veterans-affairs/component-library/blob/ff6baa66f08b809d2bf3c4276c3da4f034b3968e/packages/web-components/src/components/va-back-to-top/va-back-to-top.tsx#L49-L63) - focusing the `<h1>` element and scrolling to the top of the page.

[2022-08-10 19:11] joshkimux commented on #899
@bkjohnson I can break this down! It's a _little_ bit of an exception, but understandably confusing/awkward.

The main _purpose_ of the back to top component is to _go_ to a location on the page. Because the user is navigating to a place (scrolling) and nothing is being added (like a modal), removed (like deleting a card from the list loop), or state changed (like going into an edit mode), we can

[2022-08-10 19:17] GnatalieH commented on #432
Hi @kristenmcconnell. Thanks for sharing those examples. Do you know of any more instances of downloading that I should take a look at? Here's what I can suggest so far:

- We should not be using a button to communicate a process/activity. We should use text near the button to communicate what is happening, like Josh mentioned.
- We have a [disabled button style](https://design.va.gov/storybook/?p

[2022-08-10 19:30] kristenmcconnell commented on #432
I do not know of other examples. It has been awhile, since I looked into this.

[2022-08-10 20:05] humancompanion-usds opened #1094 "Repurpose background-only Alert with icon, informational for highlighting content"
## Configuring this issue
- [ ] Add issue to appropriate epic
- [ ] Add component label (such as `va-alert`), if applicable
- [ ] Add `component-new` or `component-update` label, if applicable
- [ ] Complete sections below
- [ ] Delete this section once complete

## Description
Had a fruitful discussion with @DanielleThierryUSDSVA where we decided a few things, the first of which is this new issue

[2022-08-11 13:45] humancompanion-usds commented on #908
While this is a low priority for VFS Teams, it is a high priority for DSC to clean-up alert confusion and this is a part of that. Danielle and I decided yesterday to give some specific uses for background-only alerts with icons. Specifically, we agreed the info style at least should be reserved for highlighting content and be distinct from Featured Content. So before devs start making examples let

[2022-08-11 14:54] humancompanion-usds commented on #943
Allison completed the icon audit: https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1657909827854/aa73720ad01c07977213daa48d510906f1e912ed?sender=u9ae4d29a0ed5c3d2753a7824 (I can't get to the Share link for this one but Natalie is the owner and should be able to open up access). She included some recommendations. I will file a new issue to get those into the system.

[2022-08-11 16:14] Mottie opened #1096 "[bug] VA-radio web component ignoring keyboard"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

When using the `VaRadio` web component, the `onRadioOptionSelected` and `onVaValueChange` callbacks are not called while using the keyboard to interact with the radio buttons.

## What I expected to happen

The `onRadioOptionSelected` and `onVaValueChange` (both?) callbacks should be

[2022-08-11 16:21] caw310 commented on #614
Check to see if this is still an issue. Modal was recently updated so may not be a problem.

[2022-08-11 16:27] caw310 commented on #883
What would it take to do this. Do a test to see what is required.

[2022-08-11 16:32] skylerschain opened #1097 "2-line version of the closed accordion"
It would be great to have a 2-line version of the `accordion/mobile/default/closed` component, so that the title can wrap to a second line.

**Original**
![closed Copy 6](https://user-images.githubusercontent.com/95102058/184183599-d131dc16-eda9-4de0-8ec3-72d2c8caaa97.png)

**Proposed**
![2 lines](https://user-images.githubusercontent.com/95102058/184183561-66e86e6b-3a42-4093-9f69-b38d3f59f219.png

[2022-08-11 16:43] bkjohnson commented on #1096
Possible solution: [switching `onClick` to `onFocus`](https://github.com/department-of-veterans-affairs/component-library/blob/8bebe09fed4166ea0f9f3687b097ca524192cbb8/packages/web-components/src/components/va-radio-option/va-radio-option.tsx#L66) since focus should be granted on clicking and keyboard navigation.

[2022-08-11 17:05] GnatalieH opened #1098 "[Alerts] - Make alerts dismissible by default and update Sketch library accordingly"
## Description
Alerts should be dismissible by default by using the close icon in the upper right corner.

## Details
This work should include updating background only alerts with and without an icon. We have an example of a dismissible full-width Informational alert already in Sketch.

## Tasks
- [ ] Audit current [alert assets in Sketch library](https://www.sketch.com/s/610156b6-f281-4497-81f3-6

[2022-08-11 17:17] caw310 opened #1099 "Prepare for usability testing of double-box focus styling"
## Description
Do prep work for usability testing of double-box focus styling.

## Tasks
- [x] Create screener questionnaire
- [x] Post message to recruit participants with screener questionnaire
- [x] Update Calendly invite with revised dates and time slots
- [ ] Send out Calendly invite to participants who meet our criteria
- [x] Prepare note taking mural board

## Acceptance Criteria
- [x] Conv

[2022-08-11 17:39] GnatalieH commented on #943
@humancompanion-usds I just invited you to the Mural board as an editor. Please let me know if you have any access issues. Thx!

[2022-08-11 17:42] GnatalieH commented on #432
@kristenmcconnell it's OK, I got another example from posting in the #design channel. Thx.

[2022-08-11 17:46] allisonlu opened #1100 "Experimental Design [On this page with translations]"
On pages with translated content where we're using the On this page component, the header appears in English, which would create bad user experience. Is there any plan to create logic for translating this header? Let me know if this beyond the scope of the Design System team.

Examples:
- https://www.va.gov/health-care/covid-19-vaccine-esp/
- https://www.va.gov/health-care/covid-19-vaccine-tag/

[2022-08-11 17:54] #1051 closed

[2022-08-11 17:56] bkjohnson opened #1101 "Indicate which components have been internationalized"
## Description

Some of our components (form controls and `<va-accordion>`) have translation support at the moment and some don't, including ones which should have that feature. It would be good if we had an indicator on the documentation page showing which components have this feature and for which languages.

## Details

Our components use the `component` layout. One possible solution would be t

[2022-08-11 18:42] bkjohnson commented on #1100
There is a plan for tackling this work within the Design System team. We are [waiting to receive translations](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/834#issuecomment-1189706338) so that we can make the appropriate changes.

[2022-08-11 21:04] #904 closed

[2022-08-11 21:11] #1027 closed

[2022-08-11 21:32] humancompanion-usds commented on #1101
Agree about the front matter being a potential place to capture the "checklist" of things that are, or are not, "done" in regards to a component. However, I'd like to extend this beyond just i18n and include a bunch of things. Therefore I'm leaning towards making a JSON data file in the _data dir of the Jekyll site that would track the state of the "checklist". Let me get cracking on a checklist d

[2022-08-11 21:49] #848 closed

[2022-08-11 21:49] #875 closed

[2022-08-11 22:08] humancompanion-usds opened #1102 "Create a checklist to track how complete a component is"
## Configuring this issue
- [ ] Add issue to appropriate epic
- [ ] Add component label (such as `va-alert`), if applicable
- [ ] Add `component-new` or `component-update` label, if applicable
- [ ] Complete sections below
- [ ] Delete this section once complete

## Description
We need a way to track how "complete" a component is in terms of the component itself, which may include functionality an

[2022-08-11 22:10] #1029 closed

[2022-08-12 00:22] humancompanion-usds opened #1103 "[Banner] - Add Banner to Sketch"
## Configuring this issue
- [ ] Add issue to appropriate epic
- [ ] Add Design System component label (such as `va-alert`)
- [ ] Add `component-new` or `component-update` label, if applicable
- [ ] Complete sections below
- [ ] Delete this section once complete

## Description
Add Sketch artifacts for Banner. No audit is necessary as that has already been done. Guidance is up-to-date though exampl

[2022-08-12 01:18] #1028 closed

[2022-08-12 15:10] joshkimux opened #1104 "508-defect-2 [COGNITION, KEYBOARD]: Focus MUST not be hidden by the leftnav"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

[This is a duplicate ticket of the VAA issue here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22824), but I assume it may be easier to fix at the source (hence the duplicate ticket here in DST).

## Feedback fr

[2022-08-12 15:17] andresriveratoro commented on #1045
This has been added to the [July 2022 DS updates confluence page](https://vfs.atlassian.net/wiki/spaces/DST/pages/2301493271/July+2022+Design+System+updates).

![Screen Shot 2022-08-12 at 11 15 57](https://user-images.githubusercontent.com/36863582/184386122-41524055-c805-4ed8-9ca1-5f24ee1cfafd.png)

[2022-08-12 15:17] #1045 closed

[2022-08-12 15:50] caw310 commented on #1046
Waiting for response from Check-in team on whether they will use date component.

[2022-08-12 16:38] bkjohnson opened #1105 "Promo banner is not tracked on va.gov analytics"
## Description

It was [brought to our attention](https://dsva.slack.com/archives/C01DBGX4P45/p1660260310590559) that the `<va-promo-banner>` was not being tracked on google analytics for va.gov.  With the recent PACT news being communicated through the promo banner, having insight into the clicks on the banner would be useful.

## Details
This isn't a problem with the component itself - a change

[2022-08-12 18:14] #1105 closed

[2022-08-12 18:57] bkjohnson commented on #725
@joshkimux regarding this acceptance criteria:

I believe that it is [already satisfied](https://github.com/department-of-veterans-affairs/component-library/blob/3fc3b7d33d9cfe5ac51a54d7aed0b445c26cfe05/packages/web-components/src/components/va-promo-banner/va-promo-banner.tsx#L129-L133), the actual link just takes up a lot of space:

![Screenshot of a promo banner component on Storybook with the

[2022-08-12 19:28] joshkimux commented on #725
@bkjohnson thanks for clarifying, I'll update the acceptance criteria! Ideally we'd like the link to not be full width beyond the text itself to prevent misclicks on mobile screen readers (because this is sticky and full width).

[2022-08-12 20:36] bkjohnson opened #1106 "Alert close button doesn't have any focus styles"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

When the close button on a dismissable alert receives focus, it uses the browser's default focus styling.

## What I expected to happen

I expected the button to have the same focus styling as other interactive elements.

Steps to reproduce:

1. Go to the [dismissable alert page in s

[2022-08-12 21:01] bkjohnson commented on #1046
No fix needed for the React Date component, the check-in team [will be using Memorable Date](https://dsva.slack.com/archives/C01DBGX4P45/p1660336214515849?thread_ts=1660236756.190719&cid=C01DBGX4P45) web component.

[2022-08-15 15:06] seanasewell commented on #989
@GnatalieH The component has been created in Sketch. I listed it as a form component. Let me know what you think (form / privacy agreement / state).

[2022-08-15 15:07] GnatalieH opened #1107 "On this page jump links should not have a max width"
## What happened
On this page jump links have a max width set to 285px. This causes  link text with a lot of characters to wrap in an unnatural way for English and translated content.

Example 1:
![Screen Shot 2022-08-15 at 9.55.19 AM.png](https://images.zenhubusercontent.com/6111980ab6b167c27c9a5723/cf9694a5-039a-4b32-a254-e3ac5a9c911d)

Example 2:
![Screen Shot 2022-08-15 at 9.54.24 AM.png](http

[2022-08-15 17:14] GnatalieH commented on #989
Hi @seanasewell, thanks! I think I'd put Privacy agreement at the top level, rather than under Form, and include it on the Privacy agreement page in Sketch. Otherwise everything looks great, thanks!

[2022-08-15 20:42] davidakennedy opened #1108 "VA Forms System Core [Component]: Step 8 - Duplicate IDs on page could cause issues for assistive technology"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

- [508-defect-3: ⚠️Moderate. Should be fixed in 1-3 sprints post-launch](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

The radio buttons in this step have the same IDs for each yes/no

[2022-08-16 13:30] seanasewell commented on #989
@GnatalieH Thanks for reviewing. I made those updates!

[2022-08-16 13:38] k80bowman commented on #1046
We can move forward with this and announce the deprecation of RadioButtons without waiting for the React Date component to be deleted.

[2022-08-16 14:00] jamigibbs commented on #966
From [this Slack conversation](https://dsva.slack.com/archives/C01K37HRUAH/p1660240015362249?thread_ts=1659547593.525989&cid=C01K37HRUAH), the decision was made to allow the `buttonText` value to be dynamic and default to "Upload file".

[2022-08-16 14:28] GnatalieH opened #1109 "[Pattern] Help users to know how their information is updated"
## Description
This ticket is continuing the work started in #702.

## Details
[Here is a link](https://www.sketch.com/s/789c144c-98c6-4350-b9d5-9acb6112069d/a/ag3xoJD) to the flow diagram for this pattern. I believe two patterns that were prioritized during the workshop -- Help a user to... "Review their changes" and "Understand the impact of changing their information" -- can be be resolved unde

[2022-08-16 14:31] GnatalieH commented on #702
Closing this ticket because the Pattern documentation work can be handled in [#1109](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1109). Both @humancompanion-usds and @allison0034 have reviewed and signed off on the work done so far.

[2022-08-16 14:32] SarahKay8 commented on #1052
Primary testing done. Ready for review

[2022-08-16 14:33] SarahKay8 commented on #1064
Manual testing complete

[2022-08-16 15:41] bkjohnson commented on #1098
I think we would want to use a different prop as well so that we can preserve the default falsey behavior. Something like `permanent`.

[2022-08-16 15:45] k80bowman opened #1110 "Add analytics tracking for new web components to vets-website"
## Description
We had several new web components that did not have analytics tracking enabled through vets-website. We need to set that up by adding the new tags from the [data dictionary](https://depo-platform-documentation.scrollhelp.site/analytics-monitoring/google-analytics-data-dictionary) to [component-library-analytics-setup.js
](https://github.com/department-of-veterans-affairs/vets-websit

[2022-08-16 15:55] #1067 closed

[2022-08-16 16:32] TiffanyPender opened #1112 "[A11y] VA Forms System Core [Demo Content]: Repetitive heading level text and hierarchical structure issues"
# Bug Report

- [X] I’ve searched for any related issues and avoided creating a duplicate issue.

*Partially related:*
* ["On this page" should be read as a heading with a level of 2 #821](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/821)
* [sitewide, design system, CMS — 508-defect-2 [AXE-CORE]: Heading levels SHOULD increase by one, On this page compo

[2022-08-16 17:56] GnatalieH commented on #989
Thanks @seanasewell! Sorry to be a stickler, but shouldn't we be nesting the [checkbox symbols](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/ELAzjv2) in the Privacy agreement symbols? Did you have to break the checkbox symbols? I believe we should also not allow overrides for the Privacy agreement checkbox text, since it's standard, except for maybe the error message. Also, I no

[2022-08-16 18:28] seanasewell commented on #989
@GnatalieH The checkbox symbol has some padding built into it (padding-left: 24px; padding-top: 14px;). The padding between the checkbox itself and the label is 10px. This padding doesn't match the [privacy agreement padding in storybook](https://design.va.gov/storybook/?path=/docs/components-privacyagreement--default). The error state padding is a bit different than what's standard as well. I hav

[2022-08-16 18:53] k80bowman commented on #1046
Announcement text:

[2022-08-16 19:08] GnatalieH commented on #989
Hi @seanasewell, we're deprecating that React Privacy agreement component. Can you design the new one at the specs you think it *should* be? It shouldn't match the React component if that's out of sync with our other form control states. Sometimes we optimize things when we go from React to Web components. Thanks!

[2022-08-16 19:34] GnatalieH commented on #1030
This work was completed in #[964](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/964) and #[960](https://app.zenhub.com/workspaces/platform-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/vets-design-system-documentation/960). Form inputs have all been cleaned up and use nested symbols and layer styles.

[2022-08-16 19:34] #1030 closed

[2022-08-16 19:35] k80bowman opened #1113 "Cypress tests unable to access button inside va-modal"
## Description
A recent change to the va-modal component has caused Cypress tests to be unable to access a button inside the va-modal component ([PR where we tried to bump the component library version above 11.3.0 and failed](https://github.com/department-of-veterans-affairs/vets-website/pull/21865)). Another engineer has [identified the fix](https://dsva.slack.com/archives/CBU0KDSB1/p16606759218

[2022-08-16 19:41] k80bowman opened #1114 "Move to deprecation phase 2 - RadioButtons React component"
## Description
**This issue should not be worked on until September 29th, 2022**

We need to move the RadioButtons React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the E

[2022-08-16 19:44] k80bowman commented on #1046
Announced in the #platform-design-system, #vfs-all-teams, and #design channels. Created ticket (#1114) for the next step in the deprecation process.

[2022-08-16 19:44] #1046 closed

[2022-08-16 19:53] GnatalieH opened #1115 "[Checkbox, Checkbox group, Radio button] - Error state styles do not match other form controls"
## Description
Error state styles in Checkbox, Checkbox group, and Radio do not match other form controls' error states. I expect the label (black) and error message (red) to be bold. Margins and padding should be updated to match [va-text-input error](https://design.va.gov/storybook/?path=/docs/components-va-text-input--error) or [va-text-area error](https://design.va.gov/storybook/?path=/docs/co

[2022-08-17 01:38] SarahKay8 commented on #1011
Hey team. I don't have any additional feedback for current considerations. Moving to review/QA pipeline

[2022-08-17 13:59] seanasewell commented on #989
@GnatalieH Ok, I updated it to match the padding in the checkbox component. I did have to break the checkbox and label symbol in order to accommodate the text, privacy policy link, and the required text. Does that work? It's a little difficult to make the checkbox and label symbol work here because I would have to add the privacy policy link styling (blue, underlined text) along with required text

[2022-08-17 14:05] GnatalieH commented on #989
@seanasewell thank you! Yes, it's fine to break the symbol in this case. I am familiar with how the different styles of text, including required and link text, make things complicated. Thanks so much!

[2022-08-17 14:13] KevinMHoffmanUSDS commented on #1097
Hello, @skylerschain!

Based on a quick look in Storybook, it already behaves this way. Attached is a screenshot. Can you tell me a little more about what you're thinking?

<img width="173" alt="image" src="https://user-images.githubusercontent.com/50150810/185156471-3c53e1e7-87b3-4fa5-89c7-8a5101af9915.png">

[2022-08-17 14:43] seanasewell commented on #989
@GnatalieH Sounds good to me! Thank you :)

[2022-08-17 15:05] #1064 closed

[2022-08-17 15:05] GnatalieH commented on #989
[Here is the link](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/l13oDA7) to the Privacy Agreement page in the Sketch library, which we'll link to from design.va.gov.

[2022-08-17 15:05] #1052 closed

[2022-08-17 15:51] #1011 closed

[2022-08-17 15:53] caw310 commented on #432
@humancompanion-usds , please review.

[2022-08-17 16:09] GnatalieH commented on #989
@seanasewell I presented the designs today at standup, and Katy reminded me about [this ticket's discussion](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/961). We should use the description field for the link text because we don't want to open up the checkbox to allow HTML elements. I feel like we should circle around with Content to find out if they ha

[2022-08-17 16:15] GnatalieH commented on #432
I added a bullet point under Accessibility in the Button documentation to say:

- Button labels should never change dynamically or be used to communicate a status.

[Here's that PR](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/1111/files).

[2022-08-17 17:50] jamigibbs commented on #614
**Analysis**

- I was able to reproduce the issue from the login modal at https://www.va.gov/?next=loginModal and the [React version in Storybook](https://design.va.gov/storybook/?path=/docs/components-modal--default) (the React version is being used in the login modal).
- I was only able to reproduce the issue by adding a wrapping div to the modal content with a background color. For example in t

[2022-08-17 17:50] #614 closed

[2022-08-17 18:40] skylerschain commented on #1097
Hey Kevin. That does look correct! Maybe this is more of an issue with the Sketch library than the component itself.

In Sketch, I didn't see a version of the `accordion/mobile/default/closed` component that wraps to two lines. And when you add two lines of text, the component is not responsive to that. I've attached a short screen recording so you can see what I mean.

The solution would be to ad

[2022-08-17 18:47] #476 closed

[2022-08-17 18:47] caw310 commented on #476
Work for this has been completed.

[2022-08-17 18:53] caw310 commented on #1097
This is on the agenda for the 8/19 DSC meeting.

[2022-08-17 20:19] k80bowman commented on #1110
I've created a couple of draft PRs, one in `vets-website` to add the analytics tracking and one in `component-library` to add analytics details. I still need some info from the analytics team to finish this work, though. I have a meeting to discuss this with them on Monday.

[2022-08-17 20:58] caw310 commented on #500
Closing this epic as this was used by QA team last year when they were closing out a11y issues.

[2022-08-17 20:58] #500 closed

[2022-08-17 21:23] bkjohnson commented on #401
Closing since we no longer support IE11.

[2022-08-17 21:23] #401 closed

[2022-08-17 21:27] bkjohnson commented on #482
@joshkimux can you confirm if this can be closed or not?

[2022-08-17 21:31] bkjohnson commented on #492
The telephone web component [has various `axeCheck()`s that it is passing](https://github.com/department-of-veterans-affairs/component-library/blob/3fc3b7d33d9cfe5ac51a54d7aed0b445c26cfe05/packages/web-components/src/components/va-telephone/test/va-telephone.e2e.ts#L13-L43). We won't be adding any more unit tests to the `<Telephone>` React component since the web component replaces it.

[2022-08-17 21:31] #492 closed

[2022-08-17 21:32] bkjohnson commented on #563
Closing since we no longer support IE11.

[2022-08-17 21:32] #563 closed

[2022-08-17 21:53] caw310 commented on #192
Closing as the wizard has been deprecated and there is a new pattern in progress for one thing per page.

[2022-08-17 21:53] #192 closed

[2022-08-18 14:52] seanasewell commented on #883
@GnatalieH @humancompanion-usds I have been testing this and here is what I have learned.

Keeping the components in the same file as the symbols is problematic for more reasons than we initially thought. It turns out that copying and pasting the components from the parent symbol file into a working file stores the component as a local file symbol ([see example](https://d.pr/i/naxTye)). This might

[2022-08-18 14:56] GnatalieH commented on #1097
I know we're talking about this at the DSC tomorrow, but @skylerschain I think this will make a good addition to the Sketch library. The wrapping accordion header is a likely scenario in small mobile viewports. We can add it to the library by putting this work in our backlog, or if you create and share the assets it will get added to the library even sooner. :) Thanks for bringing this up!

[2022-08-18 15:30] seanasewell commented on #883
@GnatalieH

_> So, will Designers open up the component file that's in the Design Team workspace to do their copy and pasting, if that's how they want to work?_

Yes, they will be able to open up the component file and copy and paste components into their working file. They will still need to connect the va.gov symbols library to their working file so that their working file knows what master symb

[2022-08-18 16:06] GnatalieH commented on #961
@taylorkaren did your team change the copy around so the link is in the description text and not in the checkbox text? Sorry if this question is redundant, I may have mentioned this in Slack as well.

[2022-08-18 16:44] SarahKay8 commented on #984
No feedback to add!

[2022-08-18 16:44] #984 closed

[2022-08-18 19:47] #967 closed, assigned to k80bowman, caw310

[2022-08-18 20:09] GnatalieH commented on #989
Hey @seanasewell. I updated the [Privacy agreement component](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/l13oDA7) so that it is formatted with the link in the description slot, rather than in the checkbox text. Can you give it a quick review? I tweaked some of the naming conventions to fit how Matt likes to name things. I don't have confirmation on the exact copy, yet, but I a

[2022-08-18 20:24] #360 closed

[2022-08-18 20:35] #1058 closed

[2022-08-18 20:35] jamigibbs commented on #968
@humancompanion-usds @GnatalieH I've created a draft PR for the `va-file-input` component documentation here: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/1117

I've added the storybook examples, code usage, and a few other updates based on [this template](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/blob/main/src/_co

[2022-08-18 23:39] bkjohnson commented on #1035
In order to use USWDS3 resources as much as possible for our accordion web component it looks like we would need to build the `<va-accordion-item>` without a shadow DOM. This is because the `usa-accordion` JS has a function that accepts a button and [uses `.closest()` to look at its parents until a match is found for a selector](https://github.com/uswds/uswds/blob/846e45b50662851a6d37f20726d9d20dd

[2022-08-19 14:38] seanasewell commented on #989
@GnatalieH Looks good to me. Thanks for diving into this!

[2022-08-19 14:49] seanasewell commented on #883
After discussing with @GnatalieH here are next steps

- Continue to insert and format symbols from Sketch library into new component file located in the Design Team workspace. Designers will be able to copy and paste from this file into their working file without having to worry about accidentally adding local symbols. And DST won't have to worry about designers working from within the library fil

[2022-08-19 15:04] caw310 commented on #988
No audit was done as not needed as we had another issue come up where review of privacy agreement was done.

[2022-08-19 15:04] #988 closed

[2022-08-19 17:11] allisonlu commented on #1100
- Spanish = **En esta página**
- Tagalog = **Sa pahinang ito**

[2022-08-19 17:14] caw310 commented on #1100
From DSC meeting on 8/19

- Allison to add translations to the ticket.
- DST will work on this request either in this sprint or the next.

[2022-08-19 18:18] jilladams opened #3522 "Restore VSO footer link to new URL"
**BLOCKED on approval from Dave, pending review of the veteran experience on the site we are linking to.**
Randi to provide copy.

## Description
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10335 removed VSO broken link from the footer.

The Director of VSO provided `https://www.va.gov/ogc/recognizedvsos.asp` as the proper link to redirect to.

We need to restore the footer

[2022-08-19 19:18] #966 closed

[2022-08-19 19:37] joshkimux commented on #482
Yes, we can close this, just [tested the on this page component on the Springfield, MA Vet Center page](https://www.va.gov/springfield-ma-vet-center/#in-the-spot-light) and it's labelled appropriately.

[2022-08-19 19:48] #482 closed

[2022-08-19 19:50] jamigibbs commented on #1113
If this issue would be solved just by moving `.va-modal` back into the `<Host ...>` element, then could we do that and then just apply some custom CSS to accomplish whatever we were trying to fix before? @andresriveratoro I'm not entirely sure why that class was moved to begin with but if the issue was that Formation styles were overriding something and we weren't able to display the modal content

[2022-08-19 21:28] Mottie opened #1118 "[bug] `va-accordion` expand/collapse all button visibility"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

I found 2 minor issues with the `va-accordion` web component.
- If there is only one `va-accordion-item` within this wrapper, the "Expand all"/"Collapse all" button should be hidden, or update the documentation to describe the usage for only one `va-accordion-item`
- If all of the `v

[2022-08-22 14:36] k80bowman commented on #1035
It sounds to me like it may not be worth using the USWDS JS. It wasn't written with web components in mind, and I hate to lose the shadow DOM (and to have to do some gymnastics around getting analytics to fire). I would be OK with just sticking with using USWDS CSS.

AS for the font issues, do you have any recommendations about how we could resolve that? Is that something that was a problem with t

[2022-08-22 14:42] k80bowman commented on #1118
In the [Slack thread](https://dsva.slack.com/archives/CBU0KDSB1/p1660933080161249?thread_ts=1660930161.119749&cid=CBU0KDSB1) on this support issue, @bkjohnson noted that he thought we had some guidance saying that an accordion should have two or more items, but it doesn't seem to be currently in our [guidance](https://design.va.gov/components/accordion).

@GnatalieH or @humancompanion-usds, do you

[2022-08-22 14:43] k80bowman commented on #1110
Meeting moved to Tuesday.

[2022-08-22 15:02] GnatalieH commented on #1118
@k80bowman I also believe we should update our guidance to say that accordions should always have two or more items. If someone needs a single expandable content element, they can use Additional info. CC @humancompanion-usds

[2022-08-22 15:05] k80bowman commented on #977
@andresriveratoro since you did the development on this component, would you be able to validate that [this issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11852) is not a problem with the web component?

[2022-08-22 15:30] k80bowman commented on #849
@bkjohnson this is good to announce correct? If so, I can take care of adding it to the Confluence doc.

[2022-08-22 15:30] k80bowman commented on #917
@bkjohnson this is good to announce correct? If so, I can take care of adding it to the Confluence doc.

[2022-08-22 17:27] GnatalieH commented on #1087
@seanasewell and @humancompanion-usds I deleted duplicate text styles and better organized some styles under the appropriate categories. If any components used a text style I deleted, the properties are still maintained and the text style is unlinked. So, when we move the components into their own file (which Sean started) we can re-apply any text styles that might have been unlinked. I think thin

[2022-08-22 17:49] GnatalieH commented on #989
@seanasewell and @humancompanion-usds I updated [the Sketch file](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/l13oDA7) with the correct Privacy agreement verbiage. This should be ready to close pending Matt's review.

[2022-08-22 18:02] bkjohnson commented on #917
Other than making it available in `vets-website`, it should be.

[2022-08-22 18:03] bkjohnson commented on #849
Other than making it available in `vets-website`, it should be.

[2022-08-22 18:24] bkjohnson commented on #1035
I didn't really notice the font-sizing issues with the textarea, and I'm still not quite sure why they were happening here. We may need to modify the base size or resort to adding custom CSS to set the font-size to be what we want it to be.

Also, using the SVG assets worked, but I wasn't able to get things setup so that the build would look in the USWDS SVG directory _and_ our own one, but I figu

[2022-08-22 18:40] GnatalieH commented on #481
The Memorable date component satisfies this request, I believe. FYI @caw310 and @k80bowman

[2022-08-22 18:50] k80bowman commented on #917
Ah that's right. I forgot about that. :(

[2022-08-22 18:56] k80bowman commented on #481
Yes, however we have some upgrades to that component that are not available in `vets-website` just yet. The component is there and you can go ahead and use it, but there are some issues with validation that we've resolved. We have to get an issue with the Cypress tests worked out and then it should be ready. I apologize for the delay.

[2022-08-22 19:06] GnatalieH opened #1121 "[Pattern] Help a user keep a record of submitted information"
## Description
In a recent DSC workshop on patterns, two people voted to include the following:

- Help a user to download a copy of a form they just completed

This isn't high-priority, but worthy of getting on the DST backlog (per Matt). This pattern was also identified and voted on in a workshop with VFS teams.

## Tasks
- [ ] Write or update pattern documentation for design.va.gov
- [ ] Coordi

[2022-08-22 19:13] GnatalieH opened #1122 "[Pattern] Ask users for files"
## Description
This pattern was recently identified and voted on in DSC and VFS workshops on patterns. Here is the original request:

- Help a user to upload documents (beware of "scan", think about "convert")

## Details
The Content team has approved the button label "Upload file" rather than "Upload document" in order to have it apply to more use cases, such as uploading an image. In addition, w

[2022-08-22 19:15] GnatalieH commented on #432
Closing this ticket per Matt's suggestion. We'll handle uploading/downloading patterns in #[1121](https://app.zenhub.com/workspaces/platform-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/vets-design-system-documentation/1121) and #[1122](https://app.zenhub.com/workspaces/platform-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/vets-design

[2022-08-22 19:15] #432 closed

[2022-08-22 20:56] GnatalieH commented on #481
No worries, now I remember the validation issues, @k80bowman. Thanks for that update!

[2022-08-22 21:00] bkjohnson commented on #1113
A temporary workaround for this in `vets-website` was to [force Cypress to click on the Cancel button inside the modal](https://github.com/department-of-veterans-affairs/vets-website/pull/21925/files#diff-f3704327d1b6a932b3134cb6f0ebff6dbfea2afa9f9a300a497284d0ae64f091R333). We'll want to test this fix by removing the `{ force: true }`.

[2022-08-23 00:01] bkjohnson opened #1123 "Discovery: Can consumers hook into our analytics event"
## Configuring this issue
- [ ] Add issue to appropriate epic
- [ ] Add component label (such as `va-alert`), if applicable
- [ ] Add `component-new` or `component-update` label, if applicable
- [ ] Complete sections below
- [ ] Delete this section once complete
## Description

## Details
_Stub, add more detail_

Is it possible for app teams to add more data to our analytics events that will then

[2022-08-23 02:19] andresriveratoro commented on #1113
@jamigibbs The issue was that styling from the `va-modal` class was not being applied to the component when our va-modal web component was used inside another web component (va-omb-info). When used on its own, the styling was applied correctly. When va-modal isn't visible, it returns null, but in the DOM it displays the web component with the `va-modal` class and its markup. When clicking a button

[2022-08-23 15:25] seanasewell opened #1124 "Separate design library symbols and designer facing components into two files"
## Description

As a designer, I want to be able to quickly scan what symbols and patterns are available to me so that I can use them in my working design file. I would also like to be able to copy those symbols and paste them directly in my working design file.

As someone who manages the design system Sketch library, I want to be able to lock the file so that it can only be accessible by a few p

[2022-08-23 15:50] #883 closed

[2022-08-23 16:05] humancompanion-usds commented on #989
@GnatalieH and @seanasewell - This looks good. One issue: We seem to have consistently used 12px of space below error text in other components, and in this one. But the space above - between the label and the error text - seems a little random here and in some of the other components I looked at (seems to be 0px in Privacy agreement, 8px in File Input, 8px in Date Input, 0px in Number input, etc.)

[2022-08-23 18:17] imelda-guzman opened #1125 "VaTextInput missing Required text"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

Upgrading versions of component-library and web-components are not displaying the VaTextInput required text. I get two different behaviors for different versions.

When upgrading to `component-library 10.8.0` and `web-components 4.7.0` all my text inputs that have the required attrib

[2022-08-23 19:15] bkjohnson commented on #1125
How are you loading and defining the web components on your site?

[2022-08-23 19:54] GnatalieH commented on #989
@humancompanion-usds good catch. I imagine that some of the inconsistent spacing came from older artifacts (Sketch or React components). And, when I updated some things on the form input symbols recently I noticed the previous designer had used 28px line heights for the input field labels (to automatically put in some spacing, I suppose). I changed this to 24px line height (which I checked against

[2022-08-23 19:58] humancompanion-usds commented on #989
If you feel that 24px line-height with no spacing is equivalent to 16px line-height and 4px spacing then it sounds like we can just go with the Sketch changes you made without having to update our components. If you think that's not sufficient spacing then let's talk more.

[2022-08-23 20:00] imelda-guzman commented on #1125
@bkjohnson we are importing all web components like this:
[code]
and the component

[code]

[2022-08-23 20:28] #1031 closed

[2022-08-23 20:33] bkjohnson commented on #1125
In [version 10.1.0](https://github.com/department-of-veterans-affairs/component-library/releases/tag/v10.1.0) we began providing built-in translations to some components. We're doing the necessary setup for that in the index file of the `component-library` package. If you follow [our guidance here](https://design.va.gov/about/developers#load-the-web-component-library) and import and call `defineCu

[2022-08-23 21:34] bkjohnson commented on #849
The announcements have been made.

[2022-08-23 21:43] imelda-guzman commented on #1125
@bkjohnson thanks for pointing me in the right direction.  I needed to update the import in our `index.tsx` file. Our app was still importing the old reference

[code]
The Required label works in both versions `10.8.0` and `11.5.0` after I updated the correct import as detailed [here](https://design.va.gov/about/developers#load-the-web-component-library)

Thanks again for your help.

[2022-08-23 21:52] #1125 closed

[2022-08-23 21:53] imelda-guzman commented on #1125
Closing this issue.  It was a user error on my part. I forgot to update the correct import for calling `defineCustomElements`

[2022-08-23 22:18] GnatalieH opened #1127 "[Typography] - Update Typography page to include more examples"
## Description
The [Typography](https://design.va.gov/foundation/typography) page on design.va.gov isn't comprehensive in that it doesn't show a full list of mobile or desktop styles. The Typography page and Sketch library should be better aligned.

## Details
Update Typography to include a comprehensive list of mobile and desktop heading, link, and body text styles. Check against text styles in t

[2022-08-23 22:20] GnatalieH commented on #1087
Closing this ticket because I created #[1127](https://app.zenhub.com/workspaces/platform-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/vets-design-system-documentation/1127) to address updating the Typography page on design.va.gov.

[2022-08-23 22:20] #1087 closed

[2022-08-24 13:50] humancompanion-usds commented on #1107
Let's discuss this. USWDS had (can't find it right now) a recommended max-width for paragraphs that used the `ch` CSS unit for measuring width. I want to say it was 66 or 77ch wide. Letting all text go to 100% of the container is not going to result in a more readable line length. Perhaps our current line length is a little draconian but, 100% is not the answer.

[2022-08-24 13:56] humancompanion-usds commented on #1104
@bkjohnson - Can you remind me - is the sidenav really in the Design System? It seems to be just a HTML and CSS example in Storybook.

@joshkimux - Depending on how Brooks responds, it may be that you'd need the CMS team to address this as I don't think sidenav is actually codified in the Design System yet and thus they would more likely be able to "fix it at the source". I would like to get the s

[2022-08-24 13:59] joshkimux commented on #1104
@humancompanion-usds I think [there's currently documentation on the sidenav here in the design system](https://docs.google.com/spreadsheets/u/1/d/1lgzMiZZ-0rBPDuB2gRupBAjsyF0WTe005VvEHYrMxww/edit#gid=1455909611) where it's listed as a best practice

[2022-08-24 14:53] GnatalieH commented on #1001
I would love to help out with this work, FWIW. I remember Mikki and Meg showing me these experience standards when I first joined the DST.

[2022-08-24 14:53] caw310 opened #1128 "[Pattern] Help users to stay informed of their application status - Audit"
## Description
Audit of  application status pattern. Identify as many instances of this pattern in use on VA.gov and share with the Design System Team.

## Tasks
- [ ] Work with engineers and the Governance team to find examples of this type of pattern
- [ ] Use the [Test User Dashboard](https://depo-platform-documentation.scrollhelp.site/developer-docs/test-user-dashboard-guide) to complete educa

[2022-08-24 15:03] GnatalieH commented on #1107
@humancompanion-usds happy to discuss this. My reasoning was that the body text extends the width of the main content area, so I thought these jump links would be OK doing that especially since they are a larger typeface. I read a bunch of articles on usability and line length, and 45-75 characters is considered a best practice. However, there was a newer study that indicated that for on-screen te

[2022-08-24 15:05] caw310 opened #1129 "Create shared search library"
## Description
There was a request for Experimental Design [Search Result Card] that was discussed in the 8/05/22 DSC meeting.
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1085

Action items from that meeting were:
- Create template for Search shared library in Search
- Set up time with Aslan to talk through how they create things in Sketch.
- Document

[2022-08-24 15:27] bkjohnson commented on #1104
The sidenav is sort of in the Design System in the sense that [we have some CSS for it in `formation`](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/aecb6e9f10948ef29529c30efadca5237145b857/packages/formation/sass/modules/_m-nav-sidebar.scss), but even that isn't something that I would consider to be production quality. For example, [it breaks on mobile](http

[2022-08-24 15:44] humancompanion-usds opened #1130 "Some form components trigger an error immediately onBlur when a field is blank"
## Description

The a11y specialists have noted that screen reader users often tab through all the fields in a form to learn how long the form is and what is going to be asked of them. When doing that it would appear that some of our components throw an immediate error when tabbing out of the field to the next field. We recently addressed this, I believe, in the Memorable Date component as that co

[2022-08-24 15:49] #849 closed

[2022-08-24 15:55] #989 closed

[2022-08-24 16:07] GnatalieH commented on #1128
Here is the [Mural board](https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1661355714382/20b034bd9720885de162064c435f5a86f4222449?sender=u851998f98038e0f1e2da4592) I created for this audit. Screenshots to be added.

[2022-08-24 16:49] #1099 closed

[2022-08-24 17:11] GnatalieH opened #1131 "Incomplete focus halo on prototype"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

The focus halo on our [prototype](https://dev.va.gov/health-care/covid-19-vaccine/) is missing the bottom border in the open state on expandable parent elements, and on the left and right sides for child elements in the sidenav.

Examples:

### Sidenav
![Screen Shot 2022-08-24 at 11.

[2022-08-24 17:11] GnatalieH opened #1132 "Incomplete focus halo on prototype"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

The focus halo on our [prototype](https://dev.va.gov/health-care/covid-19-vaccine/) is missing the bottom border in the open state on expandable parent elements, and missing the left and right sides for child elements in the sidenav.

Examples:

### Sidenav
![Screen Shot 2022-08-24 a

[2022-08-24 17:18] GnatalieH commented on #1131
Error from Zenhub, this ticket was produced as a duplicate.

[2022-08-24 17:18] #1131 closed

[2022-08-24 17:27] caw310 commented on #1132
@bkjohnson , is this a simple fix?

[2022-08-24 17:31] bkjohnson commented on #1132
The accordions in the first and third images will be simple, but I don't think the second will be where the shadow is removed on the left and right sides. That may require more extensive sidenav work.

[2022-08-24 17:34] GnatalieH commented on #1132
FWIW, I think the bottom border issue is more significant than the left and right sides border issue. But, users may expect the new focus style to work in a similar fashion to the existing one, where all four sides of the halo are visible on all interactive elements. @bkjohnson, can the sidenav child elements get this treatment?

<img width="307" alt="Screen Shot 2022-08-24 at 12 33 30 PM" src="ht

[2022-08-24 17:44] bkjohnson commented on #1132
Actually, I think the second issue may be simpler than I thought. @GnatalieH yes, I think all sidenav links could have that focus styling.

[2022-08-24 18:08] seanasewell commented on #1001
@GnatalieH Are you working on any other tickets? I am working on separating symbols and front facing components sketch file. It's a big task. I know this one is assigned to me but if you want to tackle it, I don't mind at all.

[2022-08-24 21:26] Mottie commented on #1118
https://staging.va.gov/decision-reviews/higher-level-review/#find-addresses-for-other-benef-8622

[2022-08-24 21:56] GnatalieH commented on #1001
@seanasewell I don't this this work is scheduled for our next sprint. I just happened to see this ticket in the backlog and commented on it. Let's chat when I return after Labor Day. I want to help you on that big task, too. Thanks!

[2022-08-24 22:40] bkjohnson commented on #1118
Since that template is [setting `data-multiselectable` based on a CMS value](https://github.com/department-of-veterans-affairs/content-build/blob/9af577e75ab432e385cecc4a25620b2bc608751c/src/site/paragraphs/collapsible_panel.drupal.liquid#L28), a quick fix could be to add the `open-single` prop to the accordion if `entity.fieldCollapsiblePanelMulti` is false.

![A screenshot of Mottie's link above

[2022-08-24 22:54] obliviga opened #1133 "Incorrect font family is rendered inside the VaTextInput"
# Bug Report

- [ ] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
When rendering the VaTextInput component, the font family of the input element's text value is being rendered as Arial. The font should not be Arial, but should be one that is listed on the design system: https://design.va.gov/foundation/typography#fonts

![image](https://user-images.

[2022-08-25 00:30] bkjohnson commented on #1132
Changes are ready for review in https://github.com/department-of-veterans-affairs/content-build/pull/1277

[2022-08-25 13:55] taylorkaren commented on #1130
Any work for the Forms Library team related to this issue would be done on the [When should errors be triggered? ticket](https://app.zenhub.com/workspaces/forms-library---platform-spike-team-61b0ae1f2cd3c30014e8a5b0/issues/department-of-veterans-affairs/va-forms-system-core/588)

[2022-08-25 14:50] humancompanion-usds opened #1134 "Link Design System Form patterns to Forms Library codified patterns"
## Description
Given that the Forms System Team has done a great job of updating the Forms System documentation out on the Platform Developer Docs site, it would be great if we could link the Design System form components to that documentation.

## Details
I **think** this may be appropriate but perhaps not so I am looking for feedback here. One reason it might not be appropriate is that the compo

[2022-08-25 15:59] #1035 closed

[2022-08-25 16:13] #1132 closed

[2022-08-25 17:36] bkjohnson opened #1136 "Add slot documentation for components"
## Description

None of our components have any specific documentation on what slots are available. We should add that to Storybook and design.va.gov

## Details

[Slack discussion](https://dsva.slack.com/archives/G01BJ3ESXL4/p1660840993097779) on how to [document slots in Stencil](https://stenciljs.com/docs/docs-json#slots).

## Tasks
- [ ] Update components to use the `@slot` docComment tag
- [

[2022-08-25 17:43] bkjohnson opened #1137 "Remove header and level props from accordion storybook examples"
## Description

Our accordion component still has the `level` and `header` prop for compatibility with older code, but we want teams to be using the `headline` slot instead. We should remove `header` and `level` prop examples from Storybook.

## Tasks
- [ ] Update accordion stories to not use any `header` or `level` props

## Acceptance Criteria
- [ ] Accordion stories on storybook don't use `head

[2022-08-25 18:27] humancompanion-usds opened #1147 "Update Ask a user for multiple responses (aka list and loop) with all variations"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Pattern

### What is the name?

patterns/ask-users-for/multiple-responses

### What is the nature of this update?

- [ ] How to build this component/pattern
- [ ] When to use this component/pattern
- [ ] When to use something else
- [ ] Usability guidance
- [ ] Accessib

[2022-08-25 18:28] bkjohnson commented on #1148
@humancompanion-usds do we want to do this anymore now that we have the Maturity Scale instead of a separate "Experimental Design System"?

[2022-08-25 19:34] humancompanion-usds commented on #1148
Shawna and I decided to gather feedback by holding quarterly (or so) workshops with VFS Teams to get them to chime in on patterns and component they need. We held the first one on 8/8/22 and it was a success! We now have a board of priorities from those who participated (turn out was ~20 people IIRC):
https://github.com/orgs/department-of-veterans-affairs/projects/779/views/2

Thus I think we'll c

[2022-08-25 19:34] #1148 closed

[2022-08-26 14:25] caw310 commented on #1097
On the agenda for 8/26 DSC meeting.

[2022-08-26 14:28] #1150 closed

[2022-08-26 14:28] caw310 commented on #1150
Closing as this is a duplicate of 1162
https://app.zenhub.com/workspaces/platform-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/vets-design-system-documentation/1162

[2022-08-26 15:55] humancompanion-usds commented on #1038
New patterns and templates structure is live!

https://design.va.gov/patterns/
https://design.va.gov/templates/

The rest of this information is captured in an airtable:
https://airtable.com/invite/l?inviteId=invrjoqpGSqjdYf4s&inviteToken=1082a3b62e3d39fe955ce43eaa5d6c484789e7e7f96c8df1cd7f548efab060fd&utm_medium=email&utm_source=product_team&utm_content=transactional-alerts

[2022-08-26 15:55] #1038 closed

[2022-08-26 17:40] caw310 commented on #1097
From DSC meeting:
DST will add this ticket to our backlog to update Sketch library with the 2-line version of closed accordion.

[2022-08-26 20:15] SpencerSaunders1 opened #1164 "Loading Indicator web component throwing TypeError:"
Hello from the VAS-UI team,

I'm currently trying to remove the React component instances of VA Loading Indicator and replace them with VA Loading Indicator web component instances. However, I'm getting the following console error when I add the web component version: **TypeError: Failed to execute 'observe' on 'MutationObserver': parameter 1 is not of type 'Node'.**

![image](https://user-images.

[2022-08-26 20:28] bkjohnson commented on #1164
Do you get this error if you just use the regular component without the React binding? i.e. `<va-loading-indicator>`.

[2022-08-26 21:48] SpencerSaunders1 commented on #1164
I tried using the regular component without the React binding and the error was still persisting. I was able to fix this bug by wrapping it as follows:
[code]
I think the reason why I needed to add the divs was because this particular instance of the loading indicator was in the root level file of the application and this instance of va-loading-indicator didn't have any parent tags surrounding it

[2022-08-26 22:41] bkjohnson commented on #1164
The component does expect there to be a parent element so that it can fire an event for analytics once loading is finished. If your root document has a `<body>` tag you may not need those extra wrappers.

[2022-08-29 14:16] k80bowman commented on #1134
In the current forms system, there are some places where design system components are used, while in other places there are custom components being used instead. We could tease that out and add links in the documentation where appropriate, but it would take a little work.

I think the decision about whether to do this work (and fix little details like the SSN thing) comes down to whether or not we

[2022-08-29 16:00] humancompanion-usds commented on #1089
Let's use this example instead:
![Audit Banner   full-width Alert (1)](https://user-images.githubusercontent.com/52176351/187243649-efddcfd7-d56d-4b73-a5ef-9cba1d694101.png)

This is a better example of "Preparing a Veteran to visit a VA facility", which is a prime use today of the banner component. I'll try to find us another example as well.

[2022-08-29 18:42] #1080 closed

[2022-08-29 19:09] k80bowman commented on #481
The memorable-date component is now available for use in vets-website.

[2022-08-29 20:29] andresriveratoro commented on #977
@k80bowman The va-link web component includes [variants for download and video links](https://design.va.gov/storybook/?path=/docs/components-va-link--default). We can close https://github.com/department-of-veterans-affairs/va.gov-team/issues/11852 as part of this issue.

[2022-08-29 21:13] andresriveratoro commented on #985
Storybook examples are updated in this https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/1165.

[2022-08-29 21:18] bkjohnson commented on #864
Closed in https://github.com/department-of-veterans-affairs/vets-website/pull/22040. Will be following up to turn the new warnings into errors for changed files on Wednesday 9/7.

[2022-08-29 21:18] #864 closed

[2022-08-30 13:54] k80bowman opened #1166 "Determine the size savings with the new v3 CSS library"
## Description
We want to determine just how much smaller the new utility class library based on USWDS v3 will be compared with the utility class portion of Formation.

We need to compare the sizes of each individual utility file, as was done as part of the [initial implementation of the color utilities](https://github.com/department-of-veterans-affairs/component-library/pull/452). We should also

[2022-08-30 14:08] oleksii-morgun-va opened #1167 "Alert components containing buttons in mobile view"
It appears that <va-alert> component containing a button, doesn't apply proper styling on mobile views, causing the button width to expand outside of the Alert component width.

https://design.va.gov/storybook/?path=/docs/components-va-alert--default

![image](https://user-images.githubusercontent.com/87077843/187458958-f3a6322b-671e-4f9e-a2f7-352be904374e.png)

[2022-08-30 15:45] k80bowman commented on #977
Fantastic, thank you!

[2022-08-30 15:48] k80bowman commented on #864
Are you going to post the announcement today?

[2022-08-30 15:50] caw310 commented on #917
Just put this in the confluence doc. https://vfs.atlassian.net/l/cp/ritMfzpW

[2022-08-30 16:02] caw310 commented on #1090
We need to analyze each component and make a decision on color to be used.

[2022-08-30 16:34] bkjohnson commented on #864
I [did it yesterday](https://dsva.slack.com/archives/C03R5SBELQM/p1661807632071969).

[2022-08-30 16:52] jessecanderson opened #1169 "Adding the `form` property to the button, input, and textArea components."
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Component

### What is the name?

button, text input and textarea

### What is the nature of this update?

- [ ] How to build this component/pattern
- [ ] When to use this component/pattern
- [ ] When to use something else
- [ ] Usability guidance
- [ ] Accessibility
-

[2022-08-30 17:13] k80bowman commented on #864
Perfect, I just missed it. Thank you!

[2022-08-30 17:58] #1089 closed

[2022-08-30 18:25] bkjohnson commented on #917
I was updating it yesterday and I'd like to do some testing to make sure things still work, but if things still work fine then I can bring it out of draft.

[2022-08-30 21:17] bkjohnson opened #1171 "Testing repo issue notifications"

[2022-08-30 21:31] jamigibbs opened #1172 "Decide which USWDS colors to use for VA.gov Design System components"
## Description
As part of the discovery work in #1090, we observed that some components could be better displayed using the closest mapping USWDS color, or, its corresponding USWDS component color.

The purpose of this task is to analyze each component and make a decision on which colors should be used.

## Tasks
- [ ] Review all of the existing web components and determine which USWDS color(s) sh

[2022-08-30 21:33] jamigibbs commented on #1090
Closing this ticket based on discovery being complete but created #1172 for deciding which USWDS colors to use for each component.

[2022-08-30 21:33] #1090 closed

[2022-08-30 21:39] bkjohnson commented on #917
I just added "MonthYear" to the linked confluence doc, so I'm going to close this.

[2022-08-30 21:39] #917 closed

[2022-08-30 23:00] obliviga opened #1173 "Memorable Date component renders an inaccurate error message"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
An error rendered by the Memorable Date component does not make logical sense:
<img width="629" alt="image" src="https://user-images.githubusercontent.com/5934582/187556638-315802a1-3b6f-4e7e-9f9c-767a3a1d895d.png">

## What I expected to happen
I expect the error message to state som

[2022-08-31 12:46] k80bowman commented on #977
@caw310 unless @humancompanion-usds has any other comments, this is ready for staging review.

[2022-08-31 13:21] k80bowman opened #1174 "Google Analytics 4 setup"
## Description
Configure our [Google Analytics code in vets-website
](https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/platform/site-wide/component-library-analytics-setup.js) to send data to both GA3 and GA4. Use one or two of our components to test that the connection is working.

## Details
- We want to make sure that both GA3 and GA4 are receiving the data for now.

[2022-08-31 13:24] caw310 commented on #977
On design.va.gov Link is deployed but on Storybook it says use with caution. Which should it be?

[2022-08-31 13:38] k80bowman opened #1175 "Add GA4 component mappings"
## Description
Once the setup in #1174 is complete, we need to add the GA4 mappings for the rest of our components to [component-library-analytics-setup.js](https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/platform/site-wide/component-library-analytics-setup.js) in vets-website.

## Details
- Please reach out to @michelle-dooley with any questions and for help confirmin

[2022-08-31 13:47] k80bowman commented on #977
I think it's OK that they are different until the component goes through Staging Review. Once that process is complete, we'll update Storybook to match design.va.gov.

[2022-08-31 14:58] humancompanion-usds commented on #977
Approved! Looking good.

My only minor complaint is about the height of the iframes. I see that I can set the height according to a param in the storybook-preview include. I'm going to tweak those in a PR. But don't let that hold up staging review.

[2022-08-31 15:58] andresriveratoro commented on #985
@humancompanion-usds Does the [current documentation](https://design.va.gov/components/omb-info) we have on OMB info need to be updated or is it sufficient?

[2022-08-31 16:43] caw310 commented on #977
Staging review scheduled for 9/9 at 2pm ET.

[2022-08-31 17:15] bkjohnson commented on #1100
I think part of this will be out of scope for the Design System team. Internationalized static pages currently don't have anything on the page indicating what the language is. The way our components have automatic translation is looking for the `lang` attribute of specific tags, and right now there's nothing to indicate that this is a Spanish page:

![Screenshot of the Covid 19 Spanish page with t

[2022-08-31 17:52] k80bowman opened #1177 "Discovery: Catalog differences in functionality and structure between our web components and USWDS components"
## Description
[This airtable](https://airtable.com/appF4FJKBeNVNGrlm/tblRMaKxvyPn6F0qe/viw6WoPXgF8g0sNFy?blocks=hide) has a catalog of our components and their USWDS counterparts. We need to go through that list and determine how each of our web components differs from its USWDS counterpart in terms of functionality and structure.

This comes out of a discussion about whether or not we should be

[2022-08-31 19:13] #1171 closed

[2022-08-31 21:40] #968 closed

[2022-08-31 21:52] humancompanion-usds opened #1178 "Ensure text remains visible during webfont load"
## Description
[Ensure text remains visible during webfont load
](https://web.dev/font-display/?utm_source=lighthouse&utm_medium=devtools)

## Details
Looks like we can add ```font-display: swap;``` to https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/master/packages/formation/sass/base/_b-font-faces.scss and potentially save 2.4 seconds of loading time.

## Task

[2022-08-31 21:59] #1100 closed

[2022-09-01 13:34] k80bowman opened #1179 "Discovery: measuring component usage on VA.gov"
## Description
We'd like to find a way of measuring component usage on VA.gov itself, rather than only in the code the way we measure it now.

## Tasks
- [ ] Identify different ways of achieving this goal and research them
- [ ] If any are successful, write up issues to formally implement them

## Acceptance Criteria
- [ ] Either it has been determined that this is not possible or a way has been i

[2022-09-01 13:36] k80bowman commented on #1179
The first idea I’ve looked into is searching the rendered HTML pages that go out for the daily deploy for our components. Unfortunately what I found is not all that promising.
- First, we can definitely check for web component usage on the static pages. We can search the rendered HTML files for our web component tags.
- We probably won’t be able to find the React components on the static pages. Th

[2022-09-01 14:29] k80bowman commented on #1179
The second idea I've looked into is using Cypress to check site pages for our web components. Again, the React components are going to be more difficult because not all of them have unique identifying classes or IDs (though we could add those if we want). I spoke with Peter Hill about this idea briefly and he thought it could work.
- Scanning the static pages should be relatively easy. I say _rela

[2022-09-01 16:47] humancompanion-usds commented on #1178
This is actually a duplicate of issue #1075 so closing in favor of that work.

[2022-09-01 16:47] #1178 closed

[2022-09-01 20:54] k80bowman commented on #1075
We should go ahead and see what we can do in the Formation library, as noted in #1178, as part of this ticket as well.

[2022-09-02 00:58] aagosto90 opened #1181 "Experimental Design [Notification]"
## What
- New component design for authenticated experience notifications
- Dismissible and not dismissible options
- Two icon options: Exclamation mark (!) for items that require action by the user; info icon (i) for important updates that don't necessarily require user action

## Purpose

- Surfaces important updates and action items that may be buried within the existing page hierarchy or do no

[2022-09-02 13:13] k80bowman opened #1182 "Form components error messaging - Audit"
## Description
Conduct an audit of the error messaging used with form components on VA.gov. Identify as many different types of error messages in form components in use on VA.gov as possible and share with the Design System Team.

## Tasks
- [ ] Work with engineers and the Governance team to find examples of form component error messaging
- [ ] Add screenshots of component usage examples to a Mura

[2022-09-02 15:46] k80bowman opened #1183 "Discovery: What breaks if we switch from a 768px breakpoint to a 640px or 880px breakpoint"
## Description
As part of our work bringing the USWDS grid properties into the new CSS Library, we discovered that we need to use their breakpoints rather than our won. However, we use a 768px breakpoint, while the closest options offered by USWDS are 640px and 880px. We need to find out where the 768px breakpoint is being used and whether (and/or how badly) using 640px or 880px would break things

[2022-09-02 20:57] k80bowman commented on #969
If @humancompanion-usds doesn't have anything to add, this is ready for staging review.

[2022-09-06 15:27] andresriveratoro commented on #1049
I've submitted a support request to Release Tools to publish the latest version of eslint-plugin to npm.

[2022-09-06 15:49] caw310 commented on #969
Staging review on 9/13.

[2022-09-06 15:52] #1113 closed

[2022-09-06 17:13] #1049 closed

[2022-09-07 13:43] #1093 closed

[2022-09-07 13:44] #1078 closed

[2022-09-07 13:56] #1032 closed

[2022-09-07 14:29] andaleliz commented on #943
Hi all, just checking in on this. I see @seanasewell has the next steps of connecting with my team to discuss icon usage in Profile. I don't believe we have have any icons in Profile outside of alerts that are already part of the design system component. @cgednalske can you think of any?

We'd be happy to connect with Sean if needed but it sounds like perhaps the work on this can move forward?

[2022-09-07 14:43] andaleliz commented on #389
Hi @caw310 I just came across this - is this referring to the component we use in profile and My VA? If it is, is the idea behind this ticket to adapt it to be part of the design system?

<img width="248" alt="image" src="https://user-images.githubusercontent.com/55992116/188907145-d105d752-c22b-4e34-9b21-7d40f7c2a245.png">

[2022-09-07 15:17] thehastingsp opened #1186 "Experimental Design to replace Wizard Pattern"
## What

## Purpose

## Usage

## Behavior

## Examples

## Accessibility

## Guidance

## Research (optional)

## Code (optional)

## Next steps
Work has been reviewed with the design council and approved for testing. I plan to bring research findings to the Design System Council.

Attaching proposed examples files here.
![Benefit-Choice-Proposed](https://user-images.githubusercontent.com/6861533

[2022-09-07 15:33] GnatalieH commented on #389
@andaleliz the title of this ticket, which refers to the "hero" element with Veteran's name and info, leads me to believe that you are correct. Although I'm not sure about the intention to add this as a DS component because the ticket predates me joining the DST. So, do you use this as a shared symbol in the Authenticated Experience library? I haven't looked at it recently. Thanks. CC @caw310

[2022-09-07 16:36] GnatalieH commented on #1129
@humancompanion-usds was the intention of this ticket to create a shared library with items that relate to search, only? I don't think I was in the meeting where this ticket was discussed. Because, there are a couple of potentially reusable patterns that stem from the [Experimental design request](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1085) creat

[2022-09-07 16:57] andaleliz commented on #389
Yes, we do use it as a shared symbol in the authenticated experience library. And now that logins from the homepage will be redirected to My VA, many people will see this early in their experience on VA.gov.

[2022-09-07 18:03] thehastingsp opened #1187 "Experimental Design List & Loop"
## What
One question per page pattern to evolve list and loop.

## Purpose
List and loop presents a stack of several calls to action that are tough to read, adds cognitive load, and present a difficult hierarchy of actions for screen readers as well as general users. I'm proposing one question per page to better guide users through the form, reduce cognitive load by asking one question at a time,

[2022-09-07 18:11] humancompanion-usds commented on #1129
@GnatalieH - Anything related to Search could be included, regardless of what kind of page it appears on. Facilities patterns are germane here as examples of search results on VA.gov. Aslan's request was the use case that generated this response so starting with those is a great first step.

[2022-09-07 18:23] andaleliz commented on #1186
@thehastingsp this is super exciting! Have you talked to @AngelaFowler82 about this pattern? The feedback I've received from her is that a one question per page pattern is actually very annoying for screenreader users, at least with her level of experience.

If you can nudge your team at all to code the prototype so you can test with screenreader users in your usability study (vs on production as

[2022-09-07 18:29] thehastingsp commented on #1186
thanks @andaleliz I've been working closely with @joshkimux and will attend @AngelaFowler82 office hours to learn more. we may have some trade-offs as screen reader testing is limited in prototyping tools, but I'll talk with engineering about what we could try to do.

[2022-09-07 18:55] caw310 commented on #1187
This will be on the DSC agenda for the 9/16 meeting.

[2022-09-07 18:58] GnatalieH commented on #1129
Thanks @humancompanion-usds. I referenced the Experimental ticket, chatted with Aslan yesterday and got his clarification. I just wanted to make sure we were all on the same page. Thanks!

[2022-09-07 20:54] GnatalieH commented on #1066
@humancompanion-usds, how do Designers using the USWDS Sketch library know when it's been updated to a new version? I reviewed the "[Getting started for designers](https://designsystem.digital.gov/documentation/getting-started-for-designers/)" documentation on the website, but it doesn't mention how to stay up to date. I know there's not a Sketch for Teams space for USWDS.

BTW I like their caveat

[2022-09-07 21:29] GnatalieH commented on #1124
@seanasewell for posterity's sake, I wanted to ask you a couple of questions:

- Are there any considerations we should take in terms of finishing this ticket and planning the alignment of the VA Sketch library with the USWDS library? I know that separating our components from the symbols file is one step in the right direction. Anything we should note as we move forward?
- I know we will need to

[2022-09-07 21:36] humancompanion-usds commented on #985
OMB Info could use some work just to match the template. I can take care of that.

[2022-09-07 23:15] bkjohnson commented on #184
Closing since this is not an issue with the component. Any heading level can be used with `<va-alert>` by using the `headline` named slot.

Here is an [`<h4>` example](https://design.va.gov/storybook/?path=/docs/components-va-alert--heading-level):

![Storybook screenshot of the link above. The named `headline` slot is highlighted](https://user-images.githubusercontent.com/2008881/188999133-896643

[2022-09-07 23:15] #184 closed

[2022-09-07 23:19] bkjohnson commented on #210
Closing since `CollapsiblePanel` has [been removed](https://github.com/department-of-veterans-affairs/component-library/pull/478)

[2022-09-07 23:19] #210 closed

[2022-09-07 23:21] bkjohnson commented on #229
Closing since our `<va-table>` component [has sorting functionality driven by props](https://github.com/department-of-veterans-affairs/component-library/pull/318).

[2022-09-07 23:21] #229 closed

[2022-09-07 23:29] bkjohnson commented on #1182
This is related to an existing issue if not a duplicate: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/386

[2022-09-07 23:40] bkjohnson commented on #668
Closing since we no longer support IE11. [This issue](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/8852) is the best public documentation I could find. Here is a [slack thread](https://dsva.slack.com/archives/C5HP4GN3F/p1659125110185859) announcing the deprecation.

[2022-09-07 23:40] #668 closed

[2022-09-07 23:52] bkjohnson commented on #242
Closing since [both the status & close icons have `aria-hidden="true"`](https://github.com/department-of-veterans-affairs/component-library/blob/0e4e57609a2974c5c721ece69574adffd6eae530/packages/web-components/src/components/va-alert/va-alert.tsx#L177-L194). The older [React component](https://github.com/department-of-veterans-affairs/component-library/blob/0e4e57609a2974c5c721ece69574adffd6eae530

[2022-09-07 23:52] #242 closed

[2022-09-08 01:06] cgednalske commented on #943
@andaleliz -- Account settings has some icons conveying the different authentication steps have been completed ([Sketch file](https://www.sketch.com/s/ebd4596f-0707-46cb-941e-247a808725cc/a/Gm030dY)). Are those already following a design system pattern? Other than that I can't think of any others.

[2022-09-08 13:09] k80bowman commented on #1182
I'd say they're related, but this is focused on design system components while #386 is focused on the forms library, where there may be less flexibility with error messaging.

[2022-09-08 13:52] humancompanion-usds commented on #1102
First draft. This is probably more than we even want to track but, I wanted to get all the possibilities into one place.

## Guidance

- [ ]  **Usage.** Includes a full set of examples, when, and when not, to use the pattern as well as how the pattern works. Optionally: behavior and interaction details, choosing between variations, placement, design principles, and instances of the component in pr

[2022-09-08 13:59] jamigibbs commented on #991
As part of this work, I discovered a design defect in the `va-checkbox` component where the checkbox label text was not wrapping correctly. Ideally, it should be aligned along the right edge of the checkbox square as shown here:

![Screen Shot 2022-09-08 at 8.57.19 AM.png](https://images.zenhubusercontent.com/606751e9782b4dd6d85cd9ac/23166882-3fb8-4a8b-9726-56887855fc12)

Instead, it is wrapped to

[2022-09-08 16:06] davidakennedy opened #1189 "Alert component: Help teams handle accessibility roles in the right situation"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

I had a team that added the `role="alert"` attribute to a heading in the Alert component. The team had the right idea here since they needed the Veteran to know about this error right away. However, placing it on a heading component cancels the heading semantics of that element.

##

[2022-09-08 16:20] #1101 closed

[2022-09-08 16:29] #481 closed

[2022-09-08 16:48] GnatalieH commented on #1129
[Here is a link](https://www.sketch.com/s/ab0f611b-c15c-42c4-ab71-1158ff6e01c6) to the Sketch Search library. FYI @humancompanion-usds and @jcklpe

[2022-09-08 16:56] humancompanion-usds commented on #281
All of the Link variations are now web components: https://design.va.gov/components/link/

[2022-09-08 16:56] #281 closed

[2022-09-08 19:49] humancompanion-usds commented on #604
I'm just going to update our pattern with the current example, which doesn't use an exposed field at all and then close this.

[2022-09-08 21:07] GnatalieH opened #1190 "Discovery: Identify components and patterns in the Sketch library that can be updated to use specific content"
## Description
There is an opportunity to showcase content best practices by using scenario-driven placeholder text in DS components and patterns rather than generic text.

## Details
As a first step, work with @RLHecht and others on the Content team to review the Sketch library and identify places where we can use real-world examples of content rather than generic placeholder text. This could als

[2022-09-08 21:25] humancompanion-usds commented on #604
@MarciMcGuireGCIO - I know this was filed 9 months ago so didn't expect the same user account to work and that's turned out to be true. I'm having a hard time finding the Pronouns mentioned above in staging. Is there a user I can use to login and see it? I jumped to updating Gender where we don't expose an additional field. I'm happy to have updated screenshots in that pattern but realizing that,

[2022-09-08 21:43] cgednalske commented on #604
Hi @humancompanion-usds! I can answer that as I'm still working on this Profile section. Pronouns mentioned above is not in staging because we've only been able to add Gender identity so far due to waiting on PRA approval. Pronouns and Sexual orientation (which both have the text input field with checkboxes) are on deck so to speak, but they have changed slightly since then. There was a ton of dis

[2022-09-08 21:49] cgednalske commented on #604
@adamwhitlock1 is there a way for Matt to see Pronouns and Sexual orientation on staging right now using a specific account with that feature flag? I'm guessing probably not, but it's worth a shot 😃

[2022-09-08 22:33] #962 closed

[2022-09-09 14:50] adamwhitlock1 commented on #604
Yes I can turn on the POC Pronouns and Sexual Orientation fields for @humancompanion-usds ! Since user 36 is kind of our go to for testing specific other features, lets turn it on for a different user.

I have gone ahead and added the feature toggle for just user **vets.gov.user+75@gmail.com** so that those fields can be seen.

The state of the UI is as follows:

- Pronouns still has the blue bord

[2022-09-09 14:54] caw310 commented on #1102
This is a really good list. Some questions that come to mind.
- How do we want to represent this on each component page? Full list with check boxes? Percentage or number of items addressed for each component?
- Create a separate page on design.va.gov with this list and explanation and then just check off the high level on each component page?

[2022-09-09 15:46] humancompanion-usds commented on #604
Thank you @cgednalske and @adamwhitlock1! I'll have a look.

@cgednalske - Where do we plan on using pronouns? How do we address a Veteran if they select multiple pronouns? Also, do you recall when this came to DSC? I'd like to find the notes from the discussion that day to be sure I'm addressing anything that was raised in the guidance I'm writing. Thanks!

[2022-09-09 16:43] cgednalske commented on #604
Thanks @adamwhitlock1! That's perfect. 🎉

@humancompanion-usds - the Sketch files still reflect the latest design, but it sounds like staging is really close. 👍

Pronouns (and the other similar fields on the Personal info page) are primarily accessed by VHA, so will be used mostly when Veterans visit VA facilities and speak to those VA representatives. Previously there wasn't a way to convey these

[2022-09-09 18:01] caw310 commented on #1181
Decision from DSC meeting.  This will be put in the DST's backlog to add to the DS as an experimental design. We will reach out to you if we need more information. Thanks!

[2022-09-09 18:51] caw310 commented on #1181
Things to consider from discussion:
- Need guidance on how many can stack. How will we handle multiple? Once past 3, it’s a burden. One notification and have an addition formula.
- Have higher level description for this. People are using different words for different things.

[2022-09-09 19:00] caw310 commented on #977
Closing as there was no feedback from staging review. I've added this to the September what's new confluence page.

[2022-09-09 19:00] #977 closed

[2022-09-09 20:33] humancompanion-usds commented on #1129
This looks good. I have some comments:

* Do we need to create artboards for Symbols? Does Sketch do that automatically when you generate a Symbol? I ask because I'm thinking that we could use a plugin to keep symbols organized and I'm wondering if it does that if they are on artboards or not.
* We should include Aslan's contact info (email address) and perhaps establish a cadence for discussion,

[2022-09-09 20:47] humancompanion-usds commented on #1122
We have this: https://design.va.gov/patterns/ask-users-for/files

* Needs a When to use this pattern
* This should get updated to remove the layout details when we have File upload added as a component.

[2022-09-09 20:49] humancompanion-usds commented on #1121
Given that USWDS is working on this I'm inclined to wait to see what they have to say about it. It also only received 2 votes.

[2022-09-09 20:56] humancompanion-usds opened #1193 "[Pattern] Help users to sign in with less friction - Audit"
## Description
Audit of a new pattern to Help users to sign in with less friction. Matt to work with Stephen and Patrick on documenting LoROTA. This was the top vote getter of all new patterns proposed across 2 workshops with 13 votes.

## Tasks
- [ ] Work with engineers and the Governance team to find examples of this type of component
- [ ] Add screenshots of component usage examples to a Mural

[2022-09-12 14:24] GnatalieH commented on #1129
@humancompanion-usds Sketch [describes symbols](https://www.sketch.com/blog/2022/01/31/create-symbols-sketch/) as a special kind of artboard, so regarding your first bullet point, the answer is "yes". I'm working on the other feedback items you listed, thanks!

[2022-09-12 19:24] k80bowman commented on #1114
We will need to resolve #1096 before we can work on this ticket.

[2022-09-12 21:47] humancompanion-usds commented on #1067
@caw310 - Where are these compiled? We should drop a link in here and in https://github.com/department-of-veterans-affairs/va.gov-team/issues/43459 Thanks!

[2022-09-13 13:15] caw310 commented on #1067
@humancompanion-usds I put the synthesis from our mural board in confluence page. https://vfs.atlassian.net/l/cp/npfQux2a

[2022-09-13 14:30] k80bowman commented on #1179
I heard back from the Peter Hill on the QA Standards team. They discussed my idea to use Cypress and thought it might be a bit clunky and could break a lot. We definitely don't want to implement something that is going to need a lot of maintenance. They recommended using Google Analytics, which @humancompanion-usds and I have discussed previously as well. This may be our best option, but I want to

[2022-09-13 15:44] GnatalieH commented on #1129
@humancompanion-usds I have addressed your feedback and updated the Sketch file accordingly. I set a meeting for this Thursday with you, me, and @jcklpe, as I couldn't find an earlier day to meet that worked for everyone. Thanks.

[2022-09-13 16:35] humancompanion-usds commented on #604
Okay, I've update the [Gender pattern](https://design.va.gov/patterns/ask-users-for/gender) and created a [Pronouns pattern](https://design.va.gov/patterns/ask-users-for/pronouns). @cgednalske and @davidakennedy - I would appreciate you giving those patterns a review and providing me with any feedback you may have. Thanks!

[2022-09-13 16:38] cgednalske commented on #604
@humancompanion-usds will take a look! And it looks like the Design Council meeting for this was on January 21st, but that's all the information I've been able to find. Hope it is helpful!

[2022-09-13 16:54] cgednalske commented on #604
@humancompanion-usds Everything looks good to me 👍  We're currently working on changing a small part of the wording in the Gender identity expanded FAQ info (replacing the mention of the VBA and NCA with a more general description). Is that something you'd like to update again once we do?

[2022-09-13 17:09] humancompanion-usds commented on #604
Thanks @cgednalske. Yes, send me a screenshot when it changes and I'll make the update.

[2022-09-13 17:54] k80bowman commented on #1177
Completed analysis of components @humancompanion-usds determined that we would want to adopt from USWDS ([airtable](https://airtable.com/appF4FJKBeNVNGrlm/tblRMaKxvyPn6F0qe/viwNb9nb3qUoZt6Vm?blocks=hide)). Will move on to components we might want to adopt from USWDS next.

[2022-09-13 17:57] humancompanion-usds commented on #1110
@k80bowman - Given that we are doing other analytics work soon (https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1175) perhaps we could do this at, or around, the same time?

[2022-09-13 18:22] k80bowman commented on #1110
Potentially, it depends on when I get all the analytics information I need for this work from Michelle. The GA4 work can be completed without waiting on that.

[2022-09-13 22:28] bkjohnson opened #1195 "Create ESLint rule for Process list migration"
## Description

We have a [`<va-process-list>` Web Component](https://design.va.gov/components/process-list) that is meant to replace the `process` and `process-step` family of [CSS classes from `formation`](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/f0e1d666503ecf4aafcb421bbc47fc7f76abec4a/packages/formation/sass/modules/_m-process-list.scss). Many VFS te

[2022-09-14 14:50] humancompanion-usds commented on #1107
This is a duplicate of issue #951.

[2022-09-14 14:50] #1107 closed

[2022-09-14 16:09] k80bowman commented on #1115
During standup on 9/14/22, the team decided that only the error message should be bold for all of these components. Neither the description nor the label should be bold in an error state. @GnatalieH @caw310

[2022-09-14 17:25] EClancyVA opened #1196 "VACheckbox with a screen reader causes screen to scroll to top"
# Bug Report

- [✔️] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

When using VACheckboxes with JAWS, I noticed that the page was scrolling to the top. When I went to the VA Design site for guidance, the same behavior occurred. Videos and link to page below:

![checkbox scroll to top of page 2](https://user-images.githubusercontent.com/113545409/19

[2022-09-14 17:43] bkjohnson commented on #1068
The main "off the shelf" solution I found is `semantic-release`. There are other players in this ecosystem for managing publishing & release notes in a monorepo, but none were as large or had the same kind of documentation. [semantic-release-plus](https://semantic-release-plus.gitbook.io/semantic-release-plus/recipes/nx-monorepo) has some documentation on monorepos, but this is a [less popular for

[2022-09-14 20:37] bkjohnson commented on #985
Related issue: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1198

[2022-09-14 21:01] k80bowman commented on #1198
Closing this, we will complete this work as part of #985

[2022-09-14 21:01] #1198 closed

[2022-09-15 14:39] GnatalieH commented on #1066
Steps we'll need to take to align with USWDS in terms of Sketch assets (WIP):

- Prioritize the 19 components Matt indicated "Yes" for, for inheriting from UWDS ([Airtable link](https://airtable.com/appF4FJKBeNVNGrlm/tblRMaKxvyPn6F0qe/viwNb9nb3qUoZt6Vm?blocks=hide))
- Add column in Airtable and note visual diffs between VA Pattern library and USWDS Sketch assets (for "Yes" components)
- Note any m

[2022-09-15 17:52] imelda-guzman opened #1199 "VaAccordionItem re-renders the icon when panel is collapsed"
# Bug Report

- [X] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
The accordion panel icon does not hold the state of panel when trying to programmatically pass a boolean variable to the `open` prop for accordion item.

**The accordion panel when initialized - starts out correct**:

<img width="862" alt="initial-open-state" src="https://user-images.

[2022-09-15 18:06] k80bowman commented on #1068
I'm curious, what other options did you look into?

[2022-09-15 18:13] bkjohnson commented on #1199
In your steps to reproduce, what does this function look like?

[2022-09-15 18:51] bkjohnson commented on #1068
I looked at the options mentioned in [this article](https://dev.to/antongolub/the-chronicles-of-semantic-release-and-monorepos-5cfc).

[2022-09-15 18:51] #604 closed

[2022-09-15 18:55] k80bowman commented on #1068
I see NX mentioned in the comments, did you look into that? I also have heard that it's possible to publish using Yarn workspaces, but I don't see that in this article. Have you looked into that at all?

[2022-09-15 19:09] k80bowman commented on #1068
A couple of good resources to take a look at:
- https://github.com/korfuri/awesome-monorepo
- https://monorepo.tools/#monorepo-tools

[2022-09-15 19:49] caw310 opened #1200 "Discovery: What do we do about design.va.gov if we’re consuming a USWDS component"
## Description
Research what we could do about design.va.gov if we are consuming USWDS components.
Do we point to their guidance directly?
How do we handle documentation?

## Tasks
- [ ] Research options for how we handle component guidance when using a USWDS component
- [ ] Write up options of how we might handle guidance
- [ ] Present options to the DST for discussion

## Acceptance Criteria
- [

[2022-09-15 20:14] bkjohnson commented on #1068
We're [already publishing using Yarn workspaces](https://github.com/department-of-veterans-affairs/component-library/blob/a9e55573ddaf2aaa4a325777ed05c96aa0e3f1e0/.github/workflows/publish.yml#L37). The real challenge is having separate release notes for each of those published packages.

I didn't look closely at nx, I'll see if it would help solve our problems.

[2022-09-15 20:32] jcklpe opened #1201 "Experimental Design: Link"
## What

On the VAMC sites we have this component: 
 

![](https://user-images.githubusercontent.com/9451726/190501796-1301ed0f-ac06-458b-8a45-be0bb5c91670.png)

I find it in both wireframes and live on the production website. [Link to example](https://www.va.gov/houston-health-care/). I don't see any sort of standard component in the current design system that covers this piece. 

My guess is tha

[2022-09-15 20:45] k80bowman commented on #1068
There may be other options in those resources I linked to above as well. I would recommend taking a look at at least a few of them.

[2022-09-15 20:51] jcklpe opened #1202 "Experimental Design: Collection Preview"
## What

I noticed that on the VAMC pages there are 3 different collections of objects that are previewed. 
 

Locations

![](https://user-images.githubusercontent.com/9451726/190504529-68f179c4-2e21-4db4-a6b7-3787d82453cc.png)

Stories

![](https://user-images.githubusercontent.com/9451726/190504571-0105d9fd-33dd-4327-a36c-eaae7f52ca0b.png)

Events

![](https://user-images.githubusercontent.com/9

[2022-09-15 22:30] imelda-guzman commented on #1199
The application is built in React. Create two states for each panel. This will be initial state when accordion loads.
[code]
Pass the two new variables and functions to accordion item.  Note we are using Typescript
[code]

[2022-09-16 15:20] humancompanion-usds commented on #830
The audit revealed disabled buttons and we've documented, with DK's help, why that should not be done:
https://design.va.gov/components/button/#do-not-disable-buttons
https://design.va.gov/components/form/#accessibility-considerations-for-all-form-elements

[2022-09-16 15:20] #830 closed

[2022-09-16 15:52] GnatalieH commented on #830
@humancompanion-usds should I re-remove the disabled button example from the Sketch library?

[2022-09-16 16:03] adamwhitlock1 opened #1203 "Additional Info component has extra bottom margin"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

It looks like some margin was added to the additional info component recently and it is throwing off layouts on our authenticated experience team applications.

![Screen Shot 2022-09-16 at 9 16 19 AM](https://user-images.githubusercontent.com/8332986/190681677-9bda1a08-fe16-4062-a120

[2022-09-16 17:22] #1173 closed

[2022-09-16 17:55] caw310 opened #1204 "Radio button group web component with hint text- Development"
## Description

- Update radio button web component allow for hint text.

Be sure to add analytics if necessary, see [guidance](https://vfs.atlassian.net/wiki/spaces/DST/pages/2079817745/Component+development+process#Analytics%5BinlineExtension%5D).

## Details
- Diverge from USWDS design by adding hint text below the `legend`

## Tasks
- [X] Review DST backlog for outstanding issues with this com

[2022-09-16 18:01] caw310 commented on #969
Closing as staging review comments were addressed by Jami.
File input web component has been added to confluence page for September updates.

[2022-09-16 18:01] #969 closed

[2022-09-16 19:35] bkjohnson commented on #1068
In the [awesome-monorepo link](https://github.com/korfuri/awesome-monorepo#notable-public-monorepos) I found a list of notable public monorepos, one of which is a good example of what we want to achieve as a result of this discovery and followup development.

- [`celo-monorepo` release `celocli-v1.6`](https://github.com/celo-org/celo-monorepo/releases/tag/celocli-v1.6)
- [`celo-monorepo` release `

[2022-09-16 19:51] #992 closed

[2022-09-16 20:43] k80bowman opened #1205 "Remove 6 unused React components"
## Description
The following React components are no longer used in `vets-website` and can be removed from the `component-library` repository:
- HelpMenu
- IconHelp
- AcceptTermsPrompt
- PrivacyAgreement
- Banner
- CollapsiblePanel

This work would complete part of department-of-veterans-affairs/component-library#333

## Details
Before removing the components, double check the component usage repo

[2022-09-16 20:43] humancompanion-usds commented on #1066
That is a useful step for the developers working on components. However, once we decide to adopt a component from USWDS we're going to try to take all of their styling. Thus in the Sketch library I would expect step 1 to be to copy that component out of the uswds-project.sketch file and drop it onto our corresponding page for that component. Then make sure the symbols are correctly connected to th

[2022-09-16 20:48] humancompanion-usds commented on #1102
I forgot to add the "maturity" elements:

### Maturity
* **Research.** Have we conducted, and linked to, research on this component? Are there any additional usability tests or other research that directly or indirectly covered this component?
* **Stability.** Is it in production and for how long? Are there any significant issues filed against it (how solid are the usability & accessibility?)
* **

[2022-09-16 20:49] bkjohnson commented on #1205
`Banner` and `CollapsiblePanel` are already removed. https://github.com/department-of-veterans-affairs/component-library/pull/478

![image](https://user-images.githubusercontent.com/2008881/190730251-e84b68ef-19a7-422d-a4f2-f3076cca5436.png)

[2022-09-16 20:51] k80bowman commented on #1068
Lerna used to be state-of-the-art for monorepo management, but last year the team that had been maintaining it announced that they would no longer be doing that. Another team subsequently picked it up, but that doesn't give me a great deal of confidence in the future of that project, so while Lerna probably has great tools, I'm not sure we want to rely on it. Unfortunately.

I'm glad you've found

[2022-09-16 20:52] k80bowman commented on #1205
oof, thanks. I'll remove them from this ticket.

[2022-09-16 21:10] bkjohnson commented on #1068
I've also had to deal with some pain & frustration with lerna (the [tools repo is a lerna repo](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/f0e1d666503ecf4aafcb421bbc47fc7f76abec4a/lerna.json)) so I'm also hesitant of jumping into lerna for that reason alone. I didn't know about the change in ownership, I can see how that doesn't inspire confidence.

[2022-09-16 22:39] GnatalieH commented on #1066
@humancompanion-usds yes, I agree with you. We should copy + paste the USWDS component onto the corresponding page in our new Components file in Sketch for Teams, the one that Sean started. And, I think we're going to need to manage our own version of libraries/uswds.sketch in Sketch for Teams and keep it manually synced up with the USWDS latest version.

I've been trying to think about this from

[2022-09-19 14:18] humancompanion-usds commented on #1201
Thanks for the submission. This component is also in use in Profile and thus that team has already contributed and issue for it: #943 I'm going to close this as a duplicate but also add your example to that one. We have this on the backlog and hope to get it documented soon(ish). Right now we are trying to audit icon usage so we can update https://design.va.gov/foundation/icons and define how cert

[2022-09-19 15:37] humancompanion-usds commented on #943
@andaleliz - Yes, I'm aware that you are using icons that are not yet defined in the Design System for their specific use. Unfortunately, so are facility pages. For example:

![190501796-1301ed0f-ac06-458b-8a45-be0bb5c91670](https://user-images.githubusercontent.com/52176351/191040849-d9f63759-5fce-4ad0-b767-e32eca317e45.png)

What I was hoping to gather from your team is a list of each icon you i

[2022-09-19 16:15] caw310 opened #1206 "Move File input in Storybook to component"
## Description
Move File input web component from under development to components section in Storybook since development is complete.
https://design.va.gov/storybook/?path=/docs/components-va-file-input--default

## Tasks
- [ ] Move File input web component from under development to components in Storybook
- [ ] Move React component version of File input to deprecated

## Acceptance Criteria
- [ ]

[2022-09-19 17:49] caw310 opened #1207 "Reduce component library build (OKR 1.2)"
## Status
_Update each sprint until completed_
| Date | Status | Launch Date | Notes |
| ----- | ------ | ------------------------- | ------ |

This epic will be used to track work focused on performance. Work will focus on figuring out a way to provide the Check-in experience team a smaller build that allows them to use our component library with USWDS v3 components.

## OCTO OKR
O1.2: We have re

[2022-09-19 19:57] humancompanion-usds commented on #1129
@GnatalieH - I added a PR that adds your contribution readme as well as additional documentation:
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/1209

Once you've reviewed that and I push it out we can simplify the README to point folks there and then list Megan's contact info. I think we can add our Slack channel as well just as a back-up. Thanks.

[2022-09-19 19:58] humancompanion-usds commented on #1129
Also, I'd like to add search results for find a form and the default VA.gov search. Then we can close this out.

[2022-09-19 21:09] GnatalieH commented on #1129
@humancompanion-usds I approved your PR, and will add the find-a-form results to the library. By default VA.gov search, do you mean the global search in the header? Thanks.

[2022-09-19 22:22] bkjohnson opened #1210 "See if the Check-in Experience "BackButton" can be replaced with a breadcrumb component"
## Description

At the moment the Check-in Experience team has a [`BackButton`](https://github.com/department-of-veterans-affairs/vets-website/blob/1dd91dbf9c1c07b21d77de115d5537f19ac552a1/src/applications/check-in/components/BackButton.jsx) React component that appears to be a breadcrumb using older CSS classes and a click handler. If this could be replaced with something like:

[code]

that may

[2022-09-19 22:40] bkjohnson opened #1211 "Modify the content-build to exclude the default web component loader on certain applications."
## Description

More and more VFS applications are becoming yarn workspaces and gaining the ability to continuously deploy. The yarn workspace means that they can manage their own dependencies if they choose to. At the moment we are building and including the same script for defining our web components on all pages.

- [the script](https://github.com/department-of-veterans-affairs/vets-website/blo

[2022-09-19 23:08] bkjohnson opened #1212 "Remove unused JS in Check-in Experience apps"
## Description

This isn't really a Design System issue, but the bundle size could be reduced by removing unused JS. For example, the `hasMoreAppointmentsToCheckInto` function.

![Screenshot of a ripgrep search for "hasMoreAppointmentsToCheckInto", showing that it's only used in the file it's defined & exported and in the test file.](https://user-images.githubusercontent.com/2008881/191134517-ca6e

[2022-09-20 14:04] humancompanion-usds commented on #1102
@caw310 - Answers to your questions:

**Tracking** comes down to 2 options for me: Airtable or a JSON data file in the design system. I'm leaning towards the latter because users of the system need to see this and having to manually dump data from airtable into the design system seems like an extra step. It also builds a dependency on Airtable and I'd rather not do that.

**Visual representation**

[2022-09-20 15:30] jcklpe opened #1213 "Experimental Design: Spotlights"
## What

In going over previous wireframes for the VBA and looking at the VAMC as it currently exist we see this component

![](https://user-images.githubusercontent.com/9451726/190280042-c3d94908-4f13-4457-bd8b-386cbc851e65.png)

## Purpose

Honestly not totally sure. I think it's kind of a weird pattern but it exists and I'm documenting it here. 

Why I say honestly not sure: I mean yeah it does

[2022-09-20 15:37] jamigibbs commented on #1048
These are the three apps identified as using the React version of FileInput:

- lgy-coe: https://depo-platform-documentation.scrollhelp.site/getting-started/lgy-coe
- claim-status-tool: https://depo-platform-documentation.scrollhelp.site/getting-started/claim-status-tool
- financial-status-report-fsr: https://depo-platform-documentation.scrollhelp.site/getting-started/financial-status-report-fsr

[2022-09-20 16:10] bkjohnson commented on #1213
Could this be achieved with a few [Featured content components](https://design.va.gov/components/featured-content) and a header?

[2022-09-20 16:19] jamigibbs commented on #1048
Additional info about the teams/codeowners for the apps using FileInput:

- **lgy-coe**: https://depo-platform-documentation.scrollhelp.site/getting-started/lgy-coe
  - https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/applications/lgy/coe/status/components/DocumentUploader/DocumentUploader.jsx
  - Slack: `#benefits-team-1`

- **claim-status-tool**: https://depo-platform

[2022-09-20 17:02] bkjohnson opened #1214 "Use Chrome's performance profiler to understand performance bottleneck for Check-in Experience"
## Description

Chrome and Firefox both have performance profilers built-in. At a glance it seem's like Chrome's has an easier to digest summary where we can see how much time was spent on various categories, like loading (network time) and scripting:

![Screenshot of the summary view from a performance capture.](https://user-images.githubusercontent.com/2008881/191317236-bc8e320e-a0bc-433f-8413-f

[2022-09-20 17:27] jcklpe commented on #1213
@bkjohnson : doesn't look like it:

![image](https://user-images.githubusercontent.com/9451726/191324610-5c5f0c80-ee2f-477c-b455-9059b259c502.png)

[2022-09-20 18:14] humancompanion-usds commented on #1213
@jcklpe - You found the answer and the appropriate component to substitute in your previous comment thus I'm not sure what the request is. Can you clarify? We'd recommend that the Major links variation of Link - Collection be used for these links. The misuse of the featured content component is not recommended.

You could talk to @DanielleThierryUSDSVA and @bethpotts about the reasoning behind it

[2022-09-20 18:22] humancompanion-usds opened #1216 "Revise Banner guidance with CMS-specific content considerations"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Component

### What is the name?

Banner

### What is the nature of this update?

- [ ] How to build this component/pattern
- [X] When to use this component/pattern
- [ ] When to use something else
- [ ] Usability guidance
- [ ] Accessibility
- [ ] Implementation
- [ ]

[2022-09-20 18:44] jamigibbs commented on #1048
- #benefits-team-1 notified: https://dsva.slack.com/archives/C5AGLBNRK/p1663698922492659
- #benefits-team-2 notified: https://dsva.slack.com/archives/CPE4AJ6Q0/p1663699332712819
- #vfs-change-announcements: https://dsva.slack.com/archives/C03R5SBELQM/p1663696954185639

[2022-09-20 18:44] #1048 closed

[2022-09-20 19:09] humancompanion-usds commented on #991
I'm a little stuck on writing up guidance for this because it's unclear whether or not this component is required at the end of every form or just some based on some criteria. I need to get to the bottom of it so that we don't say it's required when it is not, or vice versa.

[2022-09-20 19:29] humancompanion-usds commented on #1094
Met with Danielle and we made some plans but, unfortunately, those plans were spoiled as the CMS doesn't have the background-only Alert variation. We did come up with some additional guidelines to add to Alert, but we agree that it would be better to use the background-only Alert variation. For now, we'll just use the standard info and warning Alert styles.

New content consideration:
* If the hig

[2022-09-20 19:39] jcklpe opened #1217 "Experimental Design: Facility Location Hub"
## What

I inherited some wireframes for [VBA wireframes](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/10252). It matches the [VAMC pattern currently in production](https://www.va.gov/houston-health-care/) really well. 

## Purpose

VAMCs and VBAs are both facility locations. Vet Centers don't follow the same pattern as these two. [I provided analysis on how Vet Centers vari

[2022-09-20 19:46] jcklpe commented on #1213
@humancompanion-usds : Or maybe I misunderstand. Should I change our VBA wireframes to use the Link Collection: Major Links pattern instead of a separate Spotlight component? Should I pass this information up to our engineers to get them to change the current implementation on the VAMC production pages also?

[2022-09-20 20:25] #1206 closed

[2022-09-21 13:52] humancompanion-usds commented on #1213
@jcklpe - Neither of us are confused, the situation is confusing. There appears to be conflicting guidance between the CMS and the Design System. Let's raise this in the Design System Council and figure out how to reconcile.

[2022-09-21 15:54] humancompanion-usds commented on #1129
@GnatalieH - We need to add search results. From this page: https://www.va.gov/search/?query=prescriptions&t=false these results:

![Screen Shot 2022-09-21 at 11 54 28 AM](https://user-images.githubusercontent.com/52176351/191552466-e5b5f5fc-496c-4906-87b0-82c8276f30b7.png)

Also, the README should be revised.

[2022-09-21 16:13] GnatalieH commented on #1129
@humancompanion-usds OK thanks for that example. Now I see what you mean. I'm on it now.

[2022-09-21 18:42] #991 closed

[2022-09-21 20:03] GnatalieH commented on #1129
Okey dokey, I think I made all of your requested updates, @humancompanion-usds:

- Updated [Readme page](https://www.sketch.com/s/ab0f611b-c15c-42c4-ab71-1158ff6e01c6/a/dl8J2b9). FWIW, I couldn't find any way of adding a hotspot to an external ink in Sketch.
- Added a generic search result symbol near the bottom of the [Search results page](https://www.sketch.com/s/ab0f611b-c15c-42c4-ab71-1158ff6e

[2022-09-21 20:33] humancompanion-usds commented on #1129
Looks good. Almost there. Two things to consider:

1. We might want to make the link go specifically to https://design.va.gov/about/for-designers/design-libraries#contributing-to-a-shared-library There is a bit about the maintainer before that and I don't want folks to miss the part that is most relevant to them.
2. We might want to put each variation within Search results onto a separate artboard

[2022-09-21 20:50] bkjohnson commented on #1075
At the moment we're using the `style-dictionary` and `sass` binaries to build files that end up in the `dist/` directory. Adding font files to a directory like `src/assets/fonts` wouldn't be included in the existing build, so we essentially need to copy font files from the source directory to the build directory as part of the build process.

Since our CSS library doesn't have any JS in it, I thin

[2022-09-22 15:49] GnatalieH commented on #1129
@humancompanion-usds I made the changes you suggested, thanks. I placed each variation of search results on its own artboard, except when there is a sub-variation (facility locator card with and without an alert, for example) I put both symbols on the same artboard. It seems better organized than putting everything on a unique artboard, but I can do that if you'd like.

[2022-09-22 21:17] bkjohnson commented on #1075
For the `font-display: swap` declaration, we can do that but we would have to do it by declaring our `@font-face`s manually. When we use USWDS they set [`font-display: fallback;`](https://github.com/uswds/uswds/blob/8d2c7716890606e342877e916d1622eb8f1eaa0b/packages/uswds-core/src/styles/mixins/general/font-face.scss#L19), so we may want to make a feature request to have that be configurable by a s

[2022-09-22 21:36] bkjohnson opened #1218 "Formation Deprecation - Step 1 - Rename & archive existing design-system repo"
## Description

There is an old [`design-system` repo](https://github.com/department-of-veterans-affairs/design-system):

![Screenshot of the old Github repo](https://user-images.githubusercontent.com/2008881/191854697-58796faf-64e2-4d40-967b-9642007374ea.png)

We should rename it to `design-system-OLD` or something similar, then archive it.

## Details
Renaming it is so that we can have a `design

[2022-09-22 21:54] bkjohnson opened #1219 "Move documentation repo into component-library monorepo as package"
## Description

In an effort to consolidate to a single repo, we should move the Jekyll/npm package [`vets-design-system-documentation`](https://github.com/department-of-veterans-affairs/vets-design-system-documentation) into the `component-library` repo as a package.

## Tasks
- [ ] Create a new `documentation` package in `component-library` repo
- [ ] Move src and config files into new package
-

[2022-09-22 22:37] bkjohnson opened #1220 "Migrate remaining issues to monorepo & archive documentation repo"
## Description

For tracking issues in a single place, the team monorepo makes the most sense. We should use a script to migrate any remaining issues

## Details
The [Github CLI](https://cli.github.com/manual/gh_alias_set) has an `alias` command and it also accepts [extensions](https://cli.github.com/manual/gh_extension) which can allow for more powerful scripting. We could use one of those to com

[2022-09-23 16:07] bkjohnson commented on #1075
Another note on `font-display: swap` - [that will give us FOUT](https://css-tricks.com/almanac/properties/f/font-display/) which might not be a good user experience even if it ticks performance boxes.

[2022-09-23 16:24] caw310 commented on #363
@allison0034 , is this still needed?

[2022-09-23 17:18] allison0034 commented on #363
I am not sure, I do not see it in Sketch anymore. @GnatalieH is there a borderless table in Sketch that you know of?

[2022-09-23 17:52] humancompanion-usds commented on #1129
Looks great @GnatalieH - thanks!

[2022-09-23 17:52] #1129 closed

[2022-09-23 17:55] humancompanion-usds commented on #1085
We have created the first Shared Library which is for Search: https://www.sketch.com/s/ab0f611b-c15c-42c4-ab71-1158ff6e01c6

Megan has agreed to be our maintainer, for now. We've also documented Shared Libraries here:
https://design.va.gov/about/for-designers/design-libraries#shared-libraries

We'll now announce the shared library and the documentation in the Monday meeting and via Slack. After th

[2022-09-23 17:56] jamigibbs commented on #693
@GnatalieH Can you confirm if this margin is intentional? Here is a mock-up of a modal that includes various full-width content items (including the `va-featured-content` component mentioned above):

![Screen Shot 2022-09-23 at 12 49 08 PM](https://user-images.githubusercontent.com/872479/192027871-dd0b3fd0-72a6-49e0-976a-858adb16e7bd.png)

I've looked through our [Sketch Modal component examples]

[2022-09-26 13:30] humancompanion-usds commented on #1233
We should be following the US System here: https://designsystem.digital.gov/components/pagination/
What they've got handles the issues I mentioned back in April. This is a prime example of where we should inherit from them rather than redefining, poorly, what they have provided.

[2022-09-26 13:40] humancompanion-usds commented on #830
@GnatalieH - No, do not remove the disabled state. While the guidance recommends against it there is still room for a scenario in future where it may be valid. We have decided however to not add the disabled states to other form fields.

[2022-09-26 14:59] GnatalieH commented on #693
Hi @jamigibbs. Yes, the above margin is intentional. I wasn't the one who designed it that way, but it's consistent with how other modals look.

[2022-09-26 15:01] GnatalieH commented on #363
@allison0034 I thought it was, but it's not. So we need it.

[2022-09-26 15:50] caw310 commented on #693
Closing as this is intentional.

[2022-09-26 15:50] #693 closed

[2022-09-26 17:22] #1085 closed

[2022-09-26 17:58] allison0034 commented on #363
@GnatalieH there used to be a borderless table in the Sketch file, however I think it was removed.

@k80bowman I honestly do not remember exactly what it looked like. Since it is no longer there and there is an almost borderless version on the [Table component page](https://design.va.gov/components/table), I think we can close this ticket. If designers have another need we can address it.

[2022-09-26 18:08] k80bowman commented on #363
Thank you @allison0034! I'll close this for now, but let us know if the need for a different type of table arises again.

[2022-09-26 18:08] #363 closed

[2022-09-26 18:37] humancompanion-usds commented on #1213
We resolved in Design System Council to add this to our backlog to document but to not recommend further use of this component without modification. A number of issues were raised with the component:

* The blue background is meant to be reserved for the most important thing on a page and thus should not be used here unless the contents of the component are in fact the most important thing on that

[2022-09-26 18:51] skylerschain opened #1239 "Guidance for "Need Help?" Content Block"
To learn more about contributing to the Design System or requesting new components, requesting changes to existing components, and reporting bugs, go here.
https://design.va.gov/about/contributing-to-the-design-system/

---
# Bug Report or Design System update

- This is following up on a Slack thread related to the "Need help?" content block. The request is to provide some usage guidance in the D

[2022-09-26 20:14] k80bowman commented on #837
Closing this since we are focusing on deprecating and deleting the React components instead.

[2022-09-26 20:14] #837 closed

[2022-09-26 21:18] k80bowman opened #1240 "Replace React design system components in the old forms library with web components"
## Description
As part of our efforts to decrease reliance on our React components, we should replace the React design system components used in the old/current forms library with web component versions of those components.

On the face this work sounds simple, but this will probably require us to update some application tests. Please reach out to the platform QA people for help with updating any

[2022-09-26 21:24] #993 closed

[2022-09-27 14:45] Mottie opened #1241 "[FileInput] React Testing Library does not trigger an upload event on va-file-input"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

With plans to update the [lgy/coe document uploader component](https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/applications/lgy/coe/status/components/DocumentUploader/DocumentUploader.jsx#L112) to use `va-file-input`, we were not able to write unit tests

[2022-09-27 16:03] #1066 closed

[2022-09-27 16:15] k80bowman opened #1243 "USWDS v3 - Radio button - Design"
## Description
We need to incorporate the designs for the [USWDS Radio Button component](https://designsystem.digital.gov/components/radio-buttons/) into the VA Sketch library.

Prior to completing this addition, there should be some discussion with the team about how we want to manage including the USWDS resources into the Sketch library (how we want to organize things, especially for components

[2022-09-27 16:16] humancompanion-usds commented on #1220
Let's discuss. I got explicit permission from Chelen to keep our issues in this repo. The acceptance criteria here are not acceptable to me unless there are missing details. Are you just talking about moving component related issues or all issues to component-library? We need this repo to publish design.va.gov.

[2022-09-27 16:18] humancompanion-usds commented on #1219
I see now that this is related to #1220. Why do we need a single repo? Don't we push and publish components and documentation for them on different timelines? Is the goal to unify that?

[2022-09-27 17:17] bkjohnson commented on #1075
Discovery is finished.

[2022-09-27 17:17] #1075 closed

[2022-09-27 18:03] bkjohnson commented on #1068
Next steps are to create a dummy repo setup with `semantic-release-monorepo` and see if I can make that a bit more friendly & forgiving.

[2022-09-27 20:24] #1133 closed

[2022-09-28 16:12] bkjohnson commented on #1241
Do you have a code sample or a branch/commit where we can see what was causing the test to fail?

[2022-09-28 17:15] bkjohnson commented on #1241
The linked PR above unblocks you on the failing unit tests but some Cypress tests are failing as a result of the migration. Feel free to take over the PR and make the updates to the Cypress tests.

[2022-09-28 18:49] k80bowman commented on #1179
I did some discovery on using Google Analytics to track this. It is possible, as can be seen [here](https://analytics.google.com/analytics/web/?authuser=0#/report/content-event-pages/a50123418w177519031p176188361/_u.date00=20220801&_u.date01=20220831&explorer-table.secSegmentId=analytics.eventLabel&explorer-table.plotKeys=%5B%5D&explorer-table.advFilter=%5B%5B0,%22analytics.eventLabel%22,%22PT%22,

[2022-09-28 18:53] k80bowman commented on #1179
@humancompanion-usds it looks to me like our best option would be to set up Google Analytics to capture data on our components and use that alongside the data we currently collect on component usage in the `vets-website` and `content-build` repositories. Are there any other questions I can answer about this? Are there any other avenues you can think of for me to research?

[2022-09-29 14:48] GnatalieH commented on #1083
This ticket should also address updating the incorrect error alert image that lives in the [existing pattern](https://design.va.gov/patterns/help-users-to/recover-from-errors):

![image.png](https://images.zenhubusercontent.com/6111980ab6b167c27c9a5723/21079384-3cf5-4637-814d-fa072b04f4db)

[2022-09-29 15:53] #1241 closed

[2022-09-29 17:11] joshkimux commented on #725
Updated this to include a screenshot from @cgednalske on how big the promo banner can be at 175% zoom for Veterans with low vision
![image](https://user-images.githubusercontent.com/14154792/193096118-7f1edc5a-4333-4fc3-984f-52345242c4f4.png)

[2022-09-29 18:17] caw310 opened #1245 "Epic: Update 1 or 2 web components to USWDS v3"
This epic will be used to track the work needed to Upgrade 1 or 2 web components to USWDS v3 (specific web components to be identified)

Work to be done will include:
- Sync Sketch library assets with USWDS Sketch library assets for the components
- Review and reconcile or update user guidance
- Review and reconcile or update a11y guidance
- Review and reconcile any colors or typography difference

[2022-09-29 18:38] ryguyk opened #3177 "Mega menu right-most column flaky on injected header"
## Status

- 2024-03-20: Revisit after the flattened header/footer is released. May be able to close.
- 2024-03-20: The majority of the flattened HTML work is completed, so unblocking this ticket.
- 2024-01-25: Blocked until after the header/footer, and injected header flattened HTML work is finished.

## Description

Here is is a legacy (TeamSite) page with the injected header: https://www.va.gov

[2022-09-29 18:50] caw310 commented on #1172
Google sheet with decisions on addressing color differences.
https://docs.google.com/spreadsheets/d/1Joslf0M_ivuFol9Boy8QTQfTW9skyLQIcwKccNWrVkw/edit?usp=sharing

[2022-09-29 23:30] wesrowe opened #1246 "Add SMS option to <va-telephone>"
## What
The Veteran Crisis Line (VCL) offers a SMS option in a few different places on VAgov, notably the modal available from the header of all pages. It's a 6-digit number. And because it's an SMS number, the appropriate markup would be `href="sms:######"`.

The Public Websites team encountered challenges in using this markup within the DS:
- eslint notified us to use `<va-telephone>` instead of

[2022-09-30 15:47] laflannery opened #1247 "Accessibility considerations for search input design component"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Component

### What is the name?

Search Input

### What is the nature of this update?

- [ ] How to build this component/pattern
- [ ] When to use this component/pattern
- [ ] When to use something else
- [ ] Usability guidance
- [X] Accessibility
- [X] Implementation

[2022-09-30 15:52] #1179 closed, assigned to k80bowman

[2022-09-30 18:07] k80bowman opened #1249 "Improve consistency of hint text messages for form components"
## Description
As part of his review of department-of-veterans-affairs/component-library#535, @bkjohnson noted that we have some [inconsistencies](https://github.com/department-of-veterans-affairs/component-library/pull/535#pullrequestreview-1124478430) with how we we manage hint text/descriptions in our form components.

The color of the hint text in our components also does not meet color contra

[2022-10-03 16:31] #1177 closed

[2022-10-03 16:32] k80bowman commented on #1177
Closing this. We decided separately that we will not be using the JS from the USWDS. More of this type of analysis will be completed as we work to align our components with theirs.

[2022-10-03 18:00] k80bowman commented on #1110
@jamigibbs I have added the analytics details for va-link to my draft PRs (linked above). I did not add any details for va-banner, we still need the details from Michelle for the banner close button click. I asked for those in the analytics ticket and let her know that I was passing this work off to you.

[2022-10-03 18:05] jamigibbs commented on #1096
@Mottie When using the `VaRadio` and `VaRadioOption` combination, the event that includes the radio option change details is the `onVaValueChange` event. And the radio option value is accessed at `event.detail.value`. That said, I've updated your [codesanbox example](https://codesandbox.io/s/hardcore-http-cox8li?file=/src/App.js:459-474) so that it uses that event with the expected event structure

[2022-10-03 20:37] k80bowman opened #1251 "Get analytics config for the loading event for all components and add to component library"
## Description
Based on discovery completed as part of #1179.

This ticket should be completed first.

We need to work with the Analytics team to get the Google Analytics 4 configuration for the loading event for all of our components. The GA4 setup work is being completed as part of #1174. Then we need to add these events to our components.

## Details
This is going to be a larger ticket, more be

[2022-10-03 20:58] k80bowman opened #1252 "Add loading event analytics configs to component-library-analytics-setup.js"
## Description
Depends on #1251. Based on discovery completed as part of #1179.

Once we have the loading event analytics configurations set up in Google Analytics and in our component files, we need to add the configs to the [component-library-analytics-setup.js](https://github.com/department-of-veterans-affairs/vets-website/blob/05c5ce2e798567ca2f4be32e5961856224f5c8d3/src/platform/site-wide/com

[2022-10-03 21:14] k80bowman opened #1253 "Add loading event data to DS DOMO dashboard from GA"
## Description
Depends on #1252. Based on discovery completed as part of #1179.

Once the data is being sent to Google Analytics, we need to work with the Analytics team to automatically send that data to DOMO. Once the data is accessible in DOMO, we then need to create a view/chart for it in our [Design System dashboard](https://va-gov.domo.com/page/1537522750).

## Details
The [Platform Analytic

[2022-10-04 13:45] k80bowman opened #1255 "Fix the maturity scale indicators in the design.va.gov sidenav"
## Description
The way the sidenav on design.va.gov is built, the maturity scale indicators for component subpages represent the maturity scale for the parent page, rather than the child page. This means we end up in situations like the one pictured below where the sidenav indicator does not match the component maturity level.
![image](https://user-images.githubusercontent.com/12739849/193832604-8

[2022-10-04 14:15] GnatalieH opened #1256 "Foundation - grid page in Sketch core library is not accurate"
## Details
In the Sketch core library, the [Foundation - grid page](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/p/3C1D41FC-679C-4A2F-8D77-881FB204A664/canvas) shows incorrect values for left/right margins. We should update this page to reflect the [left/right margin spacing units](https://design.va.gov/foundation/utilities/margins#margin-right-and-left) we use.

<img width="1161"

[2022-10-04 15:14] #1096 closed

[2022-10-04 15:49] #994 closed

[2022-10-04 20:33] GnatalieH commented on #1083
Meeting between me, Matt, Danielle, Randi, and Beth on 10/5. We decided these will be our next steps:

- I will be chopping out a lot of content from the existing pattern because it is outdated and too lengthy.
- The revised pattern will include guidance on inline errors in addition to addressing when to use an alert vs. background only alert.
  - I will pull in examples of alerts from Storybook.

[2022-10-04 21:16] k80bowman opened #1257 "Re-set telephone eslint rule to error and add 6-digit length to telephone-contact rule"
## Description
After we initially set the prefer-telephone-component eslint rule to error, we heard from a couple of teams that they weren't able to use the component for some of their telephone elements because it doesn't support SMS numbers. In order to unblock teams, we changed the eslint rule to a warning. Once #1246 is complete, however, the component will support SMS numbers and we should ch

[2022-10-06 15:38] k80bowman opened #1259 "USWDS v3 - Text input - Design"
## Description
We need to incorporate the designs for the [USWDS Text Input component](https://designsystem.digital.gov/components/text-input/) into the VA Sketch library. The version of this component with the different features from USWDS may need to live side-by-side with our component in the Sketch library for a time.

There are some differences between the USWDS version and ours, so you'll wa

[2022-10-06 16:23] jamigibbs opened #1260 "Fix tests in va-privacy-agreement that sometimes fail in CI."
## Description

There are[ a couple of tests](https://github.com/department-of-veterans-affairs/component-library/blob/main/packages/web-components/src/components/va-privacy-agreement/test/va-privacy-agreement.e2e.ts#L83-L139) for `va-privacy-agreement` that are trying to access the input element in order to trigger a click like this:

[code]
But the `input` element within `va-checkbox` does not s

[2022-10-06 19:20] davidakennedy opened #1262 "[Font sizing]: Use of 10px font size on html element prevents text resizing"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

When Veterans either zoom in the browser or increase font size in the browser, the visual hierarchy in the font size isn't maintained.

## What I expected to happen

Ideally, in a more inclusive experience, as the fonts scale up, the visual hierarchy scales up as well. This allows Ve

[2022-10-06 19:46] wullaski opened #1263 "Difficult to prevent form submission when component has error"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

The memorable date field has no build in way of modifying global React state when there is an error.

We built a form where the memorable date field was the last input. Clicking the submit button or hitting enter with a malformed date would result in a form submission even though we

[2022-10-07 01:46] #985 closed

[2022-10-07 12:28] allison0034 commented on #943
Hi @andaleliz @cgednalske @aagosto90 (not sure we have the new notification icons either), Matt asked me to follow up on this. We need to document the following for each of your icons:

1. List of each icon you intend to use
2. It's FontAwesome name
3. How/when you will use it

Matt started the list below and noted an overlap.

 ### Profile icon usage
* Suitcase - <img width="18" alt="image" src="

[2022-10-07 14:26] andaleliz commented on #943
Hi @allison0034 and @humancompanion-usds sorry for the delay on this. I think it slipped off the radar since it's not assigned to us and therefore doesn't show up in our sprints. I'll work on this and get the info back to you.

[2022-10-07 16:25] aagosto90 commented on #943
@allison0034 @andaleliz @humancompanion-usds
**Icons for My VA notifications:**
- Exclamation - ![Screen Shot 2022-10-07 at 11 42 49 AM](https://user-images.githubusercontent.com/97965610/194594791-2a171c26-ecbc-43e5-98b3-16b605b9c1b5.png) - Important/urgent notifications requiring user action
- Info - ![Screen Shot 2022-10-07 at 11 42 58 AM](https://user-images.githubusercontent.com/97965610/1945

[2022-10-07 17:28] k80bowman opened #1265 "Conversion to USWDS v3 - Radio Button - Development"
## Description
Adapt the va-radio component to match the [USWDS Radio buttons](https://designsystem.digital.gov/components/radio-buttons/) component and import and use the USWDS CSS for this component.

## Details
- Design documents: [add links to any design documents]
- See the [Textarea discovery](https://github.com/department-of-veterans-affairs/component-library/pull/493) for an example
- Acco

[2022-10-07 18:44] k80bowman opened #1266 "Conversion to USWDS v3 - Text Input - Development"
## Description
Adapt the va-text-input component to match the [USWDS Text input](https://designsystem.digital.gov/components/text-input/) component and import and use the USWDS CSS for this component.

## Details
- Design documents: https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/p/447FB6DA-215E-4F15-A71B-94B7686DA614/canvas
- According to the [plan](https://vfs.atlassian.net/wiki/sp

[2022-10-07 18:46] k80bowman opened #1267 "Conversion to USWDS v3 - Memorable date - Development"
## Description
Adapt the va-radio component to match the [USWDS Memorable date](https://designsystem.digital.gov/components/memorable-date/) component and import and use the USWDS CSS for this component. This component is already based on the USWDS component, so this shouldn't require any structural changes.

## Details
- Design documents: [add links to any design documents]
- See the [Textarea di

[2022-10-07 18:49] k80bowman opened #1268 "Conversion to USWDS v3 - Memorable Date - Design"
## Description
We need to incorporate the designs for the [USWDS Memorable Date component](https://designsystem.digital.gov/components/memorable-date/) into the VA Sketch library. This component is already based on the USWDS component, so there may not be anything to do here. But we should at least do a quick audit and double check.

## Tasks
- [ ] Audit differences between the USWDS version and o

[2022-10-07 18:52] k80bowman opened #1269 "Conversion to USWDS v3 - Radio Button - Documentation"
## Description
Update documentation and guidance for the Radio Button component on design.va.gov based on guidance from USWDS v3.

## Tasks
- [ ] Update component documentation for design.va.gov
- [ ] Request documentation draft review
- [ ] Once documentation is approved, publish to design.va.gov

## Acceptance Criteria
- [ ] Component documentation is published on design.va.gov

[2022-10-07 18:53] k80bowman opened #1270 "Conversion to USWDS v3 - Text Input - Documentation"
## Description
Update documentation and guidance for the Text Input component on design.va.gov based on guidance from USWDS v3.

## Tasks
- [ ] Update component documentation for design.va.gov
- [ ] Request documentation draft review
- [ ] Once documentation is approved, publish to design.va.gov

## Acceptance Criteria
- [ ] Component documentation is published on design.va.gov

[2022-10-07 18:54] k80bowman opened #1271 "Conversion to USWDS v3 - Memorable Date - Documentation"
## Description
Update documentation and guidance for the Memorable Date component on design.va.gov based on guidance from USWDS v3.

## Tasks
- [ ] Update component documentation for design.va.gov
- [ ] Request documentation draft review
- [ ] Once documentation is approved, publish to design.va.gov

## Acceptance Criteria
- [ ] Component documentation is published on design.va.gov

[2022-10-07 18:55] k80bowman opened #1272 "Conversion to USWDS v3 - Radio Button - Final Review"
## Description
Please verify each task and fill in links where applicable below. Once everything is done, reach out to Carol to schedule a Staging Review.

Once the Staging Review is complete and any issues have been addressed, announce the component in Slack and add the announcement to the "What's new" page on design.va.gov.

## Details
### Component completion checklist:
- [ ] Documentation for

[2022-10-07 18:56] k80bowman opened #1273 "Conversion to USWDS v3 - Text Input - Final Review"
## Description
Please verify each task and fill in links where applicable below. Once everything is done, reach out to Carol to schedule a Staging Review.

Once the Staging Review is complete and any issues have been addressed, announce the component in Slack and add the announcement to the "What's new" page on design.va.gov.

## Details
### Component completion checklist:
- [ ] Documentation for

[2022-10-07 18:57] k80bowman opened #1274 "Conversion to USWDS v3 - Memorable Date - Final Review"
## Description
Please verify each task and fill in links where applicable below. Once everything is done, reach out to Carol to schedule a Staging Review.

Once the Staging Review is complete and any issues have been addressed, announce the component in Slack and add the announcement to the "What's new" page on design.va.gov.

## Details
### Component completion checklist:
- [ ] Documentation for

[2022-10-07 18:59] k80bowman opened #1275 "Banner - Official Gov site - Design"
## Description
Create design for Banner - Official Gov site component and/or update Sketch artifacts for Banner - Official Gov site. This component will be based on the [USWDS Banner component](https://designsystem.digital.gov/components/banner/).

## Details
[add links to any tickets or documents with details about the design]
[add links to any research documents related to the component]

## Tas

[2022-10-07 19:01] k80bowman opened #1276 "Banner - Official Gov site - Development"
## Description
Build a web component of Banner - Official Gov site. Be sure to add analytics if necessary, see [guidance](https://vfs.atlassian.net/wiki/spaces/DST/pages/2079817745/Component+development+process#Analytics%5BinlineExtension%5D).

This is based on the [USWDS Banner component](https://designsystem.digital.gov/components/banner/), so we should use their CSS resources if possible. They

[2022-10-07 19:02] k80bowman opened #1277 "Banner - Official Gov site - Documentation"
## Description
Add or update documentation and guidance for Banner - Official Gov site on design.va.gov. When adding a new component, use the [component documentation template](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/blob/main/src/_components/template.md).

## Details
[add links to any design documents]

[add link to Sketch component page]

Be sure to use

[2022-10-07 19:03] k80bowman opened #1278 "Banner - Official Gov site - Final Review"
## Description
Prior to a Staging Review, we need to make sure that all the tasks have been completed for a component. Please verify each task and fill in links where applicable below. Once everything is done, reach out to Carol to schedule a Staging Review.

Once the Staging Review is complete and any issues have been addressed, announce the component in Slack and add the announcement to the "Wha

[2022-10-07 22:45] bkjohnson commented on #1068
I've been doing some more discovery in [this testing repo](https://github.com/bkjohnson/semantic-release-monorepo-test/settings) and found out a few things.

## `semantic-release` tags a release even when the version in `package.json` hasn't been bumped

This seems like it could be problematic if we're trying to group a few different PRs in the same release [like I tried to do here](https://github

[2022-10-10 15:22] GnatalieH commented on #1172
Hi @humancompanion-usds. Late last week I finished documenting the color mappings from v1->v2 in our [spreadsheet](https://docs.google.com/spreadsheets/d/1Joslf0M_ivuFol9Boy8QTQfTW9skyLQIcwKccNWrVkw/edit#gid=0). I highlighted the colors that were different from what I chose. I agree with the USWDS conversions in almost all of the cases, but added notes where I think further discussion is warranted