[2022-10-10 23:36] GnatalieH commented on #1122
A part of me thinks this pattern should live as "Help users to...upload a file". I realize the "Ask users for..." section _does_ deal mostly with forms-related stuff.

[2022-10-11 13:58] Dr-Pongo opened #1280 "Experimental Design [va-number-input]"
## What
Updating `va-number-input` with currency styling. This can probably be asynchronous review, but I'm available if there's any questions/concerns!

## Purpose
Allow for consistent numeric input with currency symbols across VA.

## Usage
When creating custom components in VA forms system this flag will allow for consistent styling throughout the form regardless of page implementation.

## Beh

[2022-10-11 15:36] humancompanion-usds opened #1281 "Add component checklist to remaining components in use with caution state"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Component

### What is the name?

All components

### What is the nature of this update?

- [ ] How to build this component/pattern
- [ ] When to use this component/pattern
- [ ] When to use something else
- [ ] Usability guidance
- [ ] Accessibility
- [ ] Implementatio

[2022-10-11 17:53] GnatalieH commented on #1172
I'd like to close this out today if possible. Is that OK @humancompanion-usds?

[2022-10-11 21:14] andaleliz commented on #943
Thanks for covering the My VA icons @aagosto90!

Outside of the icons in the design system alert components, profile only uses `fa-check` on the account security page to indicate when a step has been completed.

Both My VA and Profile use `chevron-right` at the end of the disability rating link in the "name tag" component, which sits between the site header and main content area for both products.

[2022-10-12 15:41] humancompanion-usds opened #1282 "Add Tagalog and Spanish translations to several components"
## Configuring this issue
- [ ] Add issue to appropriate epic
- [ ] Add Design System component label (such as `va-alert`)
- [ ] Add `component-new` or `component-update` label, if applicable
- [ ] Complete sections below
- [ ] Delete this section once complete

## Description
Add the following Tagalog translations to the following components:

### Translations
#### Tagalog
{
  "error": "Error",

[2022-10-12 15:45] humancompanion-usds opened #1283 "Update "What's new" with September updates"
## Description
We need to update the What's new section of design.va.gov for September.

[2022-10-12 15:54] humancompanion-usds commented on #1174
Jami is seeing the information correctly in the analytics dashboard.

[2022-10-12 15:56] #1174 closed

[2022-10-12 22:25] #1283 closed

[2022-10-13 00:13] bkjohnson commented on #1169
I'm trying to get a better understanding of the problem. Is there some reason why the elements can't be placed inside the actual form?

[2022-10-13 19:53] jamigibbs commented on #1282
@humancompanion-usds The `va-text-input` component also has a "min length":

https://github.com/department-of-veterans-affairs/component-library/blob/main/packages/web-components/src/components/va-text-input/va-text-input.tsx#L253

We have a [max-chars](https://github.com/department-of-veterans-affairs/component-library/blob/main/packages/core/src/i18n/translations/en.js#L4) but I don't see min-ch

[2022-10-13 21:24] GnatalieH commented on #1083
@humancompanion-usds

Good point. I got confused when I first edited this pattern because it has the italicized text near the top of the page about inline errors being handled in a separate guide. I think we can include a section about inline validation errors. I'll update the guidance.

Gotcha. I'll work on this. I realize the omission I made, and I want to rethink this outline so it's centered a

[2022-10-14 15:12] #1216 closed

[2022-10-14 16:15] humancompanion-usds opened #1289 "Update modal guidance to match Storybook variations"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Component

### What is the name?

va-modal

### What is the nature of this update?

- [X] How to build this component/pattern
- [ ] When to use this component/pattern
- [ ] When to use something else
- [ ] Usability guidance
- [ ] Accessibility
- [ ] Implementation
- [

[2022-10-14 16:23] humancompanion-usds opened #1290 "Devise a plan for making user visible changes to allow VFS teams to upgrade to USWDS v3-based Design System"
## Description
Once we have an application using USWDS v3-based Design System packages (base package and component-library) then we will have user-visible changes between that application and any application still using Formation, not to mention sitewide content. Thus we need to make a plan for adjusting user-visible diffs between Formation and v3 ahead of time so that as an application upgrades a

[2022-10-14 16:36] humancompanion-usds commented on #1290
The rough plan at the moment would be to update Formation to change either all of the colors or just the biggest changes (primary blue which would change all links and buttons) plus the font-sizes and focus state in advance of opening up the flood gates to VFS Teams to adopt USWDS v3-based Design System packages (we really need a shorter name for that: VA Design System v3? I'd like to pick a versi

[2022-10-17 14:58] jamigibbs opened #1291 "Tagalog translations for va-text-input & va-memorable-date"
## Description
We received Tagalog translations in #1282 but the provided translations don't include one for the "minLength" validation message or date hint text:

**va-text-input**

[code]

![Screen Shot 2022-10-17 at 9 53 44 AM](https://user-images.githubusercontent.com/872479/196210594-c371341d-abc2-44db-93ea-6e49a3e91206.png)

**va-memorable-date**

[code]
![Screen Shot 2022-10-17 at 10 14 31

[2022-10-17 16:09] jamigibbs opened #1292 "Spanish translation for va-text-input & va-memorable-date"
## Description
The `va-memorable-date` component has Spanish translations for all text except for the hint text below. Once we have the translations for that text, we can add i18next to va-memorable-date. There is also a ticket created for the Tagalog translation for this text as well #1291

![Screen Shot 2022-10-17 at 11 09 14 AM](https://user-images.githubusercontent.com/872479/196228127-0771079

[2022-10-17 17:25] humancompanion-usds commented on #1122
Made final changes and deployed.

[2022-10-17 17:25] #1122 closed

[2022-10-17 18:23] jamigibbs commented on #1282
I've created two separate tickets related to this:

- https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1291

- https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1292

[2022-10-17 18:24] #1282 closed

[2022-10-18 16:43] caw310 commented on #1186
@thehastingsp this request is on the DSC agenda for the meeting on Oct 28.

[2022-10-18 18:47] GnatalieH opened #1293 "[Pattern update] - Add examples to "Help users recover from errors""
## Description
The Content team has identified the following types of errors and we need an example for each one:
- Sign in and identify verification
- System
- Engagement
- Access
- Feedback

## Details
Add screenshots with captions in the Examples section of [Help users recover from errors](https://design.va.gov/patterns/help-users-to/recover-from-errors).

## Tasks
- [ ] Get examples from Conte

[2022-10-19 14:19] andaleliz opened #1294 "Radio input Sketch symbol is taller than the live component"
# Bug Report

- [ x ] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

The Sketch symbol is 36 pixels tall but when I inspect the radio input on the website, it's 24px tall. It has an 8px top margin, so if the symbol includes the margin, it needs to be reduced by 2px, and the margin in the symbol needs to be swapped (currently it has a margin on the b

[2022-10-19 15:45] GnatalieH opened #1295 "[Pattern update] - Add how to design and build, accessibility and content considerations to "Help users recover from errors""
## Description
Complete the remaining sections that need to be updated in [Help users recover from errors](https://design.va.gov/patterns/help-users-to/recover-from-errors).

## Details
This related to tickets #1083 and #1293. When this ticket is completed, the pattern update should be reviewed and published live.

## Tasks
- [ ] Write or update component documentation for design.va.gov
- [ ] Coor

[2022-10-19 15:46] GnatalieH commented on #1295
@caw310 I created this ticket to address the remaining work left (after adding examples) for this pattern update.

[2022-10-19 18:00] oleksii-morgun-va opened #1296 "<va-breadcrumbs> handle re-render lifecycle"
# Bug Report

- [ ] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
- `<va-breadcrumbs>` web component is not using a re-rendering lifecycle, resulting in improperly handling attributes if child elements are re-rendered.
- When a number of `a` tags on re-render is greater than on initial render, `<li>` wrapping and assigning `aria-current=page` attrib

[2022-10-19 18:44] GnatalieH commented on #1294
Hi @andaleliz. On the DST we are in the process of consuming [USWDS radio buttons](https://designsystem.digital.gov/components/radio-buttons/), and I've actually added them to the Sketch library as a test (for now). They are under components / form controls / radio button in the Symbols menu. I'm experimenting with how we'll integrate the US system's Sketch symbols into our library, and so far I a

[2022-10-20 17:37] jamigibbs opened #1297 "Add i18next to the web components that have available translation strings"
## Description
After creating this [internationalization tracking spreadsheet](https://docs.google.com/spreadsheets/d/1iIg9pP5GG-QFk7DrsyoKJv9GebtYmDuzKf_heqxWks4/edit#gid=0), we noticed that the following web components have translation strings available for both Spanish and Tagalog but i18next has not been added to them yet. This ticket is to add i18next to those components:

[code]

## Acceptan

[2022-10-20 17:55] jamigibbs opened #1298 "Update Telephone to include SMS - Documentation"
## Description
Once [the SMS option has been added](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1246) to the va-telephone component, we should update the guidance for Telephone on design.va.gov to include details for SMS.

## Details
- https://design.va.gov/components/telephone
- https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/WKjQYn0

[2022-10-20 18:05] #986 closed

[2022-10-20 18:07] jamigibbs commented on #1246
Adding @GnatalieH to this ticket so that she can confirm how we'd like the SMS number to appear. In the screenshot it's showing up as "Text: 838255" but she will need to confirm with the Content team if that's how it should look.

[2022-10-20 18:43] caw310 opened #1299 "USWDS v3 - Radio button - Accessibility review"
## Issue Description
We need to conduct a review of the accessibility guidance on USWDS for the Radio buttons component  (https://designsystem.digital.gov/components/radio-buttons/) and compare it to the a11y guidance in the VA DS.  (https://design.va.gov/components/form/radio-button)

## Tasks
- [x] Full review of accessibility guidance for the component on both USWDS and VA DS.
- [x] Identify an

[2022-10-20 18:52] caw310 opened #1300 "USWDS v3 - Text input - Accessibility review"
## Configuring this issue
- [ ] Add issue to appropriate epic
- [ ] Add Design System component label (such as `va-alert`)
- [ ] Add `component-new` or `component-update` label, if applicable
- [ ] Complete sections below
- [ ] Delete this section once complete

## Issue Description
We need to conduct a review of the accessibility guidance on USWDS for the Text input component  ([URL](https://desi

[2022-10-20 18:56] caw310 opened #1301 "USWDS v3 Memorable Date - Accessibility review"
## Issue Description
We need to conduct a review of the accessibility guidance on USWDS for the Memorable date component  [(URL)](https://designsystem.digital.gov/components/memorable-date/) and compare it to the a11y guidance in the VA DS. [ (URL)](https://design.va.gov/components/form/memorable-date)

## Tasks
- [x] Full accessibility review of the component is completed
- [x] Add descriptions o

[2022-10-20 19:01] caw310 opened #1302 "Banner Official Gov site component - Accessibility review"
## Issue Description
We need to conduct a review of the accessibility guidance on USWDS for the Banner - Official Gov site component  https://designsystem.digital.gov/components/banner/  and compare it to the a11y guidance in the VA DS.  [(URL)](https://design.va.gov/components/banner/)

## Tasks
- [x] Full review of accessibility guidance for the component on both USWDS and VA DS.
- [ ] Identify

[2022-10-20 19:08] caw310 opened #1303 "USWDS v3 - Radio button - Accessibility review #1299"

[2022-10-21 15:44] GnatalieH commented on #1083
I have made lots of updates to [the PR](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/blob/12f545e1bc755592e7947fd73dbfd89d9d7bda98/src/_patterns/help-users-to/recover-from-errors.md) since my last comment. I also created this [Mural board](https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1666279078487/34a75cc26a849bc4bc4c8bc11d1

[2022-10-21 20:19] laflannery commented on #1247
A couple other considerations have come up as we have been working with this on the homepage redesign:
- This component uses aria-label, however there could be some use cases of this component when a visible label would be better. It would be good if a `<label>` could be used and the aria-label could be removed.
  - Examples of when to use the `aria-label` and when to use a visible `<label>` shoul

[2022-10-24 14:14] caw310 commented on #1172
As discussed on Friday during standup, Natalie will create a new tab in the google sheet with color breakdown for the components we are migrating in Q4 2022 which are: radio button, memorable date, text input and banner.

[2022-10-24 15:50] #1172 closed

[2022-10-24 19:02] bkjohnson commented on #1068
Action item: Setup another dummy repo for experimenting with lerna.

[2022-10-25 14:45] GnatalieH commented on #1246
Here is the way we should format SMS:

Text: [838255](url)

[2022-10-25 15:56] caw310 commented on #1068
@bkjohnson , closing this out. Please write up ticket(s) for any work going forward based on this discovery.

[2022-10-25 15:56] #1068 closed

[2022-10-25 17:59] humancompanion-usds commented on #1083
This doesn't seem finished:

* There are no examples from Storybook, just a list of examples. The examples here are more a description of the types of error messages. That's already defined here: https://design.va.gov/content-style-guide/error-messages/#messages-dictionary Thus we should pull that content in as an include. I see now that's a separate issue so I'll leave it be but we can't really s

[2022-10-25 19:20] GnatalieH commented on #1243
@humancompanion-usds thanks! I went ahead and made the changes you requested and added a couple of radio group examples (default and tile). I updated the [component page](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/v/l9GRl4/a/QbLxoR7) in the main VA Pattern library file. I haven't yet removed the the VA Radio button symbols, but I copied them to the Archive page and will delete t

[2022-10-25 19:49] GnatalieH commented on #1083
Hi @humancompanion-usds. Correct, it's not nearly finished. We'd agreed when we met with Content to stub out this work because it's beyond the scope of a single ticket.

Yes, I created the follow up issue specifically to address the examples. But please note that the Error messages dictionary includes all kinds of messages **including** success and status update messages, things that are definitel

[2022-10-25 21:47] humancompanion-usds commented on #212
We've shipped va-button and it was reviewed in the CollabCycle. @SarahKay8 - Can you review and determine if we need to continue with this effort? If not, please close. Thanks.

[2022-10-25 21:51] jamigibbs commented on #1175
GA4 planning reference spreadsheet: https://docs.google.com/spreadsheets/d/1c3Fd0f6rA0yRBeYuZEZzxzeLvJJclFUB5lX8hYPn7SY/edit#gid=2089299676

[2022-10-25 22:13] humancompanion-usds commented on #392
@kristenmcconnell - I agree with this sentiment and I've seen it done elsewhere. Has any VFS Team tried this? Perhaps this is something we could queue up with a team to test out? Is there a team that might be best to approach about this?

[2022-10-25 22:30] SarahKay8 commented on #212
Will do! > We've shipped va-button and it was reviewed in the CollabCycle. @SarahKay8 - Can you review and determine if we need to continue with this effort? If not, please close. Thanks.

[2022-10-26 12:17] humancompanion-usds commented on #1243
@GnatalieH - I was able to get the radio buttons into an error state in the browser but adding the error message broke the layout so I don't have a screenshot for you. Work with Brooks or Jami this week once the code is merged in for Tile and ask them to create an error state in Storybook that you can reference to create the same in Sketch. We should show this variation in an error state in Storyb

[2022-10-26 12:33] humancompanion-usds commented on #1083
Okay, I had thought the outline was done last sprint. If this is the outline then I'll just address the things that should be in the outline.

* RE: Critical vs. recoverable - Yes, that's exactly the level of detail we should have. I think this pattern will go on to be really focused on recoverable errors but it is worth mentioning the critical error path of having to contact support.
* RE: Backgr

[2022-10-26 12:38] humancompanion-usds opened #1305 "Review audit of components - Analyze comparison between USWDS and VA DS components"
## Description
Review audit of components - comparison between USWDS and VA DS components and provide analysis of audit for next meeting. Next meeting is Tuesday 11/15.

## Details
Katy started and audit. We need to finish it and provide a spreadsheet of functional differences between components in the USWDS and VA Design Systems.

[2022-10-26 14:57] kristenmcconnell commented on #392
I can ask around. I don't know if anyone has upcoming plans that would include these types of form fields.

[2022-10-26 15:58] caw310 commented on #1243
To close out this ticket, Natalie needs to see the error state to create asset for Sketch library.

[2022-10-26 16:40] GnatalieH commented on #1083
@humancompanion-usds just an update:

- I added more details to the When to use section re: critical vs. recoverable errors.
- I reached out to Allison. She suggested considering the alert placement from an a11y POV. I'm getting some input about this from DK and Adam Whitlock, an engineer. She also had some ideas around how we consider alerts in general, and thinking about things from a Veteran's

[2022-10-26 18:18] caw310 opened #1307 "Move to deprecation phase 2 - Modal React component"
## Description
We need to move the Modal  React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).
This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story

[2022-10-26 18:20] caw310 opened #1308 "Move to deprecation phase 2 - Table React component"
## Description
We need to move the Table  React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).
This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story

[2022-10-26 18:25] caw310 opened #1309 "Move to deprecation phase 2 - Textinput React component"
We need to move the TextInput React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).
This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story for the com

[2022-10-26 18:25] jamigibbs opened #1310 "Move to deprecation phase 3 - RadioButtons React component"
## Description

We will deprecate Radio button React component  January 20, 2023

With the completion of the [Phase 2 ticket](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1114), we will need to move the RadioButtons React component into [Phase 3](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components#Gene

[2022-10-26 21:09] humancompanion-usds commented on #828
Since this issue was filed we've highlighted Gender and Pronouns patterns:

https://design.va.gov/patterns/ask-users-for/gender
https://design.va.gov/patterns/ask-users-for/pronouns

The USWDS team is working on patterns and have some drafts. I don't know when they intend to publish however.

[2022-10-26 21:21] humancompanion-usds commented on #421
@jamigibbs - It looks to me like expDate is now required on the OMB Info component. Can you confirm and close if so.

If someone comes forward with a valid use case where the expiration date is not available then we could change that. The only thing I can think of is the exception case where we get an emergency waiver pending approval of the form. But I gotta imagine that comes with an expiration

[2022-10-26 21:29] bkjohnson commented on #421
It is required on both the React component and the Web Component. The red asterisk indicates that it is required:

![Screenshot of the React OMBInfo component with the `expDate` prop marked as "required"](https://user-images.githubusercontent.com/2008881/198141770-2ffb70b5-db37-4e49-8c11-517321be393c.png)

![Screenshot of the OMBInfo Web Component with the `exp-date` prop marked as "required"](htt

[2022-10-26 21:29] #421 closed

[2022-10-26 21:38] jilladams opened #1311 "escaping HTML in accordion header component"
# Bug Report
- [X] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
Encodable characters are rendered as unencoded in accodion headers.
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/11157#issuecomment-1289191139

## What I expected to happen
` ` should appear, rather than `&nbsp;`
`&` should appear rather than `&amp;`

## Reproduc

[2022-10-26 22:49] DanielleThierryUSDSVA commented on #828
Hi, @humancompanion-usds. I'd love to see the USWDS drafts when they're available. I've been our main POC on the language around SOGI data and would also be great to connect with USDS colleagues working on the interagency council. Thanks!

[2022-10-27 14:09] #1114 closed

[2022-10-27 19:08] caw310 opened #1312 "Create documentation on testing component changes on vets-website."
## Description
This is an action item from retro for sprint 12.
Create documentation on testing component changes on vets-website.
Jhonny and Jami to work together on this  w/ Brooks to sign off.

## Tasks
- [ ] Find Slack messages that have information on testing component changes on vets-website
- [ ] Draft documentation with what's been described in Slack on testing component changes on vets-we

[2022-10-27 21:17] humancompanion-usds commented on #1249
I spoke with DK about the hint-text color and it does pass AA, just not AAA. He assured me that was acceptable and we agreed that some hierarchy is needed given how busy a text field can potentially become with label, additional info, hint text, error message, etc.

[2022-10-27 21:21] humancompanion-usds commented on #1269
I'm going to use Radio button as my prototype of how we'll reference USWDS guidance to fulfill issue #1200

[2022-10-27 21:23] GnatalieH commented on #1269
Great idea.

[2022-10-28 17:52] humancompanion-usds commented on #1280
We discussed this component in DSC today:

* DK mentioned the aria-label and SaraK commented that VoiceOver announces currency but other screen readers may not. Sarah can guide our implementation should we get to it.
* Robin mentioned we might want to consider a prefix and suffix for text-input. Currency could be a prefix and suffix might be a %. We can decide when we take this one.

We'll add thi

[2022-10-28 18:10] caw310 commented on #1186
Follow up from DSC meeting, the DST will add this to our backlog to add your example to the pattern in the DS.

[2022-10-28 18:13] caw310 commented on #1187
Follow up from DSC meeting.
We will document pattern and mark it as new and indicate that some testing was done but that we need more testing on this.
Will add to DST backlog to document this pattern and other list and loop patterns Robin has identified.

[2022-10-28 18:59] thehastingsp commented on #1186
thanks @caw310 are there any specific actions I need to take?

[2022-10-28 19:00] thehastingsp commented on #1187
thanks @caw310 are there any specific follow up actions for me?

[2022-10-28 19:13] caw310 commented on #1187
Not at this time. When we add the pattern, Natalie or Matt will probably reach out to you to see assets. Thanks!

[2022-10-28 19:14] caw310 commented on #1186
Not at this time. When we work this, Natalie or Matt may reach out to you. Thanks!

[2022-10-28 20:20] davidakennedy opened #1313 "Focus styles: Audit VA.gov for focus states"
## Content

The VA.gov Design System needs updated focus styles for better accessibility because the current styles don't meet color contrast guidelines in the Web Content Accessibility Guidelines. In updating the styles, we want to also think ahead to future versions of WCAG, which likely have more stringent requirements for focus styles.
Specifically, the current focus style fails to meet compli

[2022-10-28 20:24] davidakennedy opened #1314 "Focus styles: Select color for focus style and identify other focus methods, if necessary"
## Context

The VA.gov Design System needs updated focus styles for better accessibility because the current styles don't meet color contrast guidelines in the Web Content Accessibility Guidelines. In updating the styles, we want to also think ahead to future versions of WCAG, which likely have more stringent requirements for focus styles.

Specifically, the current focus style fails to meet compl

[2022-10-28 20:28] davidakennedy opened #1315 "Focus styles: Review and finalize designs"
## Context

The VA.gov Design System needs updated focus styles for better accessibility because the current styles don't meet color contrast guidelines in the Web Content Accessibility Guidelines. In updating the styles, we want to also think ahead to future versions of WCAG, which likely have more stringent requirements for focus styles.
Specifically, the current focus style fails to meet compli

[2022-10-28 20:35] #1204 closed

[2022-10-28 20:43] kristenmcconnell commented on #392
So far, I haven't heard from anyone that they are working on address input fields right now.

[2022-10-28 21:22] bkjohnson commented on #1169
I'm still not understanding the change that is being asked of us. In your code snippet you're using `<input>` and `<button>`, so I imagine what you're describing would work with those tags. Are you relying on something like `submitEvent.target.elements` and expecting some components to be there? Are you using our web components, like `<va-text-input>`?

---

Based on what I know right now, the sho

[2022-10-28 21:53] humancompanion-usds commented on #1255
I accidentally removed status indicators for patterns.

[2022-10-28 22:00] humancompanion-usds commented on #1083
We can keep working on the draft PR for this in the new tickets that have been created.

[2022-10-31 16:28] SarahKay8 commented on #212
Accessible name is in text node. Closing out.

[2022-10-31 16:28] #212 closed

[2022-11-01 13:55] GnatalieH commented on #1293
@allison0034 here's the ticket we're working on this sprint. I'm looking for hi-res examples of different types of error messages. If you look at my [PR draft](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/blob/009258f9f078899626a6cd31a298721b224cab83/src/_patterns/help-users-to/recover-from-errors.md), you'll see placeholders I included under Examples for the

[2022-11-01 14:08] humancompanion-usds commented on #1246
We had a bit of back and forth on this. We resolve to leave TTY alone and keep the "TTY:" label as part of the link. Thus TTY stays the same:

`<a href="tel:+711" aria-label="TTY. 7 1 1.">TTY: 711</a>`

For text we decided to handle it as we do telephone numbers and not include any label or text. That's left up to the caller to decide on (though our guidance will instruct them NOT to put "text" in

[2022-11-01 14:29] GnatalieH opened #1317 "[Alerts] - Reorganize Alert guidance on design.va.gov"
## Description
Reorganize Alert guidance to include Alert-expandable as a variation and create child pages for alert variations similarly to the way [Link](https://design.va.gov/components/link/) or [Form](https://design.va.gov/components/form/) sections are organized on design.va.gov. Note that Form contains an Overview page and Link does not. We should consider using an Overview page for Alert.

[2022-11-01 14:47] humancompanion-usds commented on #1317
We should start by adding a shared bit of guidance that would show the different levels of "info" in ascending order. That could be shared across Alert, Alert - Expandable, Featured Content, and potentially Additional Info.

[2022-11-01 15:27] #1255 closed

[2022-11-01 15:37] humancompanion-usds opened #1318 "Reconcile a11y guidance on textarea use of placeholder text"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

We have a [placeholder text option for textarea](https://design.va.gov/storybook/?path=/docs/components-va-textarea--default) and have advised users to use that for communicating max-character count in combination with text below the field. However, I don't see how that placeholder t

[2022-11-01 15:56] humancompanion-usds commented on #1110
Jami to do QA on this.

[2022-11-02 16:23] humancompanion-usds commented on #935
I'm confused as to why this is assigned to me. I gave clear direction yesterday to please make the change on color to $color-base. Is there some new information or a PR for review?

[2022-11-02 16:27] bkjohnson commented on #1169
Sounds good. If form-associated components become an option in Stencil we may revisit this.

[2022-11-02 16:27] #1169 closed

[2022-11-02 16:45] caw310 commented on #935
Jami thought she was waiting for additional feedback from you which is why I assigned to you. I think we're all set. @jamigibbs good on this now?

[2022-11-02 17:05] jamigibbs commented on #1312
Slack reference: https://dsva.slack.com/archives/G01BJ3ESXL4/p1645627986332699

[2022-11-02 17:08] jamigibbs commented on #935
@caw310 @humancompanion-usds Sorry I think I misunderstood where we left this yesterday. I will submit a PR for the Formation update.

[2022-11-02 19:33] #1246 closed

[2022-11-02 19:50] #1297 closed

[2022-11-02 21:05] Mottie opened #1319 "Additional Info component crops text while zoomed"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

While testing the Supplemental Claims Introduction page at 400%, I noticed that the last link "Learn more about contested claims" is cut off - maybe this is an edge case, but make sure to follow the steps to reproduce

## What I expected to happen

After expanding the additional info

[2022-11-02 21:40] wesrowe commented on #1246
@humancompanion-usds, need clarification on the comment above. Your examples are `<a>` tags, but this ticket is about adding SMS to the `va-telephone` component. DS docs for the telephone component don't appear to have changed. I think what would help me is direct guidance on how we should handle text links now. Here's the [Public Websites ticket](https://github.com/department-of-veterans-affairs/

[2022-11-02 22:10] jamigibbs commented on #1246
@wesrowe I might be able to add some more details. @humancompanion-usds's comment was specifically to clarify a development question I had although he might want to add more details here if he'd like.

We have added an `sms` attribute to the `va-telephone` component which you can see in an example on Storybook here: https://design.va.gov/storybook/?path=/docs/components-va-telephone--default#sms

[2022-11-02 22:12] humancompanion-usds commented on #1246
I have [an issue to document](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1298) the new option in the [component](https://design.va.gov/components/telephone) page as well. I will get to that now that the option has been added.

[2022-11-03 14:18] GnatalieH commented on #1259
@humancompanion-usds this is ready to review. [Here is the link](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/52Z2bpp).

[2022-11-03 14:37] humancompanion-usds opened #1320 "Add "Verify your identity" variation to Sign-in or tool prompt"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Component

### What is the name?

Alert - Sign-in or tool prompt

### What is the nature of this update?

- [ ] How to build this component/pattern
- [ ] When to use this component/pattern
- [ ] When to use something else
- [ ] Usability guidance
- [ ] Accessibility
- [

[2022-11-03 15:20] SarahKay8 commented on #1318
Updated Guidance:

Screen readers such as JAWS and NVDA don't read placeholder text, it's a visual addition only.
However, if you're providing important information visually (max character length) there is no reason you shouldn't be conveying this information to screen reader users as well. A good way to do this is with a screen reader only bit of text. Create a class using CSS which hides the tex

[2022-11-03 15:57] GnatalieH commented on #1265
@jamigibbs [here is the link](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/QbLxoR7) to the mockups. Please note that I will add an error state after Jhonny works on an example for me. Please let me know if you have any questions/feedback, thanks!

[2022-11-03 16:52] humancompanion-usds commented on #1320
This is the Alert in question:
![Continue - Large Copy 2](https://user-images.githubusercontent.com/52176351/199783808-7fdccbe9-ac2b-4386-ab41-6a85b1d07cc3.png)

Natalie and I went and grabbed it in Sketch and are ready to add it.

@allison0034 and @briandeconinck - If you can confirm for me if this should be a button or a link we will codify your decision into this component variation. Thanks!

[2022-11-03 20:00] humancompanion-usds commented on #1259
Feedback was to show the current state alongside the future USWDS v3-based state here and in Radio Button (which we've now confirmed is also v3 only).

[2022-11-03 22:39] bkjohnson opened #1322 "Determine how a USWDS3-based web component will get its color"
## Description

The DST is making an effort to base our Web Components around USWDS3 - this means relying on their CSS & SVG assets and modeling our markup after theirs. Certain aspects of typography, such as font family and size, can be inherited globally, but color doesn't work the same way. Additionally, we may have some components and/or colors that deviate from what USWDS3 defines and uses, s

[2022-11-04 02:52] wesrowe commented on #1246
Thank you both.

[2022-11-04 14:53] humancompanion-usds commented on #1320
Okay, I've confirmed in staging that this Alert variation should use a link rather than a button as it navigates to [an identity verification screen](https://staging.va.gov/verify/). There is at least one instance in View Payment History that is incorrectly using a button and the warning variant.

My VA is using the correct version:
<img width="638" alt="Screen Shot 2022-11-04 at 10 52 54 AM" src=

[2022-11-04 15:23] va-timorris opened #1323 "va-pagination onPageSelect event not being triggered"
# Bug Report

- [X] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

I am attempting to use the va-pagination react component and the onPageSelect event is not being triggered when clicking on a page number.

Code:
const [page, setPage] = useState(1);
const handlePageSelect = (event) => {
    setPage(event.detail.page);
};

va-pagination
    onPageSel

[2022-11-04 17:35] Mottie opened #1324 "Radio button option web component with description text- Development"
## Description

- Update radio button option web component allow for description text.

## Details
- This will match [USWDS design of adding description text within the `label`](https://designsystem.digital.gov/components/radio-buttons/)

## Tasks
- [X] Review DST backlog for outstanding issues with this component, if necessary
- [ ] Add description text property
- [ ] Update web component in Stor

[2022-11-04 19:36] va-timorris commented on #1323
[SearchPage.jsx.txt](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/files/9941480/SearchPage.jsx.txt)

[2022-11-04 19:39] jhonnyoddball commented on #1292
I’m a native Spanish speaker and I don’t agree with this statement

Usually in forms we refer as a `required field`, not a `required date`. That applies to Spanish too. `Espacio requerido` not `Fecha requerida`

This can be seen in this example from the Maricopa County, Arizona's website:
https://recorder.maricopa.gov/Elections/EarlyVotingBallot/earlyvotingballotstatus_es.aspx/subscriptions/voterr

[2022-11-04 19:46] jhonnyoddball commented on #1292
Analytics have been added in [PR 513](https://github.com/department-of-veterans-affairs/component-library/pull/513)

[2022-11-04 21:27] bkjohnson commented on #1323
`pageSelect` is the event, and `onPageSelect` is the event handler. This is a [CustomEvent](https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent), and at the moment React won't automatically register custom event handlers for custom events like it does for native events, such as `click`, `blur`, and `input`.

The reason that you see `<VaPagination>` in the storybook example is

[2022-11-04 21:30] bkjohnson commented on #1034
The plan has been approved so I'm closing this as finished even though the [RFC hasn't been merged yet](https://github.com/department-of-veterans-affairs/va.gov-platform-architecture/pull/48#issuecomment-1304276146)

[2022-11-04 21:30] #1034 closed

[2022-11-04 21:37] va-timorris commented on #1323
Thanks for the clarification.  I did see the Canvas sample of it working, but the "VaPagination" component will not work with us.  We always have to use the "va-pagination" component in our project.  Our app is not a purely React app, but a .NET Core web app using HTML Helpers to help render JSX react components (plus webpack as well).   The VaPagination working sample on the Canvas does not help

[2022-11-04 21:53] bkjohnson commented on #1323
That's my bad on just assuming you were using React, apologies. I haven't worked in a .NET/React hybrid environment and I think this is the first time anyone has used our components that way. Does this mean that you can't import or use React components - you can only use it to render regular markup? I'm not quite understanding why `<VaPagination>` can't be used.

If all else fails, It should still

[2022-11-04 22:02] va-timorris commented on #1323
Hi - so two things:  so yeah, none of those variants of react components have ever worked for us, such as VaPagination.  The only thing that works when putting the VA design system components into our JSX files is the hyphenated variation of them, such as va-pagination.  Not sure why.  Fix it for us NOW!  Just kidding.   Second, I tried adding that event listener using react's useEffect hook and i

[2022-11-07 01:28] joshkimux opened #1326 "Experimental Design [Simple Form Header]"
## What
I'd like to re-propose conducting more research on simplifying the form header for forms that use one thing per page (e.g. [the subtask pattern](https://design.va.gov/patterns/help-users-to/complete-a-sub-task)). This is directly based on the work that [Ryan Thurlwell documented in this sketch file](https://www.sketch.com/s/09640425-48be-4019-8277-8a924eff1df7).

Some possibilities may inc

[2022-11-07 16:26] GnatalieH commented on #1243
@humancompanion-usds I was able to add the error states thanks to @jhonnyoddball. I also re-added the VA Radio button symbols and artboard. [Please review here](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/p/AF7CD21C-2DF3-4CA4-B678-473A929B9615/canvas) and let me know what ya think. Thanks!

[2022-11-07 17:03] caw310 commented on #1323
We should document instructions in design.va.gov - in the for developers section about web components. Will add to DST backlog to add the instructions.

[2022-11-07 17:05] caw310 commented on #1323
Turns out documentation is  already on design.va.gov (https://design.va.gov/about/developers#native-events) so closing.

[2022-11-07 17:05] #1323 closed

[2022-11-07 19:20] caw310 commented on #1291
I have the translations to pass on. They're in the DST google folder.
https://drive.google.com/drive/folders/19Z8r7kZVpZqyKatgGNrHjHVTbMuVd6qx?usp=sharing

[2022-11-07 20:00] bkjohnson commented on #1025
[Here is an example](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/3ccc9d7277e0d5813aa16f4d3e1a4b1181c2bb01/packages/formation/sass/base/_va.scss#L1-L16) of the kinds of global tag styling that formation is applying that we will need to decide how we want to handle once va.gov is no longer using `formation`.

[2022-11-07 20:04] GnatalieH opened #1327 "[Alert] - Update guidance"
## Description
We need to update our guidance on the Alert page to address the following:

- When to use a background vs. full width alert
- Where to place background alerts on the page
- Show the different levels of "Info" in ascending order, including mentioning Featured content

Ticket #1317 will handle the reorganization of the content under the Alert umbrella.

## Tasks
- [ ] Write or update

[2022-11-07 20:06] GnatalieH commented on #1327
@humancompanion-usds and @allison0034 here's the ticket I created to address updating Alert guidance. If something is missing please let me know and I'll update the ticket.

[2022-11-07 22:44] GnatalieH commented on #1259
@humancompanion-usds I've re-added the VA version of this component, which you can [review here](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/p/04A043C5-65CA-43BB-88F2-E17EF8B12D7D/canvas). Thanks!

[2022-11-08 02:43] SarahKay8 commented on #1299
Part 1: USDWS Radio Button - Findings

1. The second “Fredrick Douglass” radio button includes additional descriptive text where it states “This is optional text that can be used to describe the label in more
          detail”. 
This is added to the label, rather than semantically as the radio button’s actual accessible description via `aria-describedby`.  They may have their reasons for this, but

[2022-11-08 18:30] #1292 closed

[2022-11-08 19:41] humancompanion-usds commented on #1259
@GnatalieH - Looks good. Let's make them match-up. Looks like we just need to add Hint text variations to the VA artboard and drop the disabled example (archive it). Also, the last example need to be renamed Open Error with Focus and added to the VA version as well. After that feel free to close this out. Thanks!

[2022-11-08 19:58] humancompanion-usds commented on #1243
Looks good. Let's talk this week about how we want to communicate what is coming and these additions. We may want to create a single page that holds all of the USWDS v3 items with a big note on what they are, a warning not to use them yet, etc.

[2022-11-08 22:53] #1318 closed

[2022-11-08 22:54] humancompanion-usds commented on #1298
Confirmed that all docs are now up-to-date with the SMS option.

[2022-11-08 22:54] #1298 closed

[2022-11-08 22:55] humancompanion-usds commented on #1327
We already filed #1317 for reorganizing. Let's just use this ticket for updating the guidance.

[2022-11-08 23:00] humancompanion-usds opened #1328 "Process list component - Add Figma example of dynamic variation to Storybook"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Component

### What is the name?

va-process-list

### What is the nature of this update?

- [ ] How to build this component/pattern
- [X] When to use this component/pattern
- [ ] When to use something else
- [ ] Usability guidance
- [ ] Accessibility
- [X] Implementati

[2022-11-09 15:33] humancompanion-usds commented on #1326
@joshkimux - @benbrasso-agile6 came to talk to me about testing this out recently. Thus the Patient Check-in team is already working towards this. I gave them feedback on both and encouraged them to go test and then contribute. Once they've designed and tested a reduced header and footer then I would definitely love to see those come to DSC. If you and that team want to bring that to DSC ahead of

[2022-11-09 16:53] caw310 commented on #1299
@humancompanion-usds please review Sarah's findings.

[2022-11-09 16:59] GnatalieH commented on #1259
Thanks @humancompanion-usds. We do not actually have hint text variation in the VA DS. Well, we do but it's what we call the Text input with Additional info. So I didn't want to add it to the VA assets if it doesn't exist in our coded components. Do you still want me to add it to the VA assets?

[2022-11-09 17:51] davidakennedy commented on #1189
@SarahKay8 This is a great start! I do think adding some short documentation is a good place to begin here. I read back over the Slack thread, and I would be hesitant to add a role to this component by default. Only because there could be a lot of different situations where an alert could be used. I took what you drafted, and expanded it. Feedback welcome!

"In some situations, an ARIA role may ne

[2022-11-09 19:24] sterkenburgsara opened #1329 "Focus Bug within Pagination UI Component"
# Bug Report

- [ ] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

When reviewing a new product in staging review, I noticed issues with focus state on the pagination component. But I have replicated the same issue live using the component library's pagination component and payment history. When you select a new page within search results, both the

[2022-11-09 19:41] humancompanion-usds commented on #1259
Thanks, @GnatalieH. I understand. @caw310 - We should fix this. Additional info cannot be the only option for hint text. In fact, I updated our guidance last week to capture the 3 different levels: https://design.va.gov/components/form/#hint-text
These need to be supported by the web component and shown in Sketch. Thanks.

[2022-11-09 20:08] humancompanion-usds commented on #1299
Looks good to me. @SarahKay8 - Go ahead and make the updates to the page and assign to me for review. If you need help with that Natalie should be able to help or I can. For the tile option (description) that USWDS has. We just added that so work with @jamigibbs to make the aria-describedby change you described. This is a great example of where USWDS may not have thought of this and we can correct

[2022-11-09 20:11] humancompanion-usds commented on #935
Comments in PR. Once @jamigibbs has decided with Brooks to remove .va-note and had the PR reviewed by Brooks then we can move forward and commit this change. Yay!

[2022-11-09 20:12] SarahKay8 commented on #1299
@humancompanion-usds will do! Thanks Matt

[2022-11-09 21:13] caw310 commented on #1259
I will take a look and write up tickets for updating the web component.

[2022-11-09 23:06] GnatalieH commented on #1259
@humancompanion-usds I added hint text and hint text-error variations to the symbols for VA Text input.

[2022-11-09 23:07] #1259 closed

[2022-11-10 16:21] skylerschain opened #1330 "Experimental Design [List Item]"
## What

## Purpose

## Usage

## Behavior

- Header
- Subheader (optional)
- CTA (optional)

## Examples

<img width="517" alt="Screen Shot 2022-11-10 at 11 20 00 AM" src="https://user-images.githubusercontent.com/95102058/201149915-568974e4-5c97-4fa3-bac2-e9775b3aa974.png">

## Accessibility

## Guidance

## Research (optional)

## Next steps
You may present your work to the Design System Counci

[2022-11-10 17:39] humancompanion-usds commented on #1109
This is 1 of 3 high priorities from DSC.

[2022-11-10 18:13] caw310 opened #1331 "Discovery: How to incorporate USWDS components into Storybook"
## Description
There's an issue in Storybook when incorporating a USWDS v3 component where Formation causes issues. Discovery work is needed to identify the best way to resolve this issue.
Options that have been suggested:
- identify smallest piece of formation we need
- Test different instance of Storybook
- Would adding stylesheet toggle work - https://storybook.js.org/addons/storybook-styleshee

[2022-11-10 18:28] jamigibbs commented on #1055
I tested this in staging and it appears that the issue was resolved as part of https://github.com/department-of-veterans-affairs/component-library/pull/501

https://staging.va.gov/profile/contact-information

![Screen Shot 2022-11-10 at 9 52 22 AM](https://user-images.githubusercontent.com/872479/201142537-5b141ee1-68fe-427b-88a5-040c294777b8.png)

[2022-11-10 18:28] #1055 closed

[2022-11-10 19:22] jaredcunha opened #1332 "Pagination missing accessible name for landmark"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

Because the pagination component is a navigation landmark without an accessible name, it's hard to distinguish it from form the main navigation in the rotor menu.

<img width="926" alt="Screen Shot 2022-11-10 at 2 09 58 PM" src="https://user-images.githubusercontent.com/1094951/20118

[2022-11-10 19:47] benbrasso-agile6 opened #1333 "Experimental Design Progress Bar - Segmented"
## What

- Introduce a current step or chapter segment color
- Remove the form title and subtitle out of the component and relocate them to a simplified VA.gov header navigation

## Purpose

- Indicate where a user is in a multi-step process that spans several different pages that can be organized into three or more high-level steps or chapters. This helps users understand the progression of long

[2022-11-10 21:25] caw310 opened #1334 "Update va-textinput web component"
## Description
The Textinput web component needs to be updated to include two more text input with hint text examples.

## Details
Missing from Storybook are the hint text examples for text input (https://design.va.gov/components/form/#hint-text)
Text input with the “Default hint text”
Text input with “Inline within the label”

![Screenshot 2022-11-10 at 10 50 12 AM](https://user-images.githubuser

[2022-11-10 23:18] bkjohnson commented on #1331
Since storybook doesn't have true pages for each component, I don't think that we'll be able to limit certain global CSS for the `html` element to particular pages with a CSS-only solution. Something I did come up with a bit of exploring that could work is to _dynamically_ undo the font-size changes from `formation` with a script like this:

[code]

[2022-11-11 18:15] jamigibbs commented on #1331
Having both Formation and v3 components on the same Storybook page was my biggest blocker. I like what where you're going with putting a USWDS v3 component on its own page that we can control though @bkjohnson.

I think an entirely new Storybook instance would be too heavy handed but integrating them "separately" into the existing Storybook is a nice compromise. We might not necessarily need a com

[2022-11-11 19:02] GnatalieH commented on #1293
### Access / authorization warning:

![Screen Shot 2022-11-10 at 9.36.58 AM.png](https://images.zenhubusercontent.com/6111980ab6b167c27c9a5723/8a96a9f1-90d1-4c07-b946-d78920ef833e)

### Access / system downtime warning:

![Screen Shot 2022-11-10 at 10.03.08 AM.png](https://images.zenhubusercontent.com/6111980ab6b167c27c9a5723/1f30c461-5658-4e8f-8f43-c50dcb9e4431)

### Access / authorization error:

[2022-11-11 19:03] GnatalieH commented on #1293
I left a comment with examples of System, Access, and Feedback error types (which are all of the error types in the Content style guide). Engagement messages are not actually errors.

[2022-11-11 19:03] #1293 closed

[2022-11-11 23:33] Pezequiel1976 opened #1336 "JavaScript"
# Bug Report

- [ ] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

## What I expected to happen

## Reproducing
- Formation version:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)

Steps to reproduce:

1.
2.
3.
4.

## Urgency
How urgent is this request? Please select the approriate option below and/or provide details
- [ ] This

[2022-11-14 15:02] #935 closed

[2022-11-14 15:20] jaredcunha opened #1337 "Accessibility issues with va-date component"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

I noticed a couple potential accessibility issues with the date field:
1. Hint text does not seem to have a programatic link to the hint text
2. The select boxes have an `aria-label` of "Please enter two digits for the month/day".  With the current select box, this has a couple relat

[2022-11-14 16:22] SarahKay8 commented on #1189
Documentation updated! Thanks @davidakennedy. I included the <role-region> section (I believe it doesn't hurt to add) and added MDN links.

[2022-11-14 16:57] bkjohnson commented on #1336
Closing empty issue.

[2022-11-14 16:57] #1336 closed

[2022-11-14 17:53] davidakennedy commented on #1071
Following up on this to tie some issues together. @jaredcunha filed a very similar issue in #1337 that calls out many of the same things.

From Jared's issue:

We reference this above, but it looks like it's not consistent on the [date component](https://design.va.gov/components/form/date-input). The attribute aria-describedby="dateHint" is on [memorable date](https://design.va.gov/components/form

[2022-11-14 17:55] davidakennedy commented on #1337
I tried to add this issue to #1071 since it calls out some of the same things. Also, noted the things that @jaredcunha found that aren't called out in that older issue. Good finds, and all related! Hopefully, I've explained how they can be combined. Weigh in if I haven't. If I have, we could probably close this issue.

[2022-11-14 18:31] #1189 closed

[2022-11-14 19:29] GnatalieH commented on #1327
Before I create a PR to update the Alert guidance on design.va.gov, I am making an outline of the existing Alert content next to some examples of different alert placements. I am gathering this work in a Mural. [Here is that link](https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1666809961448/e4033eda8bed1f392088a2fe02d25a0499bbd5a1?sender=u851998f98038e0f1e2da4592)

[2022-11-14 21:05] benbrasso-agile6 opened #1339 "Experimental Design Simplified VA Header and Footer"
## What

- Simplified VA.gov header navigation that removes Sign In and the menu
- Simplified VA.gov footer navigation that removes link lists and superlinks
- Introduce a site section name or form title, along with subtitle, in to the VA.gov header navigation

## Purpose

- Reduce the chances of users leaving a form or process (that doesn't support finishing the form later) before completing all

[2022-11-14 22:21] GnatalieH commented on #1327
And [here's a link to the PR](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/1340) I created to update the Alert Placement guidance.

[2022-11-14 22:29] GnatalieH opened #1341 "[Alert] - Add mobile size Default alert variations to the Sketch library"
## Description
Currently the only symbol options under Alert / mobile are Background only and Background only with icon. This gives the impression to Designers that only the Background style of alert can be used in mobile viewports.

## Details
We should include mobile-size Default alerts in all variations (Info, Warning, Success, Error, Sign-in/prompt) in our Sketch library.

## Tasks
- [ ] Condu

[2022-11-15 16:27] #1156 closed

[2022-11-15 16:35] GnatalieH opened #1342 "[Header] - Align Sketch assets with Production"
## Description
The authenticated and unauthenticated header symbols in Sketch do not match what's in Production and they also do not align with the VA DS spacing units. We should fix this so Designers can use header symbols with the proper specs, which means building the header navigation items as buttons in Sketch.

The header and page template symbols should be examined. The mobile header was up

[2022-11-15 17:19] #553 closed

[2022-11-15 23:25] caw310 opened #1343 "Set up CSS Class linting rule"
## Description
We need a way for VFS teams to easily update to the new CSS Class library based on USWDS v3. This ticket is to do the work to write a linting rule for this.

## Tasks
- [x] Write a linting rule for teams to easily update to the new CSS Class library
- [x] Test that this works
- [ ] Review with DST engineers
- [ ] Draft announcement that is shared with DST for feedback

## Acceptance

[2022-11-16 15:43] humancompanion-usds commented on #1326
Here is the issue from Ben: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1339

[2022-11-16 16:47] jamigibbs commented on #1331
### 1. Stylesheet toggle add-on

I installed the [Storybook Stylesheet Toggle](https://storybook.js.org/addons/storybook-stylesheet-toggle) add-on and what this does is it adds an additional menu item to Home page of Storybook. The toggle looks like this:

![Screen Shot 2022-11-14 at 12 50 34 PM](https://user-images.githubusercontent.com/872479/201742105-e2206f53-de95-4c58-8ca3-930318d03489.png)

[2022-11-16 16:49] humancompanion-usds commented on #1305
[https://app.zenhub.com/files/152664242/77df67f1-9cd2-45c9-9d33-1421fd090c23/download](https://app.zenhub.com/files/152664242/77df67f1-9cd2-45c9-9d33-1421fd090c23/download)

Shared the above file with Dano and James.

[2022-11-16 16:49] #1305 closed

[2022-11-16 16:53] skylerschain commented on #1330
Great, looking forward to it!

[2022-11-16 17:54] jaredcunha commented on #1337
@davidakennedy I think you've summarized the items in this ticket accurately in #1071 well.

[2022-11-16 21:08] #1299 closed

[2022-11-16 21:59] humancompanion-usds commented on #1186
@thehastingsp - Can you point me to your Sketch file, if that is in fact the best place to pull examples from? Thanks.

[2022-11-16 22:22] bkjohnson commented on #1343
The goal of this linting rule would be to identify uses of current `formation` [utility classes](https://design.va.gov/foundation/utilities/), like `vads-u-background-color--primary` and flag them. We may want to go with ESLint's Suggestions API that we've been using so far instead of an auto-fixable rule. The reason we might want to avoid an auto-fixable rule for this is that since these new util

[2022-11-16 22:40] Mottie commented on #1186
Supplemental Claims URL was change to: https://staging.va.gov/decision-reviews/supplemental-claim/file-supplemental-claim-form-20-0995 (the "request-supplemental" was changed to "file-supplemental"), and for some reason if the `/introduction` or `/start` are included in the url, the page shows as not found

[2022-11-17 15:25] jaredcunha commented on #1071
@davidakennedy I think you've summarized my issue well here.

Perhaps, while at it, whatever any kind of hint text becomes, can we also address the use of "Please" by not using it?

[2022-11-17 16:33] outerpress commented on #603
@bkjohnson @humancompanion-usds What are the next steps to get an add-to-calendar link into the design system?

VAOS is in the process of updating this pattern to use the va-link component - see @ryanshaw comments in ticket [13011](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13011).

[2022-11-17 19:57] caw310 opened #1345 "Fix va-radio button alignment"
## Description
There are alignment issues with the radio button web component. It has padding on the left that is not necessary and needs to be removed.

## Details
The issue was brought to our attention by Robin who is using both the React radio button and va-radio on a form. It's causing some weirdness when going between pages.

See Sack discussion with examples.
https://dsva.slack.com/archives/

[2022-11-17 20:03] caw310 opened #1346 "Update Radio Button designs"
## Description
There are alignment issues with the radio button design screenshots on design.va.gov and in Sketch. It has padding on the left that is not necessary and needs to be removed.

## Details
The issue was brought to our attention by Robin who is using both the React radio button and va-radio on a form. It's causing some weirdness when going between pages. The va-radio button web componen

[2022-11-17 20:29] humancompanion-usds commented on #1346
Please note that it looks like there is a difference in spacing between the radio buttons as well in the Forms library versus web-component. Please investigate and determine the correct course of action.

[2022-11-18 16:52] #1257 closed

[2022-11-18 16:53] #979 closed

[2022-11-18 19:10] caw310 commented on #1339
This request was discussed in the 11.18 DSC meeting. Decision is for check-in team to proceed with testing and talk to Patrick about having a conversation to find out the legal requirements for what needs to be in the footer.

[2022-11-18 19:10] humancompanion-usds commented on #1006
Updated URL: https://design.va.gov/patterns/ask-users-for/email-address

* Update screenshot to not include the confirmation field.
* Remove validate email addresses and replace with "Prepopulate email address from Profile whenever possible" as this makes it easier for users as they have one less field to complete.

[2022-11-18 19:11] caw310 commented on #1333
This request was discussed in 11.18 DSC meeting.
Action items:
Go ahead and research this
DST needs to figure out where we are currently so will add a backlog item to do an audit.

[2022-11-18 19:19] caw310 opened #1347 "Audit of segmented progress bar component"
## Description
The check-in team submitted an experimental design request to modify the segmented progress bar (https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1333). During DSC discussion, a number of questions came up that lead to the realization that we should do an audit to understand how this is used.

https://design.va.gov/components/form/progress-ba

[2022-11-18 19:23] humancompanion-usds commented on #857
Let's compare the content in github to this page https://design.va.gov/templates/forms/confirmation and note what is different.

[2022-11-18 20:47] GnatalieH commented on #1327
@caw310 this ticket will carry over to Sprint 15. Per Matt's latest Slack comment on 11/18:

"I'd like to keep going through the examples you collected so we can further refine why background-only Alerts exist and when, and when not, to use them. It's still pretty nebulous at the moment. We're getting there but not quite well defined yet."

Thanks.

[2022-11-18 21:36] humancompanion-usds commented on #603
@outerpress - The short answer is that new components and updating components is something we are putting on the back burner while we catch our system up to USWDS v3. However, building an "add to calendar" link based on va-link that uses a calendar icon would be most welcome. If you all want to contribute a PR we'd be happy to review and streamline getting that in given that you're just extending

[2022-11-18 21:56] GnatalieH commented on #1097
@humancompanion-usds this work is ready to review on the [Accordion page](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/Gmg1e75) (at the bottom of the Mobile artboard). Thanks.

[2022-11-18 22:35] outerpress commented on #603
@humancompanion-usds thanks! We'll work in that direction.

[2022-11-21 18:28] #1331 closed

[2022-11-21 19:35] jaredcunha commented on #1334
The default hint text pattern is something that has come across our radar recently, and I thought I might add a couple thoughts.

The text input should have a programmatic link to the hint text with `aria-describedby`, which the [VA hint text example](https://design.va.gov/components/form/#default-hint-text) does not have. This will be very important for screen readers using tab navigation in orde

[2022-11-22 22:04] humancompanion-usds commented on #1097
Approved! Just be sure to update the release notes.

[2022-11-23 00:13] brianseek opened #1349 "Loading indicator error on route"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened
Part of the errors described in this thread: https://dsva.slack.com/archives/C01DBGX4P45/p1669047962953369

In React, when showing a va-loading-indicator, then routing to a new page the loading indicator seems to have an error with its disconnect.
![Screen Recording 2022-11-22 at 4 07

[2022-11-23 00:51] brianseek opened #1350 "Text input error text doesn't change languages when toggling"
# Bug Report

- [x] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

When toggling the language while an error state is active, the error text doesn't update with new language. It does update if the error gets triggered again.
### Initial toggle after error present
![step1](https://user-images.githubusercontent.com/13967174/203449295-d8aaba47-930d-4a6

[2022-11-23 17:32] EClancyVA opened #1351 "(SCREENREADER) VaModal reads close button incorrectly"
When displaying a VaModal with a status of warning, the screen reader will immediately read "Close [Modal Title], to activate press enter". It will then read the Modal Title again, then "Hollow square bullet" (which is, I think, trying to read the warning symbol next to the title), and then it will finally read the Modal Title a third time.

If you open the modal again though, it will skip reading

[2022-11-23 20:22] bkjohnson commented on #1025
Here are some questions for us to answer?

1. Is there a reason for anyone to use a `<table>` directly? We already discourage using tables for layout reasons, and we have a responsive table component. If the answer is no, then we don't have to include [these table styles](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/c95a7a9ae6e554aeb2af2cab5836bd927302436d/p

[2022-11-23 22:41] imelda-guzman opened #1352 "va-accordion is not 508 compliant"
# Bug Report

- [X] I’ve searched for any related issues and avoided creating a duplicate issue.

## What happened

Our application recently went through a 508 audit and came back with several defects. One of the defects was reported against the va-accordion header/title.

![va-accordion-non-508-compliant](https://user-images.githubusercontent.com/748095/203653947-408b25a0-c1a4-44fa-9208-e831ec01c

[2022-11-28 16:08] #1186 closed

[2022-11-28 16:40] GnatalieH commented on #1097
I've added this item to the [November release notes](https://vfs.atlassian.net/wiki/spaces/DST/pages/2356215938/November+2022+Updates), and closing out the ticket.

[2022-11-28 16:40] #1097 closed

[2022-11-28 16:52] andaleliz commented on #1167
Here's another example of this from Storybook:
<img width="324" alt="image" src="https://user-images.githubusercontent.com/55992116/204335468-f10ac1f6-6872-4790-a0d2-ae41e2f780f0.png">

and on the health application page (va.gov/health-care/apply/application/introduction):
<img width="376" alt="Screen Shot 2022-11-28 at 11 51 26 AM" src="https://user-images.githubusercontent.com/55992116/204335543

[2022-11-28 17:49] jhonnyoddball commented on #1322
## Recommended solution

A testing [PR](https://github.com/department-of-veterans-affairs/component-library/pull/581) was created to simulate this behavior.

The recommended solution will be making `uswds` and `css-library` as direct dependencies of our `web-components` package. Therefore, we will be able to include the full paths into `stencil`.

[code]

We will be importing from `variables` toke

[2022-11-28 20:07] caw310 opened #1353 "Add ESLint warning for Radion Button React component"
## Description
We need to move the Radio button  React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

## Tasks
- [ ] Check that all bugs related to radio button have been fixed
- [ ] Create an ESlint warning for the React radio button component

## Acceptance Criteria
- [ ] ESlint warning

[2022-11-28 20:18] caw310 commented on #1353
Closing as this work has been done already.

[2022-11-28 20:18] #1353 closed

[2022-11-28 20:23] caw310 opened #1354 "Move to Deprecation Phase 2 - Alert React component"
We need to move the Alert  React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story for the compo

[2022-11-28 20:27] caw310 opened #1355 "Move to Deprecation Phase 2 - CheckboxGroup React component"
We need to move the CheckboxGroup React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story for th

[2022-11-28 20:40] caw310 opened #1356 "Move to Deprecation Phase 2 - ProgressButton / button pair React component"
We need to move the ProgressButton / button pair React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybo

[2022-11-28 20:42] caw310 opened #1357 "Move to Deprecation Phase 2 - Additional info React Component"
We need to move the AdditionalInfo React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story for t

[2022-11-28 20:45] caw310 opened #1358 "Move to Deprecation Phase 2 - LoadingIndicator React component"
We need to move the LoadingIndicator React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story for

[2022-11-28 20:46] caw310 opened #1359 "Deprecation - OMBInfo React component"
## Description

Per team discussion, we are sunsetting our previous phased deprecation strategy in favor of directly migrating components ourselves. Migration steps look like this:

1. Submit PR, let the email go out, wait a day. If no action:
2. @ the team(s) directly with a comment on the PR. Wait a day. If no action:
3. Message the team(s) directly in slack, requesting a review.  Wait a day. If

[2022-11-28 20:56] caw310 opened #1360 "Move to Deprecation Phase 2 - Dropdown panel"
We need to move the Dropdown panel React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story for t

[2022-11-28 20:58] caw310 opened #1361 "Move to Deprecation Phase 2 - System down view"
We need to move the System down view React component to phase 2 of the [deprecation process](https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components).

This means we need to check to see if the component is still being used in vets-website. If it is, we need to update the ESLint rule to be an error instead of a warning, remove the Storybook story for

[2022-11-28 21:26] GnatalieH opened #1362 "Remove excess lefthand padding/margin in ordered lists in Formation"
## Description
The excess lefthand padding/margin space in ordered lists in Formation creates a situation where about 25% of the lefthand side of the screen is taken up by white space in the mobile view. This leads to more scrolling and is bad for readability on mobile. We should remove unnecessary padding, which is also closer to how USWDS does it.

## Details
Current state in Production:

![loca

[2022-11-29 15:53] GnatalieH commented on #1346
[Here is a link](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/R18WG5Z) to the new Radio button designs.

[2022-11-29 15:57] GnatalieH commented on #1294
[Here is a link](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/a/R18WG5Z) to the new Radio button designs. I've removed the top/bottom margins from the single radio button symbols. I did that because the margin is different depending on the order of the radio button option. There is a 12px bottom margin on the radio button label/legend, and 10px top margin between radio button opti

[2022-11-29 18:24] jamigibbs commented on #1352
Hi @imelda-guzman. Can you provide a link to where this accordion is implemented? The header is passed into the component as a slot so there could be a number of ways that has been done. [For example](https://design.va.gov/storybook/?path=/docs/components-va-accordion--default):

[code]

[2022-11-29 18:33] SarahKay8 commented on #1352
@imelda-guzman Thanks for bringing this to our attention. After receiving a link, I'd like to run a few tests on it.

[2022-11-29 19:00] caw310 opened #1363 "Maintenance Banner - Design"
## Description
Update Sketch artifacts for Maintenance Banner as/if needed as we will be building a Maintenance Banner web component.

If this is a pattern or component that is already in existence, conduct a small-scale audit (3-5 examples) to make sure there aren't design issues that need to be addressed. Also, check the Design System Team backlog for outstanding design issues. If you find any,

[2022-11-29 20:23] imelda-guzman commented on #1352
@jamigibbs our application is not in production yet only in our dev and staging environment.
We are currently using the va-accordion in our code like this:
[code]
It appears the "header" attribute defines what gets printed in the slot.  According to documentation in [Storybook ](https://design.va.gov/storybook/?path=/docs/components-va-accordion--default) I can change the level of the header but g

[2022-11-29 21:11] caw310 opened #1364 "Icon component - Design"
## Description
Create design for icon component  and/or update Sketch artifacts for Icon component

If this is a pattern or component that is already in existence, conduct a small-scale audit (3-5 examples) to make sure there aren't design issues that need to be addressed. Also, check the Design System Team backlog for outstanding design issues. If you find any, link to them in a comment on this t

[2022-11-29 21:12] caw310 opened #1365 "Icon web component - Accessibility review"
## Issue Description
We need to conduct a full accessibility review of the Icon web component. The component can be viewed in Storybook here: [insert Chromatic link here]

## Tasks
- [ ] Full accessibility review of the component is completed
- [ ] Add descriptions of any issues found to this ticket
    - [ ] If any problems are found, add screen recordings and/or screenshots to comments on this t

[2022-11-29 21:14] caw310 opened #1366 "Icon web component - Development"
## Description
Build a web component of Icon. Be sure to add analytics if necessary, see [guidance](https://vfs.atlassian.net/wiki/spaces/DST/pages/2079817745/Component+development+process#Analytics%5BinlineExtension%5D).

If this is a pattern or component that is already in existence, check the Design System Team backlog for outstanding issues. If you find any, link to them in a comment on this t

[2022-11-29 21:16] humancompanion-usds commented on #1341
@GnatalieH - I went ahead and grabbed this. Add mobile for the default Alerts:

https://sketch.com/s/610156b6-f281-4497-81f3-64454fc72156

Let me know if that link doesn't work. I just saved it into the Pattern library but I have not starred the release yet.

I also updated the desktop Alerts to match the icon size and spacing which it looks like we missed last time we updated these. Anyway, give

[2022-11-29 21:22] caw310 opened #1367 "[Epic] Deprecate React Components"
## Description
This epic will be used to track work associated with deprecating React components.

## Details
_optional, delete section if not needed_

## Tasks
- [ ] Associate any deprecation work to this ticket (including web component development)

## Acceptance Criteria
- [ ]

[2022-11-29 21:40] GnatalieH commented on #1327
@humancompanion-usds updated [the PR](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/1340) and tagged you. Ready for review. Thanks.

[2022-11-29 21:57] GnatalieH commented on #1341
@humancompanion-usds updated the desktop icon size and spacing to match the coded components?

I think everything looks consistent and fine. I do wish the icon size was smaller on the mobile Default alerts so there wasn't so much negative lefthand space. I hear complaints from Designers and from Allison about this issue, often. I know some alert content can get quite long, and the icon effectively

[2022-11-29 22:04] humancompanion-usds commented on #1346
Does 10px between radio options match the Forms library? That is what I need clarity on.

[2022-11-29 22:04] jamigibbs commented on #1345
I'm doing a little discovery to understand the different radio component padding variations and I'm seeing an interesting divergence with the forms library that I'm not sure that I understand.

**Forms Library**
![Screen Shot 2022-11-29 at 3 57 22 PM](https://user-images.githubusercontent.com/872479/204657482-40ca8b04-3803-4395-9017-9bb7e3bccbb2.png)

**React Component ([as previously displayed in

[2022-11-30 17:20] caw310 commented on #1345
USWDS version doesn't indent.
12 pixel margin in between the options.

[2022-11-30 17:50] GnatalieH commented on #1346
@jamigibbs can you answer this? I'm not 100% sure if the radio buttons I can inspect on VA.gov are coming from the forms library or not.

[2022-11-30 18:48] caw310 opened #1368 "Update Link component with calendar variation - Documentation"
## Description
Add or update documentation and guidance for Link component to include guidance on the calendar variation the VAOS team added on design.va.gov. When adding a new component, use the [component documentation template](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/blob/main/src/_components/template.md).

## Details
https://github.com/department-of-v

[2022-11-30 18:57] jamigibbs commented on #1346
@humancompanion-usds @GnatalieH It looks like Forms Library style (which is coming from Formation) is calculating to 16px:

![Screen Shot 2022-11-30 at 12 53 14 PM](https://user-images.githubusercontent.com/872479/204884268-60c99d30-0c65-4534-9cd7-3d3ba68b8280.png)

USWDS v3 is showing 12px:

![Screen Shot 2022-11-30 at 12 55 08 PM](https://user-images.githubusercontent.com/872479/204884530-b0a900

[2022-11-30 20:44] GnatalieH commented on #1346
Thanks @jamigibbs. 16px is excessive and makes the radio button options almost look unrelated to each other. I'm fine with using 12px. I just am hoping we can use the same value between the legend and the first option as we do between the radio options themselves. That's what I wanted to resolve through my updated designs.

[2022-11-30 21:35] #523 closed

[2022-11-30 22:03] humancompanion-usds opened #1369 "Update the Help users to check answers pattern and add Forms > Review template"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Pattern

### What is the name?

Help users to check answers

### What is the nature of this update?

- [X] How to build this component/pattern
- [X] When to use this component/pattern
- [X] When to use something else
- [X] Usability guidance
- [X] Accessibility
- [X] Im

[2022-11-30 22:08] humancompanion-usds opened #1370 "Audit for new pattern to Help users to check the status of their claim"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Pattern

### What is the name?

Help users to check the status of their claim

### What is the nature of this update?

- [X] How to build this component/pattern
- [X] When to use this component/pattern
- [X] When to use something else
- [X] Usability guidance
- [X] Acce

[2022-11-30 22:23] humancompanion-usds opened #1371 "Experimental design - Add pattern for Ask users for housing situation"
### Duplicate check

- [X] I've searched for any related issues and avoided creating a duplicate issue.

### This update is for:

Pattern

### What is the name?

Ask users for housing situation

### What is the nature of this update?

- [X] How to build this component/pattern
- [X] When to use this component/pattern
- [X] When to use something else
- [X] Usability guidance
- [X] Accessibility
- [X

[2022-11-30 22:32] humancompanion-usds commented on #702
We did spawn #1109 to create a new pattern however, I think there is a great example of different pattern in here which [Miki pointed out ](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/702#issuecomment-1106726386) for the pattern to Help users to check their eligibility. That pattern only received 3 votes from DSC and VFS Teams but, given that I have a